#calendar {
	padding: 10px 10px 10px 10px;
	max-width: 900px;
	margin: 40px auto;
	display: none;
}
.fc-day {
	overflow: visible;
	position: relative;
	z-index: 1;
}
.fc-unthemed td.fc-today {
	background: var(--brand-color-secondary);
}
.fc-view {
	white-space: normal;
}
.fc-day-grid-event .fc-content {
	white-space: nowrap;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	transition: all 0.3s ease;
	font-size: 0.9rem;
}
.fc-day-grid-event:hover .fc-content {
	white-space: normal;
	overflow: visible;
	width: auto;
	height: auto;
	position: relative;
	z-index: 9999;
}
.fc-row {
	height: auto;
}
.fc-scroller {
	height: auto;
}
@media (max-width: 820px) {
	.fc-day-grid-event:hover .fc-content {
		font-size: 0.8rem;
	}
}
@media (max-width: 680px) {
	.fc-day-grid-event:hover .fc-content {
		font-size: 0.6rem;
	}
}
@media (max-width: 534px) {
	.fc-day-grid-event:hover .fc-content {
		font-size: 0.4rem;
	}
}
.calendar-row {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 3rem;
}
@media screen and (min-width: 900px) {
	.calendar-row {
		/* change the flex direction */
		flex-direction: row;
	}
}
@-webkit-keyframes load6 {
	0% {
		-webkit-animation: loader 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s infinite;
		animation: loader 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s infinite;
	}
	5%,
	95% {
		box-shadow:
			0 -0.83em 0 -0.4em,
			0 -0.83em 0 -0.42em,
			0 -0.83em 0 -0.44em,
			0 -0.83em 0 -0.46em,
			0 -0.83em 0 -0.477em;
	}
	10%,
	59% {
		box-shadow:
			0 -0.83em 0 -0.4em,
			-0.087em -0.825em 0 -0.42em,
			-0.173em -0.812em 0 -0.44em,
			-0.256em -0.789em 0 -0.46em,
			-0.297em -0.775em 0 -0.477em;
	}
	20% {
		box-shadow:
			0 -0.83em 0 -0.4em,
			-0.338em -0.758em 0 -0.42em,
			-0.555em -0.617em 0 -0.44em,
			-0.671em -0.488em 0 -0.46em,
			-0.749em -0.34em 0 -0.477em;
	}
	38% {
		box-shadow:
			0 -0.83em 0 -0.4em,
			-0.377em -0.74em 0 -0.42em,
			-0.645em -0.522em 0 -0.44em,
			-0.775em -0.297em 0 -0.46em,
			-0.82em -0.09em 0 -0.477em;
	}
	100% {
		box-shadow:
			0 -0.83em 0 -0.4em,
			0 -0.83em 0 -0.42em,
			0 -0.83em 0 -0.44em,
			0 -0.83em 0 -0.46em,
			0 -0.83em 0 -0.477em;
	}
}
@keyframes load6 {
	0% {
		box-shadow:
			0 -0.83em 0 -0.4em,
			0 -0.83em 0 -0.42em,
			0 -0.83em 0 -0.44em,
			0 -0.83em 0 -0.46em,
			0 -0.83em 0 -0.477em;
	}
	5%,
	95% {
		box-shadow:
			0 -0.83em 0 -0.4em,
			0 -0.83em 0 -0.42em,
			0 -0.83em 0 -0.44em,
			0 -0.83em 0 -0.46em,
			0 -0.83em 0 -0.477em;
	}
	10%,
	59% {
		box-shadow:
			0 -0.83em 0 -0.4em,
			-0.087em -0.825em 0 -0.42em,
			-0.173em -0.812em 0 -0.44em,
			-0.256em -0.789em 0 -0.46em,
			-0.297em -0.775em 0 -0.477em;
	}
	20% {
		box-shadow:
			0 -0.83em 0 -0.4em,
			-0.338em -0.758em 0 -0.42em,
			-0.555em -0.617em 0 -0.44em,
			-0.671em -0.488em 0 -0.46em,
			-0.749em -0.34em 0 -0.477em;
	}
	38% {
		box-shadow:
			0 -0.83em 0 -0.4em,
			-0.377em -0.74em 0 -0.42em,
			-0.645em -0.522em 0 -0.44em,
			-0.775em -0.297em 0 -0.46em,
			-0.82em -0.09em 0 -0.477em;
	}
	100% {
		box-shadow:
			0 -0.83em 0 -0.4em,
			0 -0.83em 0 -0.42em,
			0 -0.83em 0 -0.44em,
			0 -0.83em 0 -0.46em,
			0 -0.83em 0 -0.477em;
	}
}
@-webkit-keyframes round {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes round {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
