html {
  width: 100%;
  background: linear-gradient(to bottom, #395054 0%, #00d3a9 100%) no-repeat !important;
}
.cover {
  width: 100%;
  height: 100%;
  margin-top: 7rem;
}

header {
  top: 0rem;
  height: 2.5rem;
  padding-top: 0.8rem;
}

.program {
  border: 1px solid #00d4ab;
  border-radius: 20px;
  margin: auto;
  background-color: #ffffff;
  width: 90%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3rem;
  justify-content: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1rem;
  max-width: 1400px;
}

.program ol {
  padding-inline-start: 0;
}

.title {
  text-align: center;
  color: #ffffff;
}

.image-div {
  align-items: flex-end;
  text-align: center;
}

.heading {
  text-align: center;
  font-weight: bolder;
  font-size: x-large;
  text-decoration: overline;
  text-decoration-color: #00d4ab;
}

.project-item {
  margin-bottom: 1.5rem;
}

.project-list {
  font-size: medium;
  padding-left: 2rem;
  margin-top: 0;
  margin-bottom: 0.2rem;
}

.project-details {
  border-left: 1px solid rgb(210, 180, 140);
  padding-bottom: 2rem;
}

.program-p {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2rem;
  font-size: smaller;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.appear {
  display: none;
}

.participate-btn {
  background-color: #3c494f;
  width: 50%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: #ffffff;
  cursor: pointer;
}

.participate-btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.participate-btn:hover {
  background-color: #00d4ab;
}

li {
  list-style: none;
}

.subscribe {
  width: 60%;
  height: 14rem;
  margin: auto;
  background-color: #ffffff;
  margin-top: 5rem;
  margin-bottom: 5rem;
  max-width: 1000px;
}

.subscribe-h2 {
  margin-bottom: 25px;
  text-align: center;
}

.programlist-subscribe {
  background-color: #395054;
  color: #ffffff;
}

.subhead {
  font-size: 1rem;
  padding-left: 2rem;
}

.small-li li {
  font-size: 0.9rem;
}

.card-div {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10rem;
  justify-content: center;
}

#program-card-img {
  width: 10%;
  height: inherit;
  vertical-align: middle;
  position: relative;
  z-index: -1;
}

.card-img {
  width: 80%;
  height: 50%;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

img {
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.card {
  width: 20%;
  padding-top: 2rem;
  margin: 2rem;
  text-align: center;
  background-color: #395054;
  border: 2px solid #395054;
  border-radius: 5px;
  border: 0;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  color: whitesmoke;
}

.card:hover {
  transition: 0.25s ease-out;
  box-shadow: 0 7px 7px 1px rgba(0, 0, 0, 0.14),
    0 3px 6px 2px rgba(0, 0, 0, 0.12), 0 4px 4px -3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 7px 7px 1px rgba(0, 0, 0, 0.14),
    0 3px 6px 2px rgba(0, 0, 0, 0.12), 0 4px 4px -3px rgba(0, 0, 0, 0.3);
}

.cncf-firstrow {
  max-width: 1400px;
  border: 2px solid #00d4ab;
  border-radius: 20px;
  margin: auto;
  background-color: #ffffff;
  width: 90%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 1rem;
}

.cncf-firstrow-span1 {
  width: 70%;
}

.cncf-firstrow-span2 {
  width: 30%;
}

.cncf-secondrow {
  display: flex;
  margin-top: 4rem;
  margin-left: 1rem;
}

#cncf-meshery-img {
  width: 80%;
  padding-right: 1rem;
  padding-top: 5rem;
}

#cncf-logo {
  width: 50%;
  padding-left: 5rem;
}

.issue {
  padding-left: 2rem;
  font-size: small;
}

@media screen and (max-width: 840px) {
  .layer5-details {
    border-left: 1px solid rgb(210, 180, 140);
  }

  .program {
    border: 0px solid #00d4ab;
    border-radius: 20px;
    margin: auto;
    background-color: #ffffff;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 3rem;
    justify-content: center;
    display: block;
  }

  .project-list {
    padding-left: 0.5rem;
  }

  .issue {
    padding-left: 0.4rem;
  }

  .layer5-details {
    border-left: 1px solid rgb(210, 180, 140);
  }

  .project-details {
    border-left: 1px solid rgb(210, 180, 140);
    padding-bottom: 1rem;
  }

  .title {
    text-align: left;
    color: #ffffff;
    font-size: 1.2rem;
    padding-left: 0.6rem;
  }

  ol,
  ul,
  .program-p,
  dt {
    padding: 0 0.5rem !important;
  }

  .subscribe {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .subscribe h2 {
    font-size: 1.2rem;
  }

  .cncf-firstrow {
    max-width: 1400px;
    border: 2px solid #00d4ab;
    border-radius: 20px;
    margin: auto;
    background-color: #ffffff;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 1rem;
  }

  .cncf-firstrow-span1 {
    width: 100%;
  }

  .cncf-firstrow-span2 {
    width: 20%;
    top: 80px;
    right: 20px;
    position: absolute;
    display: none;
  }

  .cncf-secondrow {
    display: block;
    margin-top: 2rem;
    margin-left: 1rem;
  }

  #cncf-participate-btn {
    width: 50% !important;
  }

  #cncf-meshery-img {
    display: none;
  }

  .card-div {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10rem;
    justify-content: center;
  }

  .card-img {
    width: 80%;
    height: 50%;
  }
  .card {
    width: 40%;
    padding-top: 2rem;
  }
  .disappear {
    display: none;
  }
  .appear {
    display: block;
  }
}

@media screen and (max-width: 640px) {
  .card {
    width: 40%;
    padding-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
