.subscribe-a {
  text-align: center;
}

.email-div {
  white-space: nowrap;
  vertical-align: bottom;
  margin-top: 5px;
}

.subscribe-button {
  padding-bottom: 10px;
  padding-top: 10px;
  width: 300px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.subscribe-inputbox {
  white-space: nowrap;
}
#mc_embed_signup {
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
#mc_embed_signup .button {
  width: 100%;
  margin: 0px;
  background-color: rgba(255, 152, 0, 0.5);
  text-align: center;
}

#mc_embed_signup .button:hover {
  background-color: rgba(255, 152, 0, 0.7);
}

#mc_embed_signup .button {
  width: 100%;
  margin: 0px;
  background-color: rgba(255, 152, 0, 0.5);
  text-align: center;
}

#mc_embed_signup .button:hover {
  background-color: rgba(255, 152, 0, 0.7);
}

#mc_other_mailinglist {
  background-color: rgb(0, 0, 0);
  padding: 3rem 1.5rem;
  color: #ffffff;
  text-align: center;
}

#mc_mailinglist_group {
  display: grid;
  gap: 0.75rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.mc-maillists_button {
  display: block;
  color: #ffffff;
  padding: 1rem .5rem;
  background: rgba(100, 120, 129, 1);
  border-radius: 5px;
  transition: background 300ms ease-in;
  font-weight: bold;
}

.mc-maillists_button:hover {
  background: rgba(100, 120, 129, .8);
  text-decoration: none;
}

@media (max-width: 768px) {
  #mc_embed_signup input.email {
    width: 100%;
    margin-bottom: 5px;
  }

  #mc_embed_signup .clear {
    display: block;
    width: 100%;
  }

  #mc_embed_signup .button {
    width: 100%;
    margin: 0;
  }

  #mc_mailinglist_group {
    display: block;
  }

  .mc-maillists_button {
    margin-bottom: .5rem;
  }
}

@media (min-width:870px) and (max-width: 1070px) {
  #mc_embed_signup
  {
    width: 90%;
  }
}

@media (min-width:768px) and (max-width: 869px) {
  #mc_embed_signup
  {
    width: 100%;
  }
}