.subscribe-a {
  text-align: center;
}

.email-div {
  white-space: nowrap;
  vertical-align: bottom;
  margin-top: 1.5rem;
}

.subscribe-button {
  width: 100%;
  padding: .8rem .5rem;
  background: rgba(100, 120, 129, 1);
}

.NAME,.NAME,.EMAIL{
  width:100%;
  height:3.5rem;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
}

.NAME::placeholder,.NAME::placeholder,.EMAIL::placeholder{
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 0.5px;
  color: #999999;
}

.subscribe-inputbox {
  display: flex;
  gap:2rem;
  white-space: nowrap;
}

.subscribe-button{
  display: flex;
  justify-content: center;
  height:3.5rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  letter-spacing: 0.5px;
}

#mc_embed_signup {
  clear: left;
  width: 100%;
  font: 14px Helvetica, Arial, sans-serif;
  text-align: center;
}

/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
#mc_embed_signup .button {
  width: 100%;
  margin: 0px;
  background-color: rgba(255, 152, 0, 0.5);
  text-align: center;
}

#mc_embed_signup .button:hover {
  background-color: rgba(255, 152, 0, 0.7);
}

#mc_embed_signup .button {
  width: 100%;
  margin: 0px;
  background-color: rgba(255, 152, 0, 0.5);
  text-align: center;
}

#mc_embed_signup .button:hover {
  background-color: rgba(255, 152, 0, 0.7);
}

#mc_other_mailinglist {
  background-color: rgb(0, 0, 0);
  padding: 4.875rem 19.875rem ;
  color: #ffffff;
  text-align: center;
}

#mc_other_mailinglist > h3{
  font-style: normal;
  font-weight: 500;
  font-size: 2.125rem;
  line-height: 2.25rem;
  color: #FFFFFF;
}

#mc_other_mailinglist > p{
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: 0.15px;
  margin-bottom:2.5rem ;
  margin-top: 1.5rem;
  color: #FFFFFF;
}

#mc_mailinglist_group {
  display: flex;
  gap: 1.4rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.mc-maillists_button {
  justify-content: center;
  align-self: center;
  align-content: center;
  display: flex;
  width:100%;
  color: #ffffff;
  padding: .8rem .5rem;
  background: rgba(100, 120, 129, 1);
  border-radius: 1px;
  transition: background 300ms ease-in;
}

.mc-maillists_button:hover {
  background: rgba(100, 120, 129, .8);
  text-decoration: none;
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 20.875rem 6.625rem 20.875rem;
}

.form-container>p{
  font-style: normal;
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 2.25rem;
  color: #000000;
}

@media (max-width: 768px) {
  #mc_embed_signup input.email {
    width: 100%;
    margin-bottom: 5px;
  }

  #mc_embed_signup .button {
    width: 100%;
    margin: 0;
  }

  #mc_mailinglist_group {
    display: block;
  }

  .mc-maillists_button {
    margin-bottom: .5rem;
    width: unset;
  }
  .form-container{
    padding:4rem 3vw;
  }
  #mc_other_mailinglist{
    padding:4.875rem 3vw;
  }
}

@media (min-width:870px) and (max-width: 1070px) {
  #mc_embed_signup
  {
    width: 90%;
  }
}

@media (min-width:768px) and (max-width: 869px) {
  #mc_embed_signup
  {
    width: 100%;
  }
}