.subscribe-a {
  text-align: center;
}

.subscribe-button {
  width: 100%;
  padding: 0.8rem 0.5rem;
  background: rgba(100, 120, 129, 1);
}

.NAME {
  width: 100%;
  height: 3rem;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 15px;
  flex: 0 0 calc(50% - 1rem);
}

.EMAIL {
  width: 100%;
  height: 3rem;
  margin-top: 2rem;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 15px;
}

.NAME::placeholder,
.NAME::placeholder,
.EMAIL::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 0.5px;
  color: #999999;
}

.subscribe-inputbox {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  white-space: nowrap;
  align-items: center;
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  letter-spacing: 0.5px;
}

#mc_embed_signup {
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  text-align: center;
  margin-top: 25px;
  width: 80%;
}

/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
#mc_embed_signup .button {
  width: 100%;
  margin: 0px;
  background-color: rgba(255, 152, 0, 0.5);
  text-align: center;
}

#mc_embed_signup .button:hover {
  background-color: rgba(255, 152, 0, 0.7);
}

#mc_embed_signup .button {
  margin: 0px;
  background-color: rgba(255, 152, 0, 0.5);
  text-align: center;
}

#mc_embed_signup .button:hover {
  background-color: rgba(255, 152, 0, 0.7);
}

.form-container {
  /* border: 1px dashed #1e2117; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 5rem  5rem!important; */
  background-color: #3c494f;
}

.form-container > p {
  font-style: normal;
  font-weight: 600;
  font-size: 2.7rem;
  line-height: 2.25rem;
  color: #fff;
}

@media (max-width: 840px) {
  .form-container {
    padding: 4rem 3vw !important;
  }
  .form-container > p {
    font-size: 2.6rem;
    line-height: 3rem;
    margin: 20px 0 10px 0;
  }
}
@media (min-width: 768px) {
  .form-container > p {
    margin: 0 25px;
  }

  .NAME {
    height: 3rem;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 15px;
  }

  .EMAIL {
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .EMAIL {
    width: 100%;
  }
  .email-div {
    display: flex;
    justify-content: center;
  }
  .subscribe-inputbox {
    padding-left: 6px;
    flex-direction: column;
  }
  #mc_embed_signup {
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    text-align: center;
    margin-top: 10px;
  }
  .form-container > p {
    font-size: 2.6rem;
    line-height: 2.5rem;
    margin: 20px 0 10px 0;
  }
}

.box1 {
  flex: wrap;
}

/* Mailing List */

.heading {
  text-align: center;
  font-weight: bold;
}

.sub-heading {
  margin: 0rem auto 2rem auto;
  font-size: 1.2rem;
  text-align: center;
}

.bg-grey-300 {
  background-color: #f1f5f9;
  width: auto;
  margin: 3%;
  padding: 20px;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
}
.bg-grey-300 + .dark {
  background-color: red;
}
.bg-single {
  background-color: #fff3c5;
}
.bg-single .button {
  background-color: #ebc017;
}
.bg-single .button:hover {
  background-color: #e7cc5f;
}
.button {
  background-color: var(--brand-color-primary) !important;
  border-radius: 0.25rem;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none !important;
  margin-left: 6px;
  border: 0;
}

.button:hover {
  background-color: #00d3a9;
  color: #fff;
}

.p-normal {
  font-size: 16px !important;
}

.mailing-row {
  display: inline;
  width: 100%;
  justify-content: center;
}

.mail-link-div {
  margin-top: 7px !important;
}

a.saffron {
  color: #ebc017;
  font-size: large;
}

.mailing-container {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  --flex-gap: var(--size-4);
  margin-left: calc(-1 * var(--flex-gap));
  margin-top: calc(-1 * var(--flex-gap));
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mailing-btn {
  align-self: flex-end;
  margin-top: auto;
}

@media (min-width: 1076px) {
  .bg-grey-300 {
    margin: 2%;
  }
  .bg-single {
    padding-right: 2%;
  }
  .mail-link-div {
    margin-top: 0px !important;
  }
}
@media (min-width: 802px) and (max-width: 1075px) {
  .bg-grey-300 {
    /* padding-right: 100px; */
    margin: 3%;
  }
  .bg-single {
    background-color: yellow;
    padding-right: 0px;
  }
  .bg-single .button {
    margin: 2px 30px 0 6px;
  }
  .mail-link-div {
    margin-top: 0px !important;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .bg-single {
    width: 40%;
  }
}
@media (min-width: 600px) {
  .mailing-row {
    display: inline-flex;
    width: 100%;
    justify-content: center;
  }
  .mailing-row-single {
    display: inline-flex;
    width: 100%;
    justify-content: center;
  }
  .bg-grey-300 {
    width: 43%;
    margin: 2%;
  }
}
