@mixin btn-hover-primary {
    position: relative;
    z-index: 1;
    &::after{
        content: "";
        top: 0;
        left: 0;
        width: 0%;
        position: absolute;
        height: 100%;
        background: var(--background-primary);
        transition: all .4s;
        z-index: -1;
        border-radius: inherit;
    }
    &:hover{
        color: var(--color-white) !important;
        border-color:transparent;
        &::after{
            width: 100%;
          }
      }
}
