body.integration-page {
	margin: 0;
	/* background: linear-gradient(
    to right top,
    #3d3d3d,
    #343434,
    #2b2b2b,
    #222222,
    #1a1a1a,
    #181818,
    #161616,
    #141414,
    #181818,
    #1c1c1c,
    #212121,
    #252525
  ) !important; */
	/* background: linear-gradient(to bottom, #395054 0%, #00d3a9 100%) no-repeat !important; */
	background: var(--integrations-bg);
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
	font-family:
		"Qanelas Soft",
		"Open Sans",
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Helvetica Neue",
		sans-serif;
	color: var(--color-secondary-light);
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a,
button,
input,
select {
	pointer-events: auto;
}

.lil-gui {
	z-index: 2 !important; /* TODO Solve this in HTML */
}

@media all and (max-width: 640px) {
	.lil-gui.root {
		right: auto;
		top: auto;
		max-height: 50%;
		max-width: 80%;
		bottom: 0;
		left: 0;
	}
}

#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0, 0, 0, 0.7);
}

#overlay button {
	background: transparent;
	border: 0;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 4px;
	color: #ffffff;
	padding: 12px 18px;
	text-transform: uppercase;
	cursor: pointer;
}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}

.integration-heading {
	line-height: 3.75rem;
	font-size: 3.125rem;
	font-weight: 700;
	text-align: center;
	color: var(--color-secondary-light);
}

.integration-subhead {
	text-align: center;
	color: var(--color-secondary-medium);
}

.heading {
	position: relative;
	margin-top: 50px;
	display: block;
	padding: 20px 0;
}
