# ----
# Site

title: Meshery
url: "https://meshery.io"
baseurl: ""
google_analytics_key: UA-152604689-1
google_maps_javascript_api_key:
disqus_shortname:

# Values for the jekyll-seo-tag gem (https://github.com/jekyll/jekyll-seo-tag)
logo: /images/logos/meshery-logo.png
description: The multi-service mesh management plane.
author: 
  name: Layer5 Authors
  email: community@layer5.io
  twitter: mesheryio
social:
  name: Meshery
  links:
    - https://github.com/layer5io/meshery.io

# -----
# Colors
coolgray: "#3C494F"
lightgreen: "#00D3A9"
darkgreen: "#00B39F"

# -----
# Build

timezone: Etc/UTC

collections_dir: collections
collections:
  contributors:
    output: true
  pages:
    output: true
  programs:
    output: true  
  catalog:
    output: true
    order:
      - basic-istio-install.md
      - circuit-breaker.md
      - local-rate-limiter.md
      - duration-based-canary.md

paginate: 10
paginate_path: "/blog/:num/"
permalink: pretty

defaults:
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "plain"
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      _options:
        content:
          width: 1500
          height: 2500
  -
    scope: 
      path: ""
      type: "catalog"
    values:
      _options:
        image: 
          width: 600
          height: 600
        
  -
    scope:
      path: ""
      type: "contributors"
    values:
      _options:
        image_path:
          width: 600
          height: 600
  -
    scope:
      path: ""
    values:
      layout: "page"
  -
    scope:
      path: "programs.html"
    values:
      layout: "default"
  -
    scope:
      path: "index.html"
    values:
      layout: "default"
  -
    scope:
      path: "contact.html"
    values:
      full_width: true

jekyll-archives:
  enabled:
    - categories

plugins:
  - jekyll-archives
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-paginate
  - jekyll-redirect-from

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - LICENSE

# -----------
# Hydra

social_icons:
  - Facebook
  - Google Plus
  - Instagram
  - LinkedIn
  - Pinterest
  - Tumblr
  - Twitter
  - YouTube
  - RSS

_comments:
  map: Update the map location and display settings.
  latitude: Coordinates for the center marker on the map.
  longitude: Coordinates for the center marker on the map.
  zoom: The zoom level for the map.
  features_table: Update the information in the pricing tables.
  highlight: Emphasis the text
  color: The background colour used in the plan name and call to action.
  new_window: Open link in new window
