---
layout: plain
title: An Open Source Community
description: Meshery is community-built and welcomes collaboration!
---

{% include partials/contributor.html %} {% include partials/connect.html %}

<div id='calendar'></div>
<div class="reversehero">
	<h2 style="margin-bottom: 20px">Stay up to date</h2>
	{% include subscribe.html %}
</div>

<!-- Fullcalender CDN's -->
<link rel="stylesheet" href="css/fullcalender.css">
<link rel="stylesheet" href="https://unpkg.com/@fullcalendar/core@4.4.0/main.min.css">
<link rel="stylesheet" href="https://unpkg.com/@fullcalendar/daygrid@4.4.0/main.min.css">
<link rel="stylesheet" href="https://unpkg.com/@fullcalendar/list@4.4.0/main.min.css">
<script src="https://unpkg.com/@fullcalendar/core@4.4.0/main.min.js"></script>
<script src="https://unpkg.com/@fullcalendar/daygrid@4.4.0/main.min.js"></script>
<script src="https://unpkg.com/@fullcalendar/list@4.4.0/main.min.js"></script>
<script src="https://unpkg.com/@fullcalendar/google-calendar@4.4.0/main.min.js"></script>

<script>
document.addEventListener('DOMContentLoaded', function() {
  var calendarEl = document.getElementById('calendar');

  var calendar = new FullCalendar.Calendar(calendarEl, {
    plugins: [ 'dayGrid', 'list', 'googleCalendar' ],
    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'dayGridMonth,listYear'
    },
    displayEventTime: false, // don't show the time column in list view
    googleCalendarApiKey: 'AIzaSyDcmx-nLYfqvrfpEmVJuclwt9akayYfUgg',
    eventClick: function(arg) {
      // opens events in a popup window
      window.open(arg.event.url, '_blank', 'width=700,height=600');
      // prevents current tab from navigating
      arg.jsEvent.preventDefault();
    }
  });
  calendar.render();
});
</script>
