---
title: Meshery | The Service Mesh Manager
description: Lifecycle, performance, and configuration management across any service mesh. Confidently operate service meshes like Istio, Linkerd, Envoy, Citrix, Cilium Service Mesh, App Mesh, Consul, Kuma, Traefik Mesh, Tanzu, NGINX, and Open Service Mesh. Patterns and best practices of service mesh operation.
image: images/logos/meshery-logo-tag-dark-text-side.png
---
<!-- 1. Add latest jQuery and fancybox files -->

<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<style>
h2.sub-text{
	font-family: "Qanelas Soft", "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
}</style>
<a id="button-scroll-to-up" style="text-decoration: none; color: white;"></a>

<section class="hero" style="padding-bottom: 1rem">
	<div class="text-container">
		<h1 style="margin: 3rem 0rem 3rem 0rem;">the <span style="font-weight: 300 !important">extensible</span> cloud native manager</h1>
		<div style="padding-bottom: 2rem;">
			<a href="{{ site.baseurl }}/images/screens/meshmap.gif"
				data-fancybox="images" data-caption="Multi-service mesh management plane">
				<img src="{{ site.baseurl }}/images/screens/meshmap.gif" alt="Multi-service mesh management plane" style=" box-shadow: 6px 6px 20px #1a2421; width: 80%;"
						/>
			</a>
			<h2 class="sub-text" style="padding-top:1rem; font-size: 1rem; font-weight: 500;">cloud native management with plugins</h2>
		</div>
	</div>
</section>

<div class="content">
	<section>
		{% include partials/patterns.html %}
	</section>
	

	<section>
		<div class="container flex">
			<div class="text ">
				<h2>Operate with <strong>configuration best practices</strong></h2>
				<p> Assess your service mesh configuration against deployment and
					operational best practices with Meshery's configuration validator.
					<!-- <br>
				<div align="center" class="button-para" style="margin-top: 3rem;">
					<a href="https://docs.meshery.io/functionality/pattern-management" class="link">See the service mesh patterns</a>
				</div> -->
				</p>
			</div>
			<div class="image" >
				<a href="images/screens/configuration-best-practices.gif" data-fancybox="images"
					data-caption="Service Mesh configuration Comparison">
					<img src="{{ site.baseurl }}/images/screens/configuration-best-practices.gif"
						alt="Service Mesh configuration Comparison" loading="lazy" 
						style=" box-shadow: 3px 3px 10px grey;
						border: 1px;" />
				</a>
			</div>

		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text">
				<a href="https://smp-spec.io" alt="Service Mesh Performance (SMP)">
					<img src="{{ site.baseurl }}/images/logos/smp-dark-text-side.svg"
						style="max-width:90%; text-align: center;margin-top:10px;"
						alt="Service Mesh Performance (SMP)" loading="lazy"/>
				</a>
				<span  style="position: relative; top:-30px;">
				<h2>Use the <strong>Service Mesh Performance</strong> standard</h2>
				<p>Weigh the value of your service mesh features in-context of it's overhead.
				
					<div align="center" class="button-para" style="margin-top: 2rem;">
						<a href="https://smp-spec.io" class="link">See Service Mesh Performance (SMP)</a>
						<p style="font-size: 1rem;margin-top:1rem;padding:0rem;color:#666;font-style: italic;">(smp-spec.io)</p>
					</div>
				</p>
			</span>
			</div>
			<!--removed style="flex-basis:30%; so that image and text can occupy same width-->
			<div class="image">
				<a href="images/screens/service mesh performance example.gif" data-fancybox="images"
					data-caption="Service Mesh Performance Specification">
					<img src="{{ site.baseurl }}/images/screens/service mesh performance example.gif"
						alt="Service Mesh Performance Specification" class="screenshot"
						style="
						box-shadow: 3px 3px 10px grey;
						border: 1px;" 
						loading="lazy" />
				</a>
				<br />
									<!-- show number of total performance tests run by Meshery users -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script>
			function numberWithCommas(x) {
    		return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			}

			$(document).ready(function () {
				$.get("https://meshery.layer5.io/result/total", function (data, status) {
					var testresults = JSON.parse(data);
					document.getElementById("testresults").innerHTML = "&nbsp;" + numberWithCommas(testresults.total_runs) + "&nbsp;";
				});
			});
		</script>
		<div class="flex"
			style="box-shadow:  0px 0px 20px 3px rgba(71,126,150,.5);margin-top: 20px; display: block; clear:both; height: 40px;border-radius: 10px; margin:auto; width:90%;">
			<p class="performance"
				style="color: b;margin-top: 10px;position: relative;top: 10px;font-weight: bolder;font-size: larger; text-align: center;">
				<span class="testresults" id="testresults"></span>performance tests run!
	</p>
			</div>

		</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text">
				<a href="images/logos/servicemeshinterface-icon-color.svg" data-fancybox="images"
						data-caption="Service Mesh Interface (SMI)">
						<img src="{{ site.baseurl }}/images/logos/servicemeshinterface-icon-color.svg"
							style="max-width:20%;position:relative;float:left;
							margin-right:5px;"
							alt="Service Mesh Interface (SMI)" 
							loading="lazy" />
					</a>

				<h2>Is your service mesh <strong>SMI compliant</strong>?</h2>
				<p> Validate your service mesh's conformance to Service Mesh Interface (SMI) specifications.
					<br>
				<div align="center" class="button-para" style="margin-top: 3rem;">
					<a href="/service-mesh-interface" class="link" style="display: flex; flex-direction: column;">See the Service Mesh Interface Conformance Report</a>
				</div>
				</p>
			</div>
			<div class="image" >
				<a href="images/screens/smi-conformance.png" data-fancybox="images"
					data-caption="Service Mesh configuration Comparison">
					<img src="{{ site.baseurl }}/images/screens/smi-conformance.png"
						alt="Service Mesh configuration Comparison" loading="lazy"
						style=" box-shadow: 3px 3px 10px grey;
						border: 1px;"/>
				</a>
			</div>

		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text ">
					<img src="{{ site.baseurl }}/images/webassembly_logo.svg"
						style="max-width:30%;position:relative;float:left;
						margin-right:20px;margin-bottom: 10px;"
						alt="Webassembly based Envoy Filters" loading="lazy"/>
				<h2>Manage data plane intelligence with <strong>WebAssembly filters</strong></h2>
				<p>Dynamically load and manage your own WebAssembly filters in Envoy-based service meshes.
					<!-- <br>
				<div align="center" class="button-para" style="margin-top: 2rem;">
				<a href="https://github.com/layer5io/image-hub" class="link">See Image Hub</a>
				</div> -->
				</p>
			</div>
			<div class="image flex">
				<a href="{{ site.baseurl }}/images/meshery-wasm.png" data-fancybox="images"
					data-caption="Webassembly based Envoy Filters">
					<img src="{{ site.baseurl }}/images/meshery-wasm.png"
						alt="Webassembly based Envoy Filters" class="screenshot" loading="lazy"/>
				</a>
			</div>
		</div>
	</section>



	<section>
		<div class="container flex">
			<div class="text">
				<h2>Which service mesh should I use and how do I <strong>get started</strong>?</h2>
				<p>Learn about the functionality of different service meshes
					and visually manipulate mesh configuration.
					<br>
				<div align="center" class="button-para" style="margin-top: 3rem;">
					<a href="https://docs.meshery.io" class="link">See the Meshery documentation</a>
				</div>
				</p>
			</div>
			<div class="image">
				<a href="https://raw.githubusercontent.com/layer5io/meshery.io/master/images/screens/meshery-dashboard-no-shadow.png"
					data-fancybox="images"
					data-caption="How to start using a service mesh"></a>
					<img src="{{ site.baseurl }}/images/screens/meshery-dashboard-no-shadow.png"
						alt="Managing multiple service meshes - a management plane" class="screenshot" />

				</a>
			</div>
		</div>
	</section>
	<section>
		<div class="container flex">
			<div class="text ">
				<h2>Manage the <strong>performance</strong> of your service mesh and its workloads</h2>
				<p>Baseline and track your service mesh performance from release to release.
				<ul style="line-height: 1.5em;height: auto;text-align: left;">
					<li>Use performance profiles to track the historical performance of your workloads.</li>
					<li>Track your application performance from version to version.</li>
					<li>Understand behavioral differences between service meshes.</li>
					<li>Compare performance across service mesh deployments.</li>
				</ul>
				</p>
			</div>
			<div class="image">
				<a href="https://raw.githubusercontent.com/layer5io/meshery.io/master/images/screens/service-mesh-performance-example.gif"
					data-fancybox="images" data-caption="Service Mesh Performance Comparison">
					<img src="{{ site.baseurl }}/images/screens/service-mesh-performance-example.gif"
						alt="Service Mesh Performance Comparison" class="screenshot" loading="lazy" />
				</a>
			</div>
		</div>
	</section>
	<section>
	{% include partials/adapters-table.html %}
	</section>
</div>

<div class="content">
	<!-- Created By Section -->
	<section class="created-by-section">
		<div class="created-by-container">
			<h1 class="created-by">Created By</h1>
			<div class="company-image">
				<a href="https://layer5.io/" target="_blank">
					<img src="./images/company-logo/layer5-no-trim.svg" alt="Layer5" loading="lazy" />
				</a>
			</div>
		</div>
	</section>


	<!-- Used by Section -->
	<section class="used-by-section">
		<div class="used-by-container">
			<h1 class="used-by">Used By</h1>
			<div class="companies-image">
				<div class="company-image">
					<img src="./images/company-logo/hpe-logo-color-no-trim.svg" alt="Hewlett Packard" loading="lazy" />
				</div>
				<div class="company-image">
					<img src="./images/company-logo/intraserve.png" alt="Intraserve" loading="lazy"/>
				</div>
				<div class="company-image">
					<img src="./images/company-logo/solarwinds.svg" alt="SolarWinds" loading="lazy"/>
				</div>
				<div class="company-image">
					<img src="./images/company-logo/book-my-show.png" alt="BookMyShow" loading="lazy"/>
				</div>
				<div id="ericsson-logo" class="company-image">
					<img src="./images/company-logo/ericsson-logo.png" alt="Ericsson" loading="lazy"/>
				</div>
				<div id="metabob-logo" class="company-image">
					<img src="./images/company-logo/Metabob-Logo_1.png" alt="Metabob" loading="lazy"/>
				</div>
				<div id="asteria-logo" class="company-image">
					<img src="./images/company-logo/Asteria_Logo_horizontal_blue.svg" alt="asteria"loading="lazy"/>
				</div>
				<div id="Bootlabs-logo" class="company-image">
					<img src="./images/company-logo/bootlabs-logo.png" alt="Bootlabs"loading="lazy"/>
				</div>
			</div>
		</div>
	</section>

	<!-- Adopter Section -->
	<section class="adopter-section">
		<div class="adopter-container">
			<h3 class="adopter-title">Add yourself as an <strong>adopter</strong></h3>
			<p class="adopter-description">and share your service mesh story with the community</p>
			<div class="button-para">
				<a href="https://github.com/layer5io/meshery/blob/master/ADOPTERS.md" target="_blank" class="link">
					Become an Adopter
				</a>
			</div>
			<br>	
		</div>
	</section>
</div>
	<section class="overview-section">
		<div class="container">
			<h1 class="overview-heading" style="text-align: center;">Overview</h1>
			<div class="google-slides">
				<iframe
					src="https://docs.google.com/presentation/d/e/2PACX-1vSJdaOJ6MdmYQCyd2c3sbGsa9h7BVqauzBpdeVIKMpAh4eHoStLTMS8hmYJdzT0YTgXzS2chyrLPRzR/embed?start=true&loop=true&delayms=5000"
					frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" loading="lazy">
				</iframe>
			</div>
		</div>
	</section>
	<section id="getting-started" class="getting-started">
		{% include getting-started.html %}
	</section>

	<section class="bg-white">
		{% include partials/callouts.html %}
	</section>



	<section class="bg-white">
		<div class="container cncf-section" >
			<h4>MESHERY IS A CLOUD NATIVE COMPUTING FOUNDATION PROJECT</h4>

			<img src="./images/cncf-horizontal-color.svg" class="cncf-img" alt="CNCF Logo" loading="lazy"/>
			<p>
				<span class="layer5-caption">
					Created by
					<a href="https://layer5.io/" target="_blank">
						<img src="{{ site.baseurl }}/images/company-logo/layer5-no-trim.svg" alt="Layer5 Logo"/>
					</a>
				and its open source community.
				</span>
			</p>
		</div>
	</section>
	<section class="reversehero">
		<div>
			<div class="homepage-join">
				{% include subscribe.html %}
			</div>
			<div class="mailinglist">
					<h3 class = "mail-heading">Project Mailing lists</h3>
					<p class = "mail-subheading">Engage in the Meshery project. Join any of our mailing lists.</p>
					<div class= "mail-container">
					<div class="mail-row">
						<p class="button-alt"><a href="https://groups.google.com/a/meshery.io/g/developers" class="button-dev">Developers</a></p>
    					<p class="button-alt"><a href="https://groups.google.com/a/meshery.io/g/users" class="button-user">Users</a></p>
					</div>
					<div class="mail-row">
						<p class="button-alt"><a href="mailto:maintainers@meshery.io" class="button-maintain">Maintainer</a></p>
    					<p class="button-alt"><a href="mailto:community@meshery.io" class="button-comm">Community</a></p>
					</div>	 
    				
			</div>
		</div>

	</section>
	<section class="programs-section" style="margin: 4rem auto 4rem auto;">
		<h3 style="text-align: center; color:aliceblue;">

			Learn about Meshery's participation in <a href="/programs" style="text-decoration: none; color: gold;">various open source
			programs</a>.
		</h3>
		{% include programs.html  %}

	</section>
</div>

