

<div class= "card link">  
    <div class="card-inner">
      <div class="front">
        <div class="chip {{extension.type | upcase }}">
          <small class="pattern-type">{{extension.type | upcase }}</small>
        </div>
        <h4 class="pattern-name">{{extension.name}}</h4>
        <div class="pattern-image-container">
          {% if extension.status == "coming-soon" %}
          <img class="extensions-coming-soon" height="auto" width="auto" src="{{site.baseurl}}/assets/images/coming-soon.png" />
          {% endif %}
          <img class= "pattern-image extension-image" 
          data-extension-light="{{extension.whiteImage}}"
          data-extension-dark="{{extension.colorImage}}"
          alt="{{extension.whiteImage}}" 
          loading="lazy"/>
        </div>
      </div> 
      <div class="back">
        
      </div>
    </div>
  </div>  

<style>
  .pattern-image-container {
    width: 90%;
    height: 50%;
    position: relative;
    margin: 0 auto;
  }

  .pattern-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

</style>

