<div id="open-modal" class="modal-window">
  <!-- <div class="click-container"> -->
    <div class="modal-content">
      <div class="modal-image">
        <button class="modal-close close">&times;</button>
        {%if extension.filters.type == "wasm filter" %}
        <img class="image-class" src="https://raw.githubusercontent.com/layer5labs/meshery-extensions-packages/master/action-assets/design-assets/{{extension.extensionId}}.png" onerror="this.src='/assets/images/webassembly_logo.svg'" loading="lazy" onclick="toggleFullScreenImage('{{ extension.extensionId }}')" />
        {%else%}
        <img class="image-class"  
        data-snapshot-light="https://raw.githubusercontent.com/layer5labs/meshery-extensions-packages/master/action-assets/design-assets/{{extension.extensionId}}-light.png"
        data-snapshot-dark="https://raw.githubusercontent.com/layer5labs/meshery-extensions-packages/master/action-assets/design-assets/{{extension.extensionId}}-dark.png"
        src="https://raw.githubusercontent.com/layer5labs/meshery-extensions-packages/master/action-assets/design-assets/{{extension.extensionId}}-dark.png"
        onerror="this.src='/assets/images/meshery-color.svg'" loading="lazy" onclick="toggleFullScreenImage('{{ extension.extensionId }}')" />
        {%endif%}
        <h2 class="modal-h2">{{extension.name | upcase }} {% include read-more.html %}</h2>
      </div>
      <div class="vertical-line"></div>
      <div class="modal-info">
        <!-- <h2 class="modal-h2">{{extension.name | upcase }} {% include read-more.html %}</h2> -->
        <h3 class="modal-h3">What This Extension Does</h3>
        <p class="content-toggle contentdata pre-white-space">{{extension.extensionInfo | url_decode | replace: '\\n', '<br/>' | replace: '\n', '<br/>' }}</p>
        <span class="read-more" href="read-more.html">{% include expand.html %}</span>
        <h3 class="modal-h3">Caveats and Considerations</h3>
        <p class="pre-white-space contentdata">{{extension.extensionCaveats | url_decode | replace: '\\n', '<br/>' | replace: '\n', '<br/>'}}</p>
        <span class="read-more" href="read-more.html">{% include expand.html %}</span>
      </div>
    </div>
     
 <script src="{{ site.baseurl }}/assets/js/catalog-modal.js"></script>
 <script src="{{ site.baseurl }}/assets/js/thumbnail-clickable.js"></script>
   
  <!-- </div> -->
</div>