---
layout: page
permalink: /service-mesh-catalog/deployment
title: Service Mesh Catalog
redirect_from: /service-mesh-catalog
---


<div class="sub-heading">
    <div><h3>What are Service Mesh Patterns?</h3>
    <p>Service Mesh Patterns help you confidently wield a service mesh by extracting best practices of service mesh use and harnessing the core value service meshes offer, irrespective of which service mesh you’re using.</p>
    </div>
    <h3>Pattern Management</h3>
    <p>You may bring your own patterns or find them available through your chosen provider. Each service mesh pattern carries a unique identifier for reference. The patterns in this repository serve in an educational capacity, facilitating learning, and also serve in an operational capacity, facilitating implementation and validation of your service mesh deployment’s adherence to a pattern.</p>
  </div>
  <h3>Some sample patterns:</h3>
  
  
  
  {% include patterns-filter.html %}
  
  
  <!-- CARD-START -->
      <div class="catalog">
      {% for pattern in site.data.patterns %}
      <div class="row">
        <div class="column">
          
            {% if pattern.filters.type == "Deployment" and pattern.Status != "ComingSoon" %}
              {% include card.html %}
            {% endif %}
            {% if pattern.filters.type == "Deployment" and pattern.Status == "ComingSoon" %}
              {% include coming-soon.html %}
            {% endif %}
    </div>
  
  <!-- CARD-END -->
  
  
  <!-- MODAL-START -->
  {% if pattern.filters.type == "Deployment" and pattern.Status != "ComingSoon" %}
    <div id="open-modal" class="modal-window">
      <div>
        <button class = "modal-close close">&times;</button>
        <div class="chip chip-modal">
          <h6 class="pattern-type"> {{pattern.filters.type}}</h6>
      </div>
      <p><div class="modal-image-container"><div class="modal-image" ><img src="{{pattern.image}}" /> <h4 class="related-patterns">Related Patterns</h4>
      
      
      <!-- MINICARD-START -->
      {% if pattern.filters.type == "Deployment" %}
      <div class= "modal-card">
        <div class="modal-chip">
            <small class="modal-pattern-type"> {{pattern.filters.type}}</small>
        </div>
        <h5 class="modal-pattern-name">{{pattern.name}}</h5>
        <img class= "modal-pattern-image" src="{{pattern.image}}"/>
        <div>
        <h6 class="modal-pattern-id">
        <img class="modal-smp"
        src="{{site.baseurl}}/images/logos/service-mesh-pattern.svg"
        loading="lazy" />{{pattern.patternId}}</h6>
        </div>
      </div>
    
      {% endif %}
    </div>
    </div>
      <!-- MINICARD-END -->
     <h3 style="text-align: center;">{{pattern.name}}</h3>
      <h4>What this pattern does:</h4><h5>{{pattern.patternInfo}}</h5>
      <h4>Caveats and Consideration: </h4><h5>{{pattern.patternCaveats}}</h5></p>
      <h4>Compatibilty:</h4>
  
      {% include partials/compatibility.html %}
      {% include copy-and-download.html %}
      </div></div>
      {% endif %}{% endfor %} 
      <!-- MODAL-END -->
  </div>
  </div>
  {% include card-modal.html %}
  <script>
    document.getElementById("deployment").checked = true;
  </script>
  