---
layout: catalog
permalink: /catalog/deployment
title: Service Mesh Catalog
redirect_from: /catalog
--- 
  <!-- CARD-START -->
  
      {% for pattern in site.catalog %}
      <div class="row">
        <div class="column">
            {% if pattern.type == "Deployment" and pattern.Status != "ComingSoon" %}
              {% include card.html %}
            {% endif %}
            {% if pattern.type == "Deployment" and pattern.Status == "ComingSoon" %}
              {% include coming-soon.html %}
            {% endif %}
    </div>
  
  <!-- CARD-END -->
  
  
  <!-- MODAL-START -->
  {% if pattern.type == "Deployment" and pattern.Status != "ComingSoon" %}
    <div id="open-modal" class="modal-window">
      <div>
      <div class="modal-close">
        <h6 class="category-label">{{pattern.type}}</h6>
        <a href="{{pattern.url}}">
          <img src="{{site.baseurl}}/images/buttons/external-link_gray.svg" />
        </a>
        <button class="modal-close close">&times;</button>
    </div>
      <p><div class="modal-image-container"><div class="modal-image" ><img src="{{pattern.image}}" /> <h4 class="related-patterns">Related Patterns</h4>
      
      
      <!-- MINICARD-START -->
      {% include related-patterns.html %}
    </div>
    </div>
      <!-- MINICARD-END -->
     <h3 style="text-align: center;">{{pattern.name}}</h3>
      <h4>What this pattern does:</h4><h5>{{pattern.patternInfo}}</h5>
      <h4>Caveats and Consideration: </h4><h5>{{pattern.patternCaveats}}</h5></p>
      <h4>Compatibilty:</h4>
  
      {% include partials/compatibility.html %}
      {% include copy-and-download.html %}
      </div></div>
      {% endif %}{% endfor %} 
      <!-- MODAL-END -->
  </div>
  

  <script>
    document.getElementById("deployment").checked = true;
  </script>
  