---
layout: catalog
permalink: /catalog/scaling
title: Service Mesh Catalog
redirect_from: /catalog
---
      
{% for pattern in site.catalog %}
      <div class="row">
        <div class="column">
          {% if pattern.type == "Scaling" and pattern.Status != "ComingSoon"%}      
            {% include card.html %}
            {% endif %}
           {% if pattern.type == "Scaling" and pattern.Status == "ComingSoon" %}
              {% include coming-soon.html %}
            {% endif %}
            
    </div>
  
  <!-- CARD-END -->
  
  
  <!-- MODAL-START -->
  {% if pattern.type == "Scaling"  and pattern.Status != "ComingSoon" %}
    <div id="open-modal" class="modal-window">
      <div>
        <button class = "modal-close close">&times;</button>
        <div class="chip chip-modal">
          <h6 class="pattern-type"> {{pattern.type}}</h6>
      </div>
      <p><div class="modal-image-container"><div class="modal-image" ><img src="{{pattern.image}}" /> <h4 class="related-patterns">Related Patterns</h4>
      
      
      <!-- MINICARD-START -->
      {% include related-patterns.html %}
    </div>
    </div>
      <!-- MINICARD-END -->
     <h3 style="text-align: center;">{{pattern.name}}</h3>
      <h4>What this pattern does:</h4><h5>{{pattern.patternInfo}}</h5>
      <h4>Caveats and Consideration: </h4><h5>{{pattern.patternCaveats}}</h5></p>
      <h4>Compatibilty:</h4>
    
      {% include partials/compatibility.html %}
      {% include copy-and-download.html %} {% include read-more.html %}
      </div></div>
      {% endif %}{% endfor %} 
      <!-- MODAL-END -->
  </div>
  <script>
    document.getElementById("scaling").checked = true;
  </script>