<div class="allbtn-container">
    <a  href="{{ '/catalog/designs' | relative_url }}"><button class="allbtn {% if page.url == '/catalog/designs' %} activebtn {% endif %}">Designs</button></a>
    <a href="{{ '/catalog/models' | relative_url }}"><button class="allbtn {% if page.url == '/catalog/models' %} activebtn {% endif %}">Models</button></a>
    <a href="{{ '/catalog/filters' | relative_url }}"><button class="allbtn {% if page.url == '/catalog/filters' %} activebtn {% endif %}">Filters</button></a>
</div>



<style>
    .allbtn-container {
        display: flex;
        justify-content: center;
        gap: 1rem;
        border-bottom: solid 1px #ccc;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .allbtn {
        background: none;
        color: var(--color-primary-extra-dark);
        cursor: pointer;
        border: none;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        border-bottom: 3px solid transparent;
        border-top: 1px solid var(--color-primary-dark);
        border-left: 1px solid var(--color-primary-dark);
        border-right: 1px solid var(--color-primary-dark);
        border-radius: .25rem .25rem 0rem 0rem;
    }
    .allbtn:hover {
        border-bottom: 3px solid #00b39f;
        color: var(--color-secondary-dark);
        border-radius: .25rem .25rem 0rem 0rem;
        transition: all 0.2s ease-in-out;
    }
    .activebtn {
        background: rgba(0,179,159,.2);
        color: var(--color-secondary-medium);
        border-top: 1px solid var(--color-secondary-medium);
        border-left: 1px solid var(--color-secondary-medium);
        border-right: 1px solid var(--color-secondary-medium);
    }
</style>

