<div class="allbtn-container">
    <a  href="/designs"><button class="allbtn {% if page.url == '/designs' %} activebtn {% endif %}">Designs</button></a>
    <a href="/models"><button class="allbtn {% if page.url == '/models' %} activebtn {% endif %}">Models</button></a>
    <a href="/filters"><button class="allbtn {% if page.url == '/filters' %} activebtn {% endif %}">Filters</button></a>
</div>



<style>
    .allbtn-container {
        display: flex;
        justify-content: center;
        gap: 1rem;
        border-bottom: solid 1px #ccc;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .allbtn {
        background: none;
        border-radius: 2px;
        color: var(--color-secondary-medium);
        cursor: pointer;
        border: none;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        padding: 0.5rem;
        font-size: 1.23rem;
    }
    .activebtn {
        border-bottom: 3px solid #00b39f;
    }
</style>


<!-- <a  href="/models" style="text-decoration: none;color: #fff;white-space: nowrap" >
    <button class="viewallbtn">Go to Models</button>
</a>
{% include view-all.html %}
<a  href="/filters" style="text-decoration: none;color: #fff;white-space: nowrap;" >
<button class="viewallbtn">Go to Filters</button>
</a> -->