<!-- 1. Add latest jQuery and fancybox files -->
<link
  type="text/css"
  rel="stylesheet"
  href="{{ site.baseurl }}/integrations/main.css"
/>

<script src="{{ site.baseurl }}/assets/js/route-smooth.js"></script>
<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>


<div id="meshkit-hero" class="" ref="{mesheryRef}">
  {% include meshkit-hero.html %}
</div>

<section
  style="
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: -1rem;
    overflow: hidden;
  "
>
  <div>
    <div id="meshery" style="margin-top: -3rem">
      {% include meshery-brand.html %}
    </div>

    <div id="zoom" style="margin-top: -5.5rem">{% include zoom.html %}</div>

    <div id="presentation" style="margin-top: -5.5rem">
      {% include presentation.html %}
    </div>

    <div id="social" style="margin-top: -5.5rem">{% include social.html %}</div>

    <div id="mascot" style="margin-top: -5.5rem">{% include mascot.html %}</div>
  </div>

  <div class="nav-fixed">
    On this Page
    <ul>
      <li><a href="#meshery" class="header_link">Meshery</a></li>
      <li><a href="#zoom" class="header_link">Zoom Backgrounds</a></li>
      <li>
        <a href="#presentation" class="header_link">Presentation Slides</a>
      </li>
      <li>
        <a href="#social" class="header_link">Social Posts</a>
      </li>
      <li><a href="#mascot" class="header_link">Our Mascot, Five</a></li>
    </ul>
  </div>
</section>
