  <div class= "card link">     
       <div class="chip">
           <small class="pattern-type"> {{pattern.type}}</small>
       </div>
       <h4 class="pattern-name">{{pattern.name}}</h4>
       {% if pattern.name == "Istio-ready SPIRE" %}
        <img class= "pattern-image-istio" src="{{pattern.image[0]}}" />
        <img class= "pattern-image-spire" src="{{pattern.image[1]}}" />
       {% else %}
        <img class= "pattern-image" src="{{pattern.image}}" />
       {% endif %}
     <h6 class="pattern-id">
      <img class="smp"
        src="{{site.baseurl}}/images/logos/service-mesh-pattern.svg"
        loading="lazy" />
      {{pattern.patternId}}
    </h6>
  </div>


