<style>
    .help-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 200; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.75); /* Black w/ opacity */
}

::-webkit-scrollbar {
    display: "none";
  }
  .help-modal::-webkit-scrollbar {
    display: none;
  }

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #00D3A9;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #00B39F;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #1E2117;
  color: "#fff"
}

/* Style the tab content */
.tabcontent {
  padding: 6px 12px;
  border-top: none;
  background-color: var(--integrations-bg);
}

/* Modal Content/Box */
.help-modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 5% from the top and centered */
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  @media (max-width: 768px) {
    margin: 25% auto;
    width: 85%; /* Change width to 85% */
  }
}

/* The Close Button */
.closed {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  /* margin-right: 10px; */
}

.closed:hover,
.closed:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
</style>



<div id="myModal" class="help-modal">
    <div class="help-modal-content">
       
        <div class="tab">
            <span class="closed" style=" padding: 4px 10px">&times;</span>
            <button class="tablinks active" onclick="openTab(event, 'MesheryUI')">Meshery UI</button>
            <button class="tablinks" onclick="openTab(event, 'MesheryCLI')">Meshery CLI</button>
          </div>
          

          <div id="MesheryUI" class="tabcontent">
            <p>
              Using Meshery Playground and Meshery's extension Kanvas, You can participate in creating high-quality starter templates, publishing designs and models for the community to use in various ways. You can also climb the leaderboard by having your designs cloned, downloaded, or viewed the most. Follow the instructions below to get started.
            </p>
            <h4 style="font-size: 1.2rem;margin: 1rem 0;">Create a design</h4>
            <p>Begin by creating a new design from scratch, using existing design patterns and templates from catalog:</p>
            <dl>
              <dt>From Scratch:</dt>
              <dd style="
                margin-left: 0;
            "><ul><li>Open the Designs panel, Select and arrange components from the Designer Dock on the Kanvas, and customize with connections, labels, and properties.<img src="https://layer5.io/static/start-from-scratch-21b5915673335277d79cd425627e8fe5.gif" style="max-width: 100%;object-fit:contain;margin-top: 1rem;" srl_elementid="0"></li></ul></dd>
    
              <dt>From a Template:</dt>
              <dd style="
                margin-left: 0;
            "><ul><li>Start from a pre-built template or clone an existing design from the Catalog. This allows you to build on established designs for a quicker start.<img src="https://layer5.io/static/catalog-d6740356d3f91ec18d50c83e0d7af6d0.gif" style="max-width: 100%;object-fit:contain;margin-top: 1rem;" srl_elementid="0"></li></ul></dd>
            </dl>

            <h4 style="font-size: 1.2rem;margin: 1rem 0;">Import a design</h4>
            <ul>
              <li>Access the Kanvas Designer and select the "Import" button in the left Designs panel. Import your own designs from local filesystem or from a remote URL directly into the Catalog. Upload a file or provide a URL for Docker Compose, Helm Charts, Meshery Designs or Kubernetes Manifests. Choose to either import as new or merge into current design that you have open in Kanvas.
              <img src="https://layer5.io/static/import-design-gif-9a9fa6ea76258783aa31d776bd5f2557.gif" srl_elementid="2">
            </li>
          </ul>
          <p> Kanvas will convert these into a usable design based on their configurations.</p>
          <img src="https://layer5.io/static/rendered-design-e00309ed95ec6b886d639defa806f939.png" style="max-width: 100%;object-fit:contain;margin-top: 1rem;" srl_elementid="3">

          <h4>Publish a Design</h4>
          <p>Make your designs accessible to others by publishing them in the Catalog:</p>
          <ul><li>In the designs panel, locate your design and hover over it to access quick actions. Select the info button (marked with an "i") and add any necessary details for the review process, such as relevant technologies, descriptions, and considerations and click Publish button. Once approved by the Maintainers, your design becomes available to the broader community in Kanvas catalog.<img src="https://layer5.io/static/publish-to-catalog-ad82c7ecd418bd328187784f3605ad95.gif" srl_elementid="4"></li></ul>

          <h4>Create or import model</h4>
          <p>One can either create a model from scratch using crds, or import existing models using create widgets. Visit: <a href="https://playground.meshery.io/settings?settingsCategory=Registry&tab=Models">Registry</a></p>
            <!-- <a href="{{ site.baseurl }}/assets/images/screens/pattern-import.mp4"
				data-fancybox="images" data-caption="Import your patterns"> -->
        <!-- <div style="text-align: center;">
          <video width="100%" preload="metadata" controls>
            <source src="{{ site.baseurl }}/assets/images/screens/pattern-import.mp4#t=0.01" type="video/mp4">
          </video> -->
				<!-- <iframe width="98%" height="540" preload="metadata" src="{{ site.baseurl }}/assets/images/screens/pattern-import.mp4#t=0.01" alt="Import your patterns" 
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen	></iframe> -->
          <!-- </div> -->
			</a>
          </div>
          
          <div id="MesheryCLI" class="tabcontent" style="display: none;">
            <h3>Meshery CLI</h3>
            <p>Import using mesheryctl, visit <a href="https://docs.meshery.io/guides/configuration-management/importing-designs#importing-designs-1" target="_blank">docs</a> for steps.</p>
            
            <!-- <h3>Meshery CLI</h3> -->
            <p>1. Apply a design file. </p>
            <div id="start-pattern" class="highlight-code">
                <p class="code-box" style="height: 40px; line-height: 15px; color: white"><code style="position: absolute;">
                    mesheryctl design apply -f [file | URL]
                 </code></p>
<!-- copy to clipboard -->
                  {% include copy-to-clipboard.html clipboard_target="#start-pattern" clipboard_text="mesheryctl design apply -f [file | URL]" %}
              </div>
            <p>2. Apply a WASM filter file.</p>
            <div id="start-pattern" class="highlight-code">
                <p class="code-box" style="height: 40px; line-height: 15px; color: white"><code style="position: absolute;">
                    mesheryctl filter import [file | URL] --wasm-config [filepath|string]
                 </code></p>
<!-- copy to clipboard -->
                  {% include copy-to-clipboard.html clipboard_target="#start-pattern" clipboard_text="mesheryctl filter import [file | URL] --wasm-config [filepath|string]" %} 
              </div>
          </div>
          
</div>
</div>

<script src="{{  site.baseurl }}/assets/js/help-modal.js"></script>
<script>
function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>
