    <div class="card link">
        <div class="card-inner">
            <div class="front">
                <h4 class="overlay-text">{{pattern.name}}</h4>
                <h5>Coming Soon...</h5>
                <img class="pattern-image-overlay" src="https://raw.githubusercontent.com/layer5labs/meshery-extensions-packages/master/action-assets/design-assets/{{pattern.patternId}}.png" onerror="this.src='/assets/images/patterns/service-mesh.svg'" />
                <h6 class="pattern-id-overlay">
                    <img class="smp-overlay" src="{{site.baseurl}}/assets/images/logos/service-mesh-pattern.svg"
                        loading="lazy" />{{pattern.patternId}}
                </h6>
            </div>
            <div class="back"></div>
        </div>
    </div>
