<div class="community">    

    <div style="text-align: center;"><i style="color: {{site.coolgray}}" class="fas fa-users fa-7x"></i></div>
    
    <p class="community-block">
        <ul class="project-block">
            <li><em>Join</em> <a href="https://docs.google.com/document/d/1c07UO9dS7_tFD-ClCWHIrEzRnzUJoFQ10EzfJTpS7FY/edit?usp=sharing">weekly community meeting</a> on <a href="/assets/projects/meshery/Meshery-Community-Meeting.ics">Fridays from 10am to 11am Central</a>.</li>
            <li><em>Watch</em> community <a href="https://www.youtube.com/channel/UCFL1af7_wdnhHXL1InzaMvA">meeting recordings</a> and <i>subscribe</i> to the <a href="https://bit.ly/2SbrRhe">community calendar</a>.</li>
            <li><em>Access</em> the <a href="https://drive.google.com/drive/u/4/folders/0ABH8aabN4WAKUk9PVA">community drive</a>.</li>
            <li><em>Comment</em> on the <a href="https://docs.google.com/document/d/1nV8TunLmVC8j5cBELT42YfEXYmhG3ZqFtHxeG3-w9t0/edit?usp=sharing">design document.</a></li>
        </ul>
    </p> 
</div> 