<div class="container flex" >
    <div style="width:33%;">
        <p class="subtext">Join our warm and welcoming collection of open sourcers.</p>
    </div>
    <div style="width:33%; text-align: center;"><i class="fas fa-users fa-10x"></i></div>
    <div style="width:33%;" class="community-block">
        <p class="subtext">
            
            This <a href="https://github.com/layer5io/meshery">project</a> is community-built and welcomes collaboration! 
            
        </p>  
        
            <ul class="project">
                <li><em>Join</em> <a href="https://docs.google.com/document/d/1c07UO9dS7_tFD-ClCWHIrEzRnzUJoFQ10EzfJTpS7FY/edit?usp=sharing">weekly community meeting</a> on <a href="/assets/projects/meshery/Meshery-Community-Meeting.ics">Fridays from 10am to 11am Central</a>.</li>
                <li><em>Watch</em> community <a href="https://www.youtube.com/channel/UCFL1af7_wdnhHXL1InzaMvA">meeting recordings</a> and <i><b>subscribe</b></i> to the <a href="https://bit.ly/2SbrRhe">community calendar</a>.</li>
                <li><em>Access</em> the <a href="https://drive.google.com/drive/u/4/folders/0ABH8aabN4WAKUk9PVA">community drive</a>.</li>
                <li><em>Comment</em> on the <a href="https://docs.google.com/document/d/1nV8TunLmVC8j5cBELT42YfEXYmhG3ZqFtHxeG3-w9t0/edit?usp=sharing">design document.</a></li>
            </ul>

    </div>

</div>

<ul class="contributor">
	{% for person in site.contributors %}
		{% if person.twitter %}
			<li>
				<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
				<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
				<div class="position">{{ person.position }}</div>
			</li>
		{% else %}
			{% if person.github %}
				<li>
					<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
					<div class="name"><a target="_blank" href="https://github.com/{{ person.github }}">{{ person.name }}</a></div>
					<div class="position">{{ person.position }}</div>
				</li>
			{% else %}
				<li>
					<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
					<div class="name">{{ person.name }}</div>
					<div class="position">{{ person.position }}</div>
				</li>
			{% endif %}
		{% endif %}
	{% endfor %}
</ul>