<ul class="contributor">  

    <!-- List all Contributors -->
    {% if "community.html" == page.name %}
    {% for page in site.contributors %}
		{% if page.twitter %}
			<li>
				<div class="square-image"><img src="{% include relative-src.html src=page.image_path %}" alt="{{ page.name }}"/></div>
				<div class="name"><a target="_blank" href="https://twitter.com/{{ page.twitter }}">{{ page.name }}</a></div>
				<div class="position">{{ page.position }}</div>
			</li>
		{% else %}
			{% if page.github %}
				<li>
					<div class="square-image"><img src="{% include relative-src.html src=page.image_path %}" alt="{{ page.name }}"/></div>
					<div class="name"><a target="_blank" href="https://github.com/{{ page.github }}">{{ page.name }}</a></div>
					<div class="position">{{ page.position }}</div>
				</li>
			{% else %}
				<li>
					<div class="square-image"><img src="{% include relative-src.html src=page.image_path %}" alt="{{ page.name }}"/></div>
					<div class="name">{{ page.name }}</div>
					<div class="position">{{ page.position }}</div>
				</li>
	        {% endif %}
		{% endif %}
      {% endfor %}
   

    <!-- List a specific contributor -->

    {% else %}
        {% if page.twitter %}
        <li>
            <div class="solo-image"><img src="{% include relative-src.html src=page.image_path %}" alt="{{ page.name }}"/></div>
            <div class="name"><a target="_blank" href="https://twitter.com/{{ page.twitter }}">{{ page.name }}</a></div>
            <div class="position"></div>
        </li>
    {% else %}
        {% if page.github %}
            <li>
                <div class="solo-image"><img style="max-width: 300px;" src="{% include relative-src.html src=page.image_path %}" alt="{{ page.name }}"/></div>
                <div class="name"><a target="_blank" href="https://github.com/{{ page.github }}">{{ page.name }}</a></div>
                <div class="position">{{ page.position }}</div>
            </li>
        {% else %}
            <li>
                <div class="solo-image"><img style="max-width: 300px;" {% include relative-src.html src=page.image_path %}" alt="{{ page.name }}"/></div>
                <div class="name">{{ page.name }}</div>
                <div class="position">{{ page.position }}</div>
            </li>
        {% endif %}
      {% endif %}
    {% endif %}

</ul>