{% assign type = pattern | default: extension %}



{% if type.URL and type.downloadLink %}
<div id="copy-url">
  <div class="btn-class">
    <div class="vertical-center" id="{{type.name}}">
      <div class="btn-grp">
        {% if type.patternId %}
        <a href="https://playground.meshery.io/extension/meshmap?mode=design&type=catalog&id={{type.patternId}}&name={{type.name}}"
          target="_blank">
          <button class="import" style="width: 15rem;">Open in playground </button>
        </a>
        {% endif %}

       
        <a href="/catalog/{% if pattern.filterInfo %}/{{ type.downloadLink }}{% else %}{{type.patternId}}/{{type.publishedVersion}}/design.yml {% endif %}" download="{{type.name}}.yml">
          <button id="resourceDownloadBtn" data-patternId="{{type.patternId}}" onclick="sendCloudTelemetry()"
            class="import" style="width: 7rem;">
            Download
          </button>
        </a>

        <div class="btn-tooltip-grp">
          <a class="btn tooltip-modal" data-clipboard-target="#copy-url" data-clipboard-text="{{type.URL}}"
            onmouseout="resetCopyText(this)">
            <button class="import" style="width: 7rem;">Copy URL
            </button>
          </a>
        </div>


      </div>
    </div>
  </div>
</div>
{% else %}
<div id="copy-url">
  <div class="btn-class">
    <div class="vertical-center" id="{{type.name}}">
      <div class="btn-grp">
        <button class="import-disabled">Download</button>
        <div class="btn-tooltip-grp">
          <button class="import-disabled">Copy URL</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}


<script>

  function sendCloudTelemetry() {

    const element = document.getElementById("resourceDownloadBtn")
    const patternId = element.dataset.patternid
    patternId && fetch(`https://cloud.layer5.io/api/content/patterns/download/${patternId}`)
  }

</script>