<div class="filter-wrap">
    <h4>Categories:</h4>   
    <label><input type="checkbox" class="check" value="All" id="all" onclick=handleChange() /> All </label>
    <label><input type="checkbox" class="check" value="Deployment" id="deployment" onclick=handleChange() /> Deployment </label>
    <label><input type="checkbox" class="check" value="Traffic Management" id="traffic-management" /> Traffic Management </label>
    <label><input type="checkbox" value="Security" id="security"  /> Security </label> 
    <label><input type="checkbox" value="Workloads" id="workloads"  /> Workloads </label> 
    <label><input type="checkbox" value="Observability" id="observability"  /> Observability </label>
    <label><input type="checkbox" value="Troubleshooting" id="troubleshooting" /> Troubleshooting </label>
    <label><input type="checkbox" value="Scaling" id="scaling"   /> Scaling </label>
    <label><input type="checkbox" value="Resiliency" id="resiliency"   /> Resiliency </label>   
  <hr>
    <p><strong>Compatibility:</strong></p>
      <label><input type="checkbox" value="Istio" id="istio" onclick=handleChange()  /> <img class="dropdown-icon" src="/assets/images/istio.svg"/> Istio </label>
      <label><input type="checkbox" value="Linkerd" id="linkerd" onclick=handleChange()  /> <img class="dropdown-icon" src="/assets/images/linkerd.svg"/> Linkerd </label>
      <label><input type="checkbox" value="Consul" id="consul" /> <img class="dropdown-icon" src="/assets/images/consul.svg"/> Consul </label>
      <label><input type="checkbox" value="Kuma" id="kuma"/> <img class="dropdown-icon" src="/assets/images/kuma.svg"/> Kuma </label>
      <label><input type="checkbox" value="App Mesh" id="app-mesh"  /> <img class="dropdown-icon" src="/assets/images/aws-app-mesh.svg"/> App Mesh </label>
      <label><input type="checkbox" value="OSM" id="osm"  /> <img class="dropdown-icon" src="/assets/images/osm.svg"/> Open Service Mesh </label>
      <label><input type="checkbox" value="Traefik" id="traefik"   /> <img class="dropdown-icon" src="/assets/images/adapters/traefik-mesh.svg"/> Traefik Mesh </label>
      <label><input type="checkbox" value="Nginx" id="nginx"/> <img class="dropdown-icon" src="/assets/images/nginx-sm.svg"/> Nginx </label>
      <label><input type="checkbox" value="NSM" id="nsm" /> <img class="dropdown-icon" src="/assets/images/adapters/nsm.svg"/> NSM </label>   
    <hr>
    <p><strong>Technology:</strong></p>
      <label><input type="checkbox" value="WebAssembly" id="webassembly"   /> WebAssembly </label>
      <label class="disabled-label"><input type="checkbox" value="JWT" disabled/> JWT </label>
      <label class="disabled-label"><input type="checkbox" value="SPIRE" disabled/> SPIRE </label>
  </div>
<script>
  const handleChange = () => {
    var checkboxes = document.querySelectorAll('input[type=checkbox]:checked')
    var filters = [];
    var Categories = ["Deployment", "Traffic Management", "Security", "Workloads", "Observability", "Troubleshooting", "Scaling", "Resiliency"];
    var Compatibility = ["Istio", "Linkerd", "Consul", "Kuma", "App Mesh", "OSM", "Traefik", "Nginx", "NSM"];
    var Technology = ["WebAssembly", "JWT", "SPIRE"];
    var categoryDATA =[];
    var compDATA = [];
    var techDATA = [];
    var allPatterns = {{ site.data.patterns | jsonify }};
    var finalCategories = [];
    var finalCompatibility = [];
    var finalTechnology = [];
    var Result = [];
    var data = [];

for (var i = 0; i < checkboxes.length; i++) {
     
      filters.push(checkboxes[i].value)
      
    }

  filters.forEach((x) => { 
    Categories.map((y) => { 
      if( x === y ) {
        categoryDATA.push(y);
       }
    }) 
  })

  filters.forEach((x) => { 
    Compatibility.map((y) => { 
      if( x === y ) {
         compDATA.push(y);
       }
    }) 
  })

  filters.forEach((x) => { 
    Technology.map((y) => { 
      if( x === y ) {
        techDATA.push(y);
       }
    }) 
  })

  allPatterns.forEach((x) => {
    categoryDATA.map((category) => {
        if(x.filters.type === category)
        {
         finalCategories.push(x);
        }
      })
  })

  allPatterns.forEach((x) => {
  compDATA.map((compatibility) => {
    for(i=0;i< x.filters.compatibility.length;i++)
    {
      if(x.filters.compatibility[i] === compatibility)
      {
        finalCompatibility.push(x);
      }
    }
    })
})

  allPatterns.forEach((x) => {
    techDATA.map((tech) => {
        if(x.filters.technology === tech)
        {
         finalTechnology.push(x);
        }
      })
  })

  if(categoryDATA.length === 0) finalCategories = allPatterns;
      if(compDATA.length === 0) finalCompatibility = allPatterns;
      if(techDATA.length === 0) finalTechnology = allPatterns;

  Result = [finalCategories, finalCompatibility, finalTechnology, allPatterns]
      data = Result.reduce((a, b) => a.filter(c => b.includes(c)));

var check = document.querySelectorAll('.check');
var card = document.querySelectorAll(".card");

  for(let i in data){
    check[i].addEventListener('change', function(){
        card[i].style.opacity = "0"
    });
}
  }
</script>