<style>
    .main-container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



.card__name {
    color:#333;
     font-weight: 1400;
     font-style: bold;
     white-space: nowrap;
     text-align: center;
     padding: 15px 0 3px 0;
}

.card__image {
width: 60%;
-o-object-fit: contain;
       object-fit: contain;
    position: absolute;
    margin-left: 10%;
}

/* 
.draw-border {
  box-shadow: inset 0 0 0 4px #58cdd1;
  color: #58afd1;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0rem;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: #ffe593;
}

.draw-border:hover::before,
.draw-border:hover::after {
  border-color: #eb196e;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 0.75em 2em;
  letter-spacing: 0.05rem;
  margin: 1em;
  width: 13rem;
}

.btn:focus {
  outline: 2px dotted #55d7dc;
} */
</style>
    <div class="link open-modal-btn">
    <div class="card">
        <div class="chip">
            <small class="pattern-type"> {{pattern.type}}</small>
        </div>
    <p class="card__name">{{pattern.name}}</p>
      <img src="{{pattern.image}}"  class="card__image">
      <h6 class="pattern-id">
        <img class="smp"
          src="{{site.baseurl}}/images/logos/service-mesh-pattern.svg"
          loading="lazy" />
        {{pattern.patternId}}
      </h6>
    </div>
</div>
  