<div class="container" style="width: 100%; text-align: left; margin-top: 30px;">

  <h1 class="getting-started-heading">Getting Started</h1>
    <h2 style>with Meshery</h2>
      <p style="font-size: 1.15rem;">
        Choose a platform and see how easy it is to get up and running with a service mesh.
      </p>
    </h1>
</div>

<div class="container">
  <div class="text editable code">
    <div class="post-content row" itemprop="articleBody">
      <div style="display: inline-flex; line-height: 60px;">
        <h1 class="step-number">01</h1>
        <h2 class="step-heading">Install and Start</h2>
      </div>
      <div class="platformIcon">
        <label class="tooltip" for="start-helm-v2" style="margin: 0 20px 0px 0px; padding: 0;">
          <img id="bounce"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4b/Bash_Logo_Colored.svg/1024px-Bash_Logo_Colored.svg.png"
            alt="Bash User">
          <span class="tooltiptext">Bash User</span>
        </label>
        <label class="tooltip" for="start-brew" style="margin: 0px 20px 0px 0px; padding: 0;">
          <img id="bounce"
            src="https://brew.sh/assets/img/homebrew-256x256.png" alt="Brew User">
          <span class="tooltiptext">Brew User</span>
        </label>
        <label class="tooltip" for="k8s-instructions" style="margin: 0 20px 0px 0px; padding: 0;">
          <img id="bounce"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/Kubernetes_logo_without_workmark.svg/1200px-Kubernetes_logo_without_workmark.svg.png"
            alt="Kubernetes User">
          <span class="tooltiptext">Kubernetes User</span>
        </label>
        <label class="tooltip" for="windows" style="margin: 0px 20px 0px 0px; padding: 0;">
          <img id="bounce"
            src="https://pngimg.com/uploads/windows_logos/windows_logos_PNG31.png" alt="Windows User">
          <span class="tooltiptext">Windows User</span>
        </label>
      </div>

      <!-- Docker -->
      <div class="toggle">
        <input type="checkbox" class="k8s-instructions" checked name="one" id="start-helm-v2">
        <div class="hidediv">
            <p>Install on Mac or Linux using Docker:</p>

            <div id="start-docker" class="highlight-code">
                <p class="code-box"><code style="position: absolute;">  $ curl -L https://git.io/meshery | bash - </code></p>
                <!-- copy to clipboard -->
                <a class="btn tooltip" data-clipboard-target="#start-docker" data-clipboard-text="curl -L https://git.io/meshery | bash -" 
                  onmouseout="resetCopyText(this)" style="position:absolute; top: 0.5rem; right: 0.5rem; font-size: 22px;">
                  <i class="far fa-copy"></i>
                  <span class="tooltiptext" style="font-size: 15px; width: 140px; height: 40px; padding: 0; line-height: 40px; top: 3rem; left: -20px;">Copy to clipboard</span>
                </a>
              </div>

        </div>
      </div>
      
      <!-- Brew -->
      <div class="toggle">
        <input type="checkbox" class="k8s-instructions" checked name="one" id="start-brew">
        <div class="hidediv">
            <p>Install on Mac or Linux using Homebrew:</p>

            <div id="start-brew" class="highlight-code">
              <p class="code-box" style="height: 60px; line-height: 30px;"><code style="position: absolute;"> $ brew install layer5io/mesheryctl
                $ mesheryctl system start</code></p>
                <!-- copy to clipboard -->
                <a class="btn tooltip" style="position: absolute; top:0.5rem; right: 0.5rem; font-size: 22px;" data-clipboard-target="#start-brew"
                  data-clipboard-text="brew install layer5io/mesheryctl
mesheryctl system start" onmouseout="resetCopyText(this)">
                  <i class="far fa-copy"></i>
                  <span class="tooltiptext" style="font-size: 15px; width: 140px; height: 40px; padding: 0; line-height: 40px; top: 3rem; left: -20px;">Copy to clipboard</span>
                </a>
            </div>
        </div>
      </div>
      <!-- Kubernetes -->
      <div class="toggle">
        <input type="checkbox" class="k8s-instructions" checked name="one" id="k8s-instructions">
        <div class="hidediv">

            <!-- Kubernetes - Helm -->
            <h4 style="font-size: 1.5em;">Using Helm</h4>
            <p>Helm v3 - run the following:</p>
            <div id="start-helm-v3" class="highlight-code">
              <p class="code-box" style="height: 90px; line-height: 30px;"><code style="position: absolute;"> $ git clone https://github.com/layer5io/meshery.git; cd meshery
                $ kubectl create namespace meshery
                $ helm install meshery --namespace meshery install/kubernetes/helm/meshery
                </code></p>
                <!-- copy to clipboard -->
                <a class="btn tooltip" style="position: absolute; top:0.5rem; right: 0.5rem; font-size: 22px;" data-clipboard-target="#start-helm-v3"
                  data-clipboard-text="git clone https://github.com/layer5io/meshery.git; cd meshery
kubectl create namespace meshery
helm install meshery --namespace meshery install/kubernetes/helm/meshery" onmouseout="resetCopyText(this)">
                  <i class="far fa-copy"></i>
                  <span class="tooltiptext" style="font-size: 15px; width: 140px; height: 40px; padding: 0; line-height: 40px; top: 3rem; left: -20px;">Copy to clipboard</span>
                </a>
              </div>

            <p>Helm v2 - run the following:</p>

            <div id="start-helm-v2" class="highlight-code">
              <p class="code-box" style="height: 90px; line-height: 30px;"><code style="position: absolute;"> $ git clone https://github.com/layer5io/meshery.git; cd meshery
                $ kubectl create namespace meshery
                $ helm template meshery --namespace meshery install/kubernetes/helm/meshery
                </code></p>
                <!-- copy to clipboard -->
                <a class="btn tooltip" style="position: absolute; top:0.5rem; right: 0.5rem; font-size: 22px;" data-clipboard-target="#start-helm-v2"
                  data-clipboard-text="git clone https://github.com/layer5io/meshery.git; cd meshery
kubectl create namespace meshery
helm template meshery --namespace meshery install/kubernetes/helm/meshery" onmouseout="resetCopyText(this)">
                  <i class="far fa-copy"></i>
                  <span class="tooltiptext" style="font-size: 15px; width: 140px; height: 40px; padding: 0; line-height: 40px; top: 3rem; left: -20px;">Copy to clipboard</span>
                </a>
            </div>

          <!-- Kubernetes - Manifests -->
          <h4 style="font-size: 1.5em;">Using Manifests directly</h4>
          <p>Using Kubernetes, install Meshery on your cluster by cloning the Meshery repo:</p>

          <div id="start-k8s-manifests" class="highlight-code">
            <p class="code-box"><code style="position: absolute;"> $ git clone https://github.com/layer5io/meshery.git; cd meshery </code></p>
              <!-- copy to clipboard -->
              <a class="btn tooltip" style="position: absolute; top:0.5rem; right: 0.5rem; font-size: 22px;" data-clipboard-target="#start-k8s-manifests"
                data-clipboard-text="git clone https://github.com/layer5io/meshery.git; cd meshery" onmouseout="resetCopyText(this)">
                <i class="far fa-copy"></i>
                <span class="tooltiptext" style="font-size: 15px; width: 140px; height: 40px; padding: 0; line-height: 40px; top: 3rem; left: -20px;">Copy to clipboard</span>
              </a>
          </div>

          <p>Install Meshery on your cluster by running the following:</p>

          <div id="start-k8s-in-cluster" class="highlight-code">
              <p class="code-box" style="height: 60px; line-height: 30px;"><code style="position: absolute;"> $ kubectl create ns meshery
                $ kubectl -n meshery apply -f install/deployment_yamls/k8s</code></p>
              <!-- copy to clipboard -->
              <a class="btn tooltip" style="position: absolute; top:0.5rem; right: 0.5rem; font-size: 22px;" data-clipboard-target="#start-k8s-in-cluster"
                data-clipboard-text="kubectl create ns meshery
kubectl -n meshery apply -f install/deployment_yamls/k8s" onmouseout="resetCopyText(this)">
                <i class="far fa-copy"></i>
                <span class="tooltiptext" style="font-size: 15px; width: 140px; height: 40px; padding: 0; line-height: 40px; top: 3rem; left: -20px;">Copy to clipboard</span>
              </a>
          </div>
        </div>
      </div>

      <!-- Windows-->
      <div class="toggle" id="windowsBlock">
        <input type="checkbox" class="k8s-instructions" checked name="one" id="windows">
        <div class="hidediv">
            <p>Download and unzip <span style="color: rgb(117, 250, 255);">mesheryctl</span> from the <a
                href="https://github.com/layer5io/meshery/releases/tag/v0.3.9">Meshery releases</a> page. Add <span
                style="color: rgb(117, 250, 255);">mesheryctl</span> to your PATH for ease of use. Then, execute:
            </p>
            <div id="start-windows" class="highlight-code">
              <p class="code-box"><code style="position: absolute;"> $ ./mesheryctl start </code>
              </p>
              <!-- copy to clipboard -->
              <a class="btn tooltip" style="position: absolute; top:0.5rem; right: 0.5rem; font-size: 22px;" data-clipboard-target="#start-windows"
                data-clipboard-text="./mesheryctl start" onmouseout="resetCopyText(this)">
                <i class="far fa-copy"></i>
                <span class="tooltiptext" style="font-size: 15px; width: 140px; height: 40px; padding: 0; line-height: 40px; top: 3rem; left: -20px;">Copy to clipboard</span>
              </a>
            </div>
          </div>
      </div>
      
      <hr>

      <div class="login" style="display: inline-flex; line-height: 60px; ">
        <h1 class="step-number">02</h1>
        <h2 class="step-heading">Login</h2> 
      </div>
      <p id="breakWords" style="margin-left:1em;">Open Meshery in your browser.
      </p>
    </div>
  </div>
</div>
