<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css" />
    
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="Meshery" />
    <meta name="twitter:site" content="@mesheryio" />
    <meta name="twitter:creator" content="@mesheryio" />
    <meta name="author" content="Meshery Authors">
    <meta
      name="twitter:image"
      content="https://raw.githubusercontent.com/meshery/meshery.io/master/assets/images/logos/meshery-gradient.png"
    />
    <meta name="image" property="og:image" content="https://raw.githubusercontent.com/meshery/meshery.io/master/assets/images/logos/meshery-gradient.png" />
    <meta property="og:type" content="website">
    <meta name="og:image" content="https://raw.githubusercontent.com/meshery/meshery.io/master/assets/images/logos/meshery-gradient.png" />

  </head>

  <body style="overflow-x: hidden">
    {% if page.title != "Meshery | The Kubernetes and Cloud Native Manager" and page.title != "Programs" %}
    <header id="mainHeader" class="filledHeader">
    {% else %}
    <header id="mainHeader">
    {% endif %}
      <div class="container nav-container">
        <div class="project-name">
          <a href="{{ site.baseurl }}/">
            <img
              src="{{ site.baseurl }}/assets/images/logos/meshery-logo.png"
              alt="Meshery Logo"
            />&nbsp;
            <img
              src="{{ site.baseurl }}/assets/images/logos/meshery-logo-text-dark.png"
              data-logo-for-dark="{{ site.baseurl }}/assets/images/logos/meshery-logo-text.png"
              data-logo-for-light="{{ site.baseurl }}/assets/images/logos/meshery-logo-text-dark.png"
              alt="Meshery Logo"
              id="logo-dark-light"
            />
          </a>
        </div>
        {% include navigation.html %}
        <div class="nav-mode-icon" id="mode-toggle-btn" style="text-align: center;">
          <img class="nav-text" id="logo-dark-light" src="{{ site.baseurl }}/assets/images/nav-icons/mode-toggle-icon-sun.png" 
            data-logo-for-dark="{{ site.baseurl }}/assets/images/nav-icons/mode-toggle-icon-moon.png"
            data-logo-for-light="{{ site.baseurl }}/assets/images/nav-icons/mode-toggle-icon-sun.png"
          />          
        </div>
      </div>
    </header>
  </body>
</html>
