<!-- 1. Add latest jQuery and fancybox files -->
<link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/integrations/main.css" />
<style>
	a {
		color: #00d3a9;
		text-decoration: none !important;
	}

	a:hover {
		color: #00b39f;
	}

	ul>li {
		font-family: 'Qanelas Soft', 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
	}

	.element {
		width: 120px;
		height: 160px;
		/* box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.5); */
		filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 4px 10px);
		border: 1px solid rgba(127, 255, 255, 0.25);
		text-align: center;
		line-height: normal;
		cursor: default;
	}

	.element:hover {
		box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.75);
		/* filter: drop-shadow(rgba(0, 0, 0, 0.9) 0px 4px 20px); */
		border: 1px solid white;
	}

	.element .number {
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 12px;
		color: black;
	}

	.element .symbol {
		position: absolute;
		top: 40px;
		left: 0px;
		right: 0px;
		font-size: 60px;
		font-weight: bold;
		color: rgba(255, 255, 255, 0.75);
		text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
	}

	.element .details {
		position: absolute;
		bottom: 15px;
		left: 0px;
		right: 0px;
		font-size: 12px;
		color: black;
	}



	button {
		color: white;
		background: transparent;
		border: 0px;
		padding: 5px 10px;
		cursor: pointer;
	}

	button:hover {
		background-color: rgba(0, 255, 255, 0.5);
	}

	button:active {
		color: #000000;
		background-color: rgba(0, 255, 255, 0.75);
	}

	#integration-container>div:hover {
		box-shadow: rgb(50 50 93 / 5%) 0px 30px 60px -12px inset, rgb(0 0 0 / 12%) 2px 8px 33px 8px inset;
	}
</style>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<style>
	/* Prevent background scrolling when Fancybox modal is open */
	.fancybox-active {
		overflow: hidden !important;
	}

	h2.sub-text {
		font-family: "Qanelas Soft", "Open Sans", sans-serif;
		-webkit-font-smoothing: antialiased;
	}
</style>
<a id="button-scroll-to-up" style="text-decoration: none; color: white;"></a>

<section class="hero" style="padding-bottom: 1rem">
	<div class="text-container">
		<h1 style="margin: 0rem 0rem 1rem 0rem;">the <span class="special-text" style="animation-delay: .5s;">
				extensible</span> Kubernetes manager</h1>
		<div class="video-box">

			<a href="{{ site.baseurl }}/assets/videos/meshery-dashboard-hero-image.png" data-fancybox="images"
				data-caption="Meshery dashboard" title="Meshery Dashboard">

				<img src="{{ site.baseurl }}/assets/videos/meshery-dashboard-hero-image.png" style="width:100%;" />
		</div>
		<a href="https://github.com/meshery/meshery">
			<img class="meshery-repo"
				src="https://img.shields.io/github/stars/meshery/meshery.svg?style=social&label=Stars"
				alt="Stars on meshery.io GitHub repository" style="height: 1.75rem;
		margin-top: 1rem;" />
		</a>
		<a href="https://github.com/meshery/meshery">
			<img class="meshery-repo"
				src="https://img.shields.io/github/forks/meshery/meshery.svg?style=social&label=Fork"
				alt="Fork meshery.io GitHub repository" style="height: 1.75rem;
			margin-top: 1rem;" />
		</a>
	</div>
</section>

<section>
</section>
<!-- <hr style="width: 70%; margin-bottom:3rem; border: 1px solid; color: var(--color-secondary-dark);"> -->

<section id="integrations">
	{% include partials/homePage-integrations.html %}
</section>

<!-- Features Section -->
<div class="content">
	{% include features.html %}
</div>


<div class="content">
	<!-- Used by Section -->
	<section class="used-by-section">
		<div class="used-by-container">
			<h1 class="used-by">Used By</h1>
			<div class="companies-image">
				<div class="company-image">
					<img src="./assets/images/company-logo/hpe-logo-color-no-trim.svg" alt="Hewlett Packard logo"
						loading="lazy" id="logo-dark-light"
						data-logo-for-dark="./assets/images/company-logo/hpe-logo-dark.svg"
						data-logo-for-light="./assets/images/company-logo/hpe-logo-color-no-trim.svg"
						style="filter: none;" />
				</div>
				<div class="company-image">
					<img src="./assets/images/company-logo/intraserve.png" alt="Intraserve logo" loading="lazy" />
				</div>
				<div class="company-image">
					<img src="./assets/images/company-logo/solarwinds.svg" id="logo-dark-light"
						data-logo-for-dark="/assets/images/company-logo/solarwinds_white.svg"
						data-logo-for-light="./assets/images/company-logo/solarwinds.svg" style="filter: none;"
						alt="SolarWinds logo" loading="lazy" />
				</div>
				<div class="company-image">
					<img src="./assets/images/company-logo/book-my-show-logo.png" alt="BookMyShow logo"
						loading="lazy" />
				</div>
				<div id="ericsson-logo" class="company-image">
					<img src="./assets/images/company-logo/ericsson-logo.png" alt="Ericsson logo" loading="lazy" />
				</div>
				<div id="metabob-logo" class="company-image">
					<img src="./assets/images/company-logo/metabob-logo-1.png" alt="Metabob logo" loading="lazy" />
				</div>
				<div id="digitalocean-logo" class="company-image">
					<img src="./assets/images/company-logo/digitalocean-color.svg" alt="DigitalOcean logo"
						loading="lazy" />
				</div>
				<div id="asteria-logo" class="company-image">
					<img src="./assets/images/company-logo/Asteria_Logo_horizontal_blue.svg" alt="asteria logo"
						loading="lazy" />
				</div>
				<div id="Bootlabs-logo" class="company-image">
					<img src="./assets/images/company-logo/bootlabs-logo-2.png" id="logo-dark-light"
						data-logo-for-dark="/assets/images/company-logo/bootlabs-white.svg"
						data-logo-for-light="./assets/images/company-logo/bootlabs-logo-2.png" style="filter: none;"
						alt="Bootlabs logo" loading="lazy" />
				</div>
				<div id="Intel-logo" class="company-image">
					<img src="./assets/images/company-logo/intel-logo.svg"
						data-logo-for-dark="/assets/images/company-logo/red-hat-dark-logo.png" alt="Intel logo"
						loading="lazy" style="height: 5.3vh; width:auto" />
				</div>
				<div id="Bootlabs-logo" class="company-image">
					<img src="./assets/images/company-logo/vmware-logo.svg" alt="VMWARE logo" loading="lazy" />
				</div>
				<div id="Red-Hat-logo" class="company-image">
					<img src="./assets/images/company-logo/red-hat-logo.svg" id="logo-dark-light"
						data-logo-for-dark="/assets/images/company-logo/red-hat-dark-logo.png"
						data-logo-for-light="./assets/images/company-logo/red-hat-logo.svg" style="filter: none;"
						alt="RedHat logo" loading="lazy" />

				</div>
				<div id="Metabit-Trading-logo" class="company-image">
					<img src="./assets/images/company-logo/metabit-trading-logo.png" alt="Metabit Trading logo"
						loading="lazy" />
				</div>
			</div>
		</div>
	</section>
	<!-- Created By Section -->
	<div class="created-and-used-by-sections">
		<section class="created-by-section">
			<div class="created-by-container">
				<h1 class="created-by">Created By</h1>
				<div class="company-image">
					<a href="https://layer5.io/" target="_blank">
						<img id="logo-dark-light" alt="Layer5 logo" src="./assets/images/company-logo/layer5-white.svg"
							data-logo-for-dark="./assets/images/company-logo/layer5-white.svg"
							data-logo-for-light="./assets/images/company-logo/layer5-no-trim.svg" loading="lazy"
							style="filter: none;" />
					</a>
				</div>
			</div>
		</section>
	</div>

</div>


<div class="content">

	<!-- Adopter Section -->
	<section class="adopter-section">
		<div class="adopter-container">
			<h2 class="adopter-title">Add yourself as an <strong>adopter</strong></h2>
			<p class="adopter-description">and share your cloud native story with the community</p>
			<div class="button-para button-para--center">
				<a href="https://github.com/meshery/meshery/blob/master/ADOPTERS.md" target="_blank" class="highlight"
					style="align-self: center">
					Become an Adopter
				</a>
			</div>
			<br>
		</div>
	</section>
</div>

<section class="bg-white">
	{% include partials/callouts.html %}
</section>

<section id="getting-started" class="getting-started">
	{% include getting-started.html %}
</section>

{% include testimonials.html %}
<section class="bg-white">
	<div class="container cncf-section">
		<h4>MESHERY IS A CLOUD NATIVE COMPUTING FOUNDATION PROJECT</h4>

		<img src="./assets/images/cncf-horizontal-color.svg" id="logo-dark-light"
			data-logo-for-dark="./assets/images/cncf-light-logo.svg"
			data-logo-for-light="./assets/images/cncf-horizontal-color.svg" class="cncf-img"
			alt="Cloud Native Computing Foundation Logo" loading="lazy" />
		<p>
			<span class="project-caption">
				Created by
				<a href="https://layer5.io/" target="_blank">
					<img id="layer5-logo" src="{{ site.baseurl }}/assets/images/company-logo/layer5-no-trim.svg"
						alt="Layer5 Logo" />
				</a>
				and its open source community.
			</span>
		</p>
	</div>
</section>
<section class="reversehero">
	<div>
		<div class="homepage-join">
			{% include subscribe.html %}
		</div>
		<div class="mailinglist">
			<h3 class="mail-heading">Project Mailing lists</h3>
			<p class="mail-subheading">Engage in the Meshery project. Join any of our mailing lists.</p>
			<div class="mail-container">
				<div class="mail-row">
					<p class="button-alt"><a href="https://groups.google.com/a/meshery.io/g/developers"
							class="button-dev">Developers</a></p>
					<p class="button-alt"><a href="https://groups.google.com/a/meshery.io/g/users"
							class="button-user">Users</a></p>
				</div>
				<div class="mail-row">
					<p class="button-alt"><a href="mailto:maintainers@meshery.io" class="button-maintain">Maintainer</a>
					</p>
					<p class="button-alt"><a href="mailto:community@meshery.io" class="button-comm">Community</a></p>
				</div>

			</div>
		</div>

</section>
</div>