{% if page.title == 'Subscribe' %}
<div class="mailers">
  {% endif %}
  <h2 class="font-bold heading">Mailing Lists and Discussion Forum</h2>
  <p class="sub-heading">
    Engage in the Meshery project. Join any of our mailing lists. Get your questions answered in the discussion forum.
  </p>
  <div class="mailing-component">
    <div class="mailing-row">
      <div class="bg-grey-300">
        <div class="mailing-container">
          <div>
            <h3 class="h3">Meshery Developers</h3>
          </div>
        </div>
        <div class="mailing-container mail-link-div">
          <a
          class="mail-link"
          href="https://groups.google.com/a/meshery.io/g/developers"
            >developers@meshery.io</a
          >
        </div>
        <p class="p-normal">Engage with contributors. Contribute to Meshery.</p>
        <div class="mailing-btn">
          <a
            class="button"
            href="https://groups.google.com/a/meshery.io/g/developers"
            >Subscribe</a
          >
        </div>
      </div>
      <div class="bg-grey-300">
        <div class="mailing-container">
          <div>
            <h3 class="h3">Meshery Users</h3>
          </div>
        </div>
        <div class="mailing-container mail-link-div">
          <a
          class="mail-link"
          href="https://groups.google.com/a/meshery.io/g/users"
          >users@meshery.io</a
          >
        </div>
        <p class="p-normal">Learn about Meshery. Troubleshoot issues. Share cloud native experiences.</p>
        <div class="mailing-btn">
          <a
            class="button"
            href="https://groups.google.com/a/meshery.io/g/users"
            >Subscribe</a
          >
        </div>
      </div>
    </div>
    <div class="mailing-row">
      <div class="bg-grey-300">
        <div class="mailing-container">
          <div>
            <h3 class="h3">Meshery Maintainers</h3>
          </div>
        </div>
        <div class="mailing-container mail-link-div">
          <a class="mail-link" href="mailto:maintainers@meshery.io"
          >maintainers@meshery.io</a
          >
        </div>
        <p class="p-normal">Contact Meshery Maintainers via email.</p>
        <div class="mailing-btn">
          <a class="button" href="mailto:maintainers@meshery.io">Send email</a>
        </div>
      </div>
      <!--<div class="bg-grey-300">
        <div class="mailing-container">
          <div>
            <h3 class="h3">Meshery Community</h3>
          </div>
          <div>
            <a class="button" href="mailto:community@meshery.io">Subscribe</a>
          </div>
        </div>
        <div class="mailing-container mail-link-div">
          <a class="mail-link" href="mailto:community@meshery.io"
            >community@meshery.io
          </a>
        </div>
        <p class="p-normal">Receive the latest updates on Meshery and surrounding projects.</p>
      </div>
    </div> -->
    <div class="bg-grey-300">
      <div class="mailing-container">
        <div>
          <h3 class="h3">Meshery Vulnerabilities</h3>
        </div>
      </div>
      <div class="mailing-container mail-link-div">
        <a
          class="mail-link"
          href="mailto:security@meshery.dev"
          >security@meshery.dev</a
        >
      </div>
      <p class="p-normal">
        Report a vulnerability or inquire about a security-related concern.
      </p>
      <div class="mailing-btn">
        <a class="button" href="https://docs.meshery.io/project/security-vulnerabilities"
          >Learn More</a
        >
      </div>
    </div>
    </div>
  </div>
  
    
  <div class="mailing-row mailing-row-single">
    <div class="bg-grey-300 bg-single">
      <div class="mailing-container">
        <div>
          <h3 class="h3">Discussion Forum</h3>
        </div>
        <div>
          <a class="button" href="mailto:community@meshery.io">Engage</a>
        </div>
      </div>
      <div class="mailing-container mail-link-div">
        <a class="mail-link saffron" href="/community#discussion-forums"
          >Questions and answers about Meshery
        </a>
      </div>
      <p class="p-normal white">Get your questions answered in the Meshery discussion forum.</p>
    </div>
  </div>

  {% if page.title == 'Subscribe' %}
</div>
{% endif %}
<!--Mailing List-->
