{% if page.title == 'Meshery | The Service Mesh Manager' %}

<style>
  .bg-grey-300 {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: left;
  }
  .mail-link {
    color: white;
    text-decoration: none;
  }

  @media (min-width: 555px) and (max-width: 603px) {
    .EMAIL {
      width: 100% !important;
    }
  }
</style>

{% endif %} {% if page.title == 'Subscribe' %}
<div class="mailers">
  {% endif %}
  <h2 class="font-bold heading">Mailing Lists</h2>
  <p class="sub-heading">
    Engage in the Meshery project. Join any of our mailing lists.
  </p>
  <div class="mailing-component">
    <div class="mailing-row">
      <div class="bg-grey-300">
        <div class="mailing-container">
          <div>
            <h3 class="h3">Meshery Developers</h3>
            <h4 class="h4 text-normal">Developers</h4>
          </div>
          <div>
            <a
              class="button"
              href="https://groups.google.com/a/meshery.io/g/dev-group"
              >Subscribe</a
            >
          </div>
        </div>
        <div class="mailing-container mail-link-div">
          <a
            class="mail-link"
            href="https://groups.google.com/a/meshery.io/g/dev-group"
            >dev-group@meshery.io</a
          >
        </div>
        <p class="p-normal">The mailing list for Meshery devolopers.</p>
      </div>
      <div class="bg-grey-300">
        <div class="mailing-container">
          <div>
            <h3 class="h3">Meshery Users</h3>
            <h4 class="h4 text-normal">Meshery Users</h4>
          </div>
          <div>
            <a
              class="button"
              href="https://groups.google.com/a/meshery.io/g/user-group"
              >Subscribe</a
            >
          </div>
        </div>
        <div class="mailing-container mail-link-div">
          <a
            class="mail-link"
            href="https://groups.google.com/a/meshery.io/g/user-group"
            >user-group@meshery.io</a
          >
        </div>
        <p class="p-normal">The general mailing list for Meshery users.</p>
      </div>
    </div>
    <div class="mailing-row">
      <div class="bg-grey-300">
        <div class="mailing-container">
          <div>
            <h3 class="h3">Meshery Maintainers</h3>
            <h4 class="h4 text-normal">Meshery Maintainers Mailing List</h4>
          </div>
          <div>
            <a class="button" href="mailto:maintainers@meshery.io">Subscribe</a>
          </div>
        </div>
        <div class="mailing-container mail-link-div">
          <a class="mail-link" href="mailto:maintainers@meshery.io"
            >maintainers@meshery.io</a
          >
        </div>
        <p class="p-normal">The mailing list for Meshery Maintainers.</p>
      </div>
      <div class="bg-grey-300">
        <div class="mailing-container">
          <div>
            <h3 class="h3">Meshery Security Reports</h3>
            <h4 class="h4 text-normal">Security and Vulnerabilty Report</h4>
          </div>
          <div>
            <a class="button" href="meshery-security-vulns-reports@meshery.dev"
              >Subscribe</a
            >
          </div>
        </div>
        <div class="mailing-container mail-link-div">
          <a
            class="mail-link"
            href="mailto:meshery-security-vulns-reports@meshery.dev"
            >meshery-security-vulns-reports@meshery.dev</a
          >
        </div>
        <p class="p-normal">
          The mailing list for Meshery Security and Vulnerability Reports.
        </p>
      </div>
    </div>
    <div class="mailing-row mailing-row-single">
      <div class="bg-grey-300 bg-single">
        <div class="mailing-container">
          <div>
            <h3 class="h3">Meshery Community</h3>
            <h4 class="h4 text-normal">Meshery Maintainers Mailing List</h4>
          </div>
          <div>
            <a class="button" href="mailto:community@meshery.io">Subscribe</a>
          </div>
        </div>
        <div class="mailing-container mail-link-div">
          <a class="mail-link" href="mailto:community@meshery.io"
            >community@meshery.io
          </a>
        </div>
        <p class="p-normal">The mailing list for Meshery community members.</p>
      </div>
    </div>
  </div>

  {% if page.title == 'Subscribe' %}
</div>
{% endif %}
<!--Mailing List-->
