{% if page.title == 'Subscribe' %}
<div class="mailers">
{% endif %}
<h3 style="margin: 0rem auto 0rem auto;">Project Mailing lists</h3>
<p style="margin: 0rem auto 2rem auto;font-size: 1.2rem;">Engage in the Meshery project. Join any of our mailing lists.</p>
<div style="display: flex;flex-flow: row;justify-content: space-evenly;">
    <p class="button alt"><a href="https://groups.google.com/a/meshery.io/g/dev-group">Dev</a></p>
    <p class="button alt"><a href="https://groups.google.com/a/meshery.io/g/user-group">User</a></p>
</div>
<h3 style="margin: 2rem auto 2rem auto;">Compare and contrast service meshes</h3>
    <p class="button alt"><a href="https://layer5.io/landscape" >Service mesh landscape</a></p>

{% if page.title == 'Subscribe' %}
</div>
{% endif %}