<!-- 1. Add latest jQuery and fancybox files -->
<link
  type="text/css"
  rel="stylesheet"
  href="{{ site.baseurl }}/integrations/main.css"
/>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css"
/>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css"
/>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<style>
  .layerH3 {
    text-align: start;
    margin-bottom: 1em;
  }

  .in {
    margin-top: 2rem;
  }

  .ImgDiv {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }

  .row {
    display: flex;
    justify-content: space-between;
    /* Adjust as needed */
    flex-wrap: wrap;
    /* Allows divs to wrap to the next line if they don't fit */
  }

  .col {
    position: relative;
    width: 100%;
  }


  @media (max-width: 768px) {
    .button1 {
      width: 100%;
      margin-left: 0;
    }
  }

 
  
</style>

<div className="post-content">
  <!-- Corrected: Use 'class' instead of 'className' for plain HTML -->
  <div class="row sub-project brand-section">
    <h1 class="layerH3" style="font-weight: 1000">Our Mascot, Five</h1>


      <p style="margin-top: -1rem;">
        Introducing Five, a playful and dynamic visual language that captures
        the essence of Layer5. These charming and minimalist illustrations serve
        as the perfect embodiment of our brand’s values and offerings.
      </p>

  </div>
  <!-- Missing closing tag for 'row' added -->

  <div>
    <p class="layerH3 in" style="display: flex; font-size: 1.8rem; margin-top: -0.2rem">Visuals</p>


      <p style=" margin-top: -1rem">
        Here are a few customizations of Five that can be used across Mehsery
        where necessary.
      </p>


    <div class="ImgDiv" style="margin-left: 1rem; padding: 2rem;width: 80%; display: flex; justify-content: space-between;background-color: white; border-radius: 14px; margin-top: -0.5rem;">
      <!-- Corrected: Combined into a single 'div' with 'display: flex' -->
      <img
        src="../assets/images/Five Juggling.svg"
        alt="MesheryOperatorDark Logo"
        width="40%"
      />
      <img
        src="../assets/images/Five Skating.svg"
        alt="MesheryOperator Logo"
        width="40%"
        style="background-color: white;"
      />

    </div>
    <button class="button1" style="margin-top: 2rem;"><i class="fa fa-cloud-download" style="font-size:24px"></i>Download Five Library</button>
  </div>
</div>
