<!-- 1. Add latest jQuery and fancybox files -->
<link
  type="text/css"
  rel="stylesheet"
  href="{{ site.baseurl }}/integrations/main.css"
/>

<div class="row">
  <h1 class="layerH3" style="font-weight: 1000">Our Mascot, Five</h1>

  <p>
    Introducing Five, a playful and dynamic visual language that captures the
    essence of Layer5. These charming and minimalist illustrations serve as the
    perfect embodiment of our brand’s values and offerings.
  </p>
</div>
<!-- Missing closing tag for 'row' added -->

<div>
  <p
    class="layerH3 in"
    style="display: flex; font-size: 1.8rem; margin-top: -0.2rem"
  >
    Visuals
  </p>

  <p>
    Here are a few customizations of Five that can be used across Mehsery where
    necessary.
  </p>

  <div
    class="ImgDiv"
  >
    <!-- Corrected: Combined into a single 'div' with 'display: flex' -->
    <img
      src="{{ site.baseurl }}/assets/images/Five Juggling.svg"
      alt="MesheryOperatorDark Logo"
      width="40%"
    />
    <img
      src="{{ site.baseurl }}/assets/images/Five Skating.svg"
      alt="MesheryOperator Logo"
      width="40%"
      style="background-color: white"
    />
  </div>
  <button class="button1" style="margin-top: 2rem">
    <svg
      stroke="currentColor"
      fill="none"
      stroke-width="2"
      viewBox="0 0 24 24"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon-left"
      height="21"
      width="21"
      xmlns="http://www.w3.org/2000/svg"
      style="margin-right: 0.2rem;"
    >
      <polyline points="8 17 12 21 16 17"></polyline>
      <line x1="12" y1="12" x2="12" y2="21"></line>
      <path d="M20.88 18.09A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.29"></path></svg>
      
      Download Five Library
  </button>
</div>
