<!-- 1. Add latest jQuery and fancybox files -->
<link
  type="text/css"
  rel="stylesheet"
  href="{{ site.baseurl }}/integrations/main.css"
/>


<div class="row">
  <h1 style="font-weight: 1000; margin-top: 5rem">Meshery</h1>

  <p>
    The Meshery mark includes the Meshery name & logo, and any word, phrase,
    image, or other designation that identifies the source or origin of any
    Layer5 projects. Please don’t modify the marks or use them in a confusing
    way, including suggesting sponsorship or endorsement by Layer5, or in a way
    that confuses Layer5 with another brand (including your own).
  </p>
</div>
<!-- Missing closing tag for 'row' added -->

<div>
  <p
    class="layerH3 in"
    style="display: flex; font-size: 1.8rem; margin-top: -0.1rem"
  >
    Logos
  </p>

  <div class="col">
    <!-- Corrected: Use 'div' with 'class' for grid columns -->
    <p style="margin-top: -1rem">
      Here are the logo and customized name that can be used and combined for
      different use cases as the need arises. Get access to all the available
      logo assets including watermarks here, and do not forget to check out the
      Layer5 Brand Guide for directives on how to apply these assets.
    </p>
  </div>

  <div class="ImgDiv1">
    <!-- Corrected: Combined into a single 'div' with 'display: flex' -->
    <img src="{{ site.baseurl }}/assets/images/Left Logos Light.svg" id="logo-dark-light" data-logo-for-dark="{{ site.baseurl }}/assets/images/Left Logos.svg" data-logo-for-light="{{ site.baseurl }}/assets/images/Left Logos Light.svg" class="img1" />
    <img src="{{ site.baseurl }}/assets/images/Right Logos Light.svg"id="logo-dark-light" data-logo-for-dark="{{ site.baseurl }}/assets/images/Right Logos.svg" data-logo-for-light="{{ site.baseurl }}/assets/images/Right Logos Light.svg" class="img2" />

  </div>
</div>
<!-- Color Section -->
<div class="row">
  <p class="in" style="font-size: 1.8rem">Colors</p>
  <div class="col">
    <p style="margin-top: -1rem">
      The Meshery color palette consist of the primary Meshery color and
      additional shades. The Meshery logo should be white or monochrome tonal
      when using a color background. Visit Sistent Design System at
      design.layer5.io for more guidance on how to apply Meshery colors.
    </p>
  </div>
  <div class="color-palette" style="justify-content: center">
    <!-- Color boxes -->
    <div class="color-box" style="background-color: #3c494f">
      <div class="color-name">Charcoal</div>
      <div style="margin-top: 30%">RGB 60, 73, 79</div>
      <div class="color-code" style="margin-top: 3%">#3C494F</div>
    </div>
    <div class="color-box" style="background-color: #00b39f">
      <div class="color-name">Keppel</div>
      <div style="margin-top: 30%">RGB 0, 179, 159</div>
      <div class="color-code" style="margin-top: 3%">#00B39F</div>
    </div>
    <div class="color-box" style="background-color: #00d3a9">
      <div class="color-name">Caribbean Green</div>
      <div style="margin-top: 30%">RGB 0, 211, 169</div>
      <div class="color-code" style="margin-top: 3%">#00D3A9</div>
    </div>
  </div>

  <button class="button1" style="margin-top: 2rem">
    <svg
      stroke="currentColor"
      fill="none"
      stroke-width="2"
      viewBox="0 0 24 24"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon-left"
      height="21"
      width="21"
      xmlns="http://www.w3.org/2000/svg"
      style="margin-right: 0.2rem; transform: translateY(4px)"
    >
      <polyline points="8 17 12 21 16 17"></polyline>
      <line x1="12" y1="12" x2="12" y2="21"></line>
      <path d="M20.88 18.09A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.29"></path>
    </svg>
    Download Meshery Assets
  </button>
</div>
