<link
  type="text/css"
  rel="stylesheet"
  href="{{ site.baseurl }}/integrations/main.css"
/>

<div class="container1">
  <div class="hero-left">
    <img src="{{ site.baseurl }}/assets/images/rect-left.png" height="500px" />
  </div>
  <div class="brand-kit">
    <div>
      <div class="meshery-kit">
        <p style="font-size: 3.5rem; font-weight: bold">Meshery's Kit</p>
      </div>
      <p style="margin-top: -0.5rem">
        Some guidelines for Meshery have been compiled into a brand kit that can
        help you better understand and create with the Meshery brand and its
        assets. For unique use cases on how to utilize our marks in a way not
        covered here, please contact us and include a visual mockup of intended
        use.
      </p>
      <button class="button2">
        <svg
          stroke="currentColor"
          fill="none"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon-left"
          height="21"
          width="21"
          xmlns="http://www.w3.org/2000/svg"
          style="
            margin-right: 0.2rem;
            transform: translateY(4px);
            width: fit-content;
          "
        >
          <polyline points="8 17 12 21 16 17"></polyline>
          <line x1="12" y1="12" x2="12" y2="21"></line>
          <path d="M20.88 18.09A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.29"></path>
        </svg>

        Download Meshery Kit
      </button>
    </div>
  </div>
  <div class="hero-right">
    <img src="{{ site.baseurl }}/assets/images/rect-right.png" height="500px" />
  </div>
</div>
