<div id="open-modal" class="modal-window">
  <!-- <div class="click-container"> -->
    <div class="modal-content">
      <div class="modal-image">
        <div class="chip chip-modal">
          {% if pattern.filters.type == "wasm filter" %}
          <a href="{{ site.baseurl }}/catalog/webassembly">
            <h6 class="pattern-type"> {{pattern.filters.type | upcase }}</h6>
          {% else %}
            <a href="{{ site.baseurl }}/catalog/{{ pattern.type | slugify }}">
          {% endif %}
              <h6 class="pattern-type"> {{pattern.type | upcase }}</h6>
            </a>
        </div>
        <img src="{{pattern.image}}" />
        <h4 class="related-patterns">RELATED PATTERNS</h4>
        {% include related-patterns.html %}
      </div>
      <div class="vertical-line"></div>
      <div class="modal-info">
        <button class="modal-close close">&times;</button>
        <h2 class="modal-h2">{{pattern.name | upcase }} {% include read-more.html %}</h2>
        {% if pattern.patternInfo %}
        <h3 class="modal-h3">What this pattern does</h3>
        <p>{{pattern.patternInfo | replace: '\\n', '<br/>'| replace: '\n', '<br/>' }}</p>
        <h3 class="modal-h3">Caveats and Considerations</h3>
        <p>{{pattern.patternCaveats}}</p>
        {% else %}
        <h3 class="modal-h3">What this filter does</h3>
        <p>{{pattern.filterInfo }}</p>
        <h3 class="modal-h3">Caveats and Considerations</h3>
        <p>{{pattern.filterCaveats}}</p>
        {% endif %}
          <h3 class="modal-h3">Technologies</h3>
          {% include partials/compatibility.html %}
        {% include copy-and-download.html %}
      </div>
    </div>
     

   
  <!-- </div> -->
</div>