<nav class="navmenu-container">
	<a class="editor-link btn" href="cloudcannon:collections/_data/navigation.yml" class="btn"><strong>&#9998;</strong> Edit navigation</a>
	<div class="stellarnav">
		<ul class="nav-list">
		{% for link in site.data.navigation %}
			<li class="nav-item">
			{% assign class = "nav-text" %}
			{% if link.highlight %}
				{% assign class = class | append: " highlight" %}
			{% endif %}

			{% if link.link == page.url %}
				{% assign class = class | append: " active" %}
			{% endif %}
				<a href="{% include relative-src.html src=link.link %}" class="{{class}}" {% if link.new_window %}target="_blank"{% endif %}>{{ link.name }}</a>
				{% if link.subitems[0] %}
				<ul>
					{% for sublink in link.subitems %}
                    <li><a href="{{sublink.link}}" {% if sublink.new_window %}target="_blank"{% endif %} class="subnav-item">{{sublink.name}}</a></li>
                	{% endfor %}
				</ul>
				{% endif %}
			</li>
		{% endfor %}
		</ul>
	</div>
</nav>
