<style>
  .dropbtn {
    background-color: #00b39f;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  #myInput {
    box-sizing: border-box;
    background-image: url("searchicon.png");
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }

  #myInput:focus {
    outline: 3px solid #ddd;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 150px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    left: -1rem;
    margin-top: 0.3rem;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown a:hover {
    background-color: #ddd;
    cursor: pointer;
  }

  .show {
    display: block;
  }
.arrow-icon-up{
  transform: rotate(180deg);
  transition: transform 10s linear;
}

.arrow-icon-down{
  transform: rotate(0deg);
  transition: transform 1s linear;
}

#compatibility-div label, #category-div label{
  margin: 0;
  display: flex;
  align-items: center;
  width:100%;
  text-indent: unset;
}

#compatibility-div input, #category-div input{
  flex-shrink: 0;
  top: 0;
  cursor: pointer;
}

#compatibility-div img{
  max-width: 50px;
  height:100%;
}
#compatibility-div .badge{
  background: var(--color-secondary-dark);
  border-radius: 50%;
  color: var(--color-primary-light);
  height: 20px;
  width: 20px;
  text-align: center;
  flex-shrink: 0;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 200;
}
#compatibility-div .input-container .name{
  margin: 0 10px 0 10px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#compatibility-div .input-container, #category-div .input-container{
  display: flex;
  align-items: center; 
  margin: 20px 0; 
}

#category-div,
#compatibility-div {
  flex-wrap: wrap;
}

</style>

<div class="filter-wrap">
  <div class="dropdown">
    <button onclick="handleDropdown()" class="dropbtn">
     <svg  style="height: 1rem" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path fill="white" d="M3.9 54.9C10.5 40.9 24.5 32 40 32H472c15.5 0 29.5 8.9 36.1 22.9s4.6 30.5-5.2 42.5L320 320.9V448c0 12.1-6.8 23.2-17.7 28.6s-23.8 4.3-33.5-3l-64-48c-8.1-6-12.8-15.5-12.8-25.6V320.9L9 97.3C-.7 85.4-2.8 68.8 3.9 54.9z"/>
    </svg>
      Filters
      <svg id="arrow-icon" class="arrow-icon-down" style="height:1rem";" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
      <path  fill="white" d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"/>
      </svg>
    </button>
    <div id="myDropdown" class="dropdown-content">
      <a id="category-li">Categories</a>
      <a id="compatibility-li">Compatibility</a>
      <!-- <a id="technology-li">Technology</a> -->
    </div>
  </div>
  <p id="category-para" class="category-para"> <strong>Categories:</strong></p>   
  <div id="category-div" class="category-div"></div>
  <p id="compatibility-para" class="compatibility-para"><strong>Technologies:</strong></p>
  <div id="compatibility-div" class="compatibility-div"></div>
  <!-- <p id="tech-para" class="tech-para"><strong>Technology:</strong></p>
  <div id="tech-div" class="tech-div">
      <label><input type="radio" value="WebAssembly" id="webassembly" onchange='window.location.assign("/catalog/webassembly")'/> WebAssembly </label>
      <label><input type="radio" value="JWT" onchange='window.location.assign("/catalog/jwt")'/> JWT </label>
      <label class="disabled-label"><input type="radio" value="JWT" onchange='window.location.assign("/catalog/eBPF")' disabled/> eBPF </label>
      <label class="disabled-label"><input type="radio" value="JWT" onchange='window.location.assign("/catalog/opa")' disabled/> OPA policies </label>
      <label class="disabled-label"><input type="radio" value="JWT" onchange='window.location.assign("/catalog/nats")' disabled/> NATS </label>
  </div> -->
</div>
<script>
  
  var drop_button = document.getElementById("arrow-icon")
  var open = true
  function handleDropdown() {
    document.getElementById("myDropdown").classList.toggle("show"); 
    drop_button.style.transform = open ? "rotate(180deg)":"rotate(0deg)"
    drop_button.style.transition = "transform 0.5s"
    open = !open
}
  // target elements to toggle
  var category_p = document.getElementById("category-para");
  var category_div = document.getElementById("category-div");
  var comp_p = document.getElementById("compatibility-para");
  var comp_div = document.getElementById("compatibility-div");
  var tech_p = document.getElementById("tech-para");
  var tech_div = document.getElementById("tech-div");
  // toggler
  var categotyLink = document.getElementById("category-li");
  var compatibilityLink = document.getElementById("compatibility-li");
  var technologyLink = document.getElementById("technology-li");


  categotyLink.addEventListener("click", showCategory);
  compatibilityLink.addEventListener("click", showCompatibility);
  technologyLink.addEventListener("click", showTechnology);

  function showCategory() {
    category_div.style.display = "flex";
    category_p.style.display = "grid";
    comp_p.style.display = "none";
    comp_div.style.display = "none";
    tech_p.style.display = "none";
    tech_div.style.display = "none";
    document.getElementById("myDropdown").classList.toggle("show");
    drop_button.style.transform = "rotate(0deg)"
    open = !open
    return;
  }
  function showCompatibility() {
    category_div.style.display = "none";
    category_p.style.display = "none";
    comp_p.style.display = "grid";
    comp_div.style.display = "flex";
    tech_p.style.display = "none";
    tech_div.style.display = "none";
    document.getElementById("myDropdown").classList.toggle("show");
    drop_button.style.transform = "rotate(0deg)"
    open = !open
    return;
  }
  function showTechnology() { 
    tech_p.style.display = "grid";
    tech_div.style.display = "grid";
    comp_p.style.display = "none";
    comp_div.style.display = "none";
    category_div.style.display = "none";
    category_p.style.display = "none";
    document.getElementById("myDropdown").classList.toggle("show");
    drop_button.style.transform = "rotate(0deg)"
    open = !open
    return;
  }
</script>

<script type="module">

  // import all integrations data
  import data from "{{ site.baseurl }}/integrations/data.js";

  // add wasmFilter to data array
  const wasmFilter = {
    "name": "WASM Filter",
    "color": "../assets/images/integration/webassembly_logo.svg",
    "white": "../assets/images/integration/webassembly_logo.svg"
  };
  data.push(wasmFilter);

  // Function to compare the names of all catalog entries by technology
  // TODO: Improve so that catalog entries can be sorted by pattern name, too.
  function compare(a, b) {
    // Use toUpperCase() to ignore character casing
    const nameA = a.name.toUpperCase();
    const nameB = b.name.toUpperCase();

    let comparison = 0;
    if (nameA > nameB) {
      comparison = 1;
    } else if (nameA < nameB) {
      comparison = -1;
    }
    return comparison;
  }

  // sort catalog entries by alphabetically by technology type
  data.sort(compare);

  // get all empty filter containers
  const container = document.getElementById("compatibility-div");
  const categoryContainer = document.getElementById("category-div");
  
  // get all pattern cards
  const patternCards = document.querySelectorAll(".patternCard");
  console.log("patternCards: ", patternCards)
  const cardCompatibility = [];
  let cardType = new Set();
  let cardTechnology = new Set();

  // Loop over all pattern cards to get there compatibility, type and technology so we can make a unique list out of it
  for(let i=0; i<patternCards.length; i++){
      const filter = patternCards[i].getAttribute("filter")
      cardCompatibility.push(filter);
      const type = patternCards[i].getAttribute("type")
      if(type && type !== "wasm filter") cardType.add(type.toLowerCase()); 
      const technology = patternCards[i].getAttribute("technology")
      if(technology) cardTechnology.add(technology);
  }

  // Add an "All" option to the type list and convert the set to array
  cardType = ["All", ...Array.from(cardType)];
  cardTechnology = Array.from(cardTechnology);
  console.log("cardTech: ", cardTechnology)

  // For creating a list of radio buttons for Categories section
  for(let i = 0; i<cardType.length; i++){
    const inputContainer = document.createElement("div");
    inputContainer.className = "input-container";

    const input = document.createElement("input");
    input.type = "radio";
    input.name = "type";
    input.value = cardType[i];
    input.id = cardType[i];
    input.onclick = function () {
      filterByType(cardType[i]);
    };
    if(cardType[i] === "All") input.checked = true;
    inputContainer.appendChild(input);

    const label = document.createElement("label");
    label.innerHTML = cardType[i].replace(/-/g, " "); 
    label.setAttribute("for", cardType[i]);
    inputContainer.appendChild(label);

    categoryContainer.appendChild(inputContainer);
  }

  // remove duplicate entries of integrations in filter section 
  // Maintain a list of filterEntries, whenever you come across a new one, add it to list, else if the filter already exists in the list skip the further process of creating nodes
  const filterEntries = [];
  
  // For creating a list of checkboxes for Technologies section
  for (let i = 0; i < data.length; i++) {
    const count = cardCompatibility.filter((filter) => filter.includes(data[i].name)).length;

    // Skip adding the filter to list if it is not used in any of the pattern cards
    // Skip adding the filter to list if it is already added to the list
    if(count === 0 || filterEntries.includes(data[i].name))
      continue;
    
    // Add the filter to list
    filterEntries.push(data[i].name);

    // Create nodes
    const inputContainer = document.createElement("div");
    inputContainer.className = "input-container";

    const input = document.createElement("input");
    input.type = "checkbox";
    input.name = data[i].name;
    input.value = data[i].name;
    input.id = data[i].name;
    input.onclick = function () {
      showFilterCards();
    };
    inputContainer.appendChild(input);

    const label = document.createElement("label");
    let colorImg = data[i].color;
    let whiteImg = data[i].white;

    label.innerHTML = `<img src="${colorImg}" id="logo-dark-light" data-logo-for-dark="${whiteImg ?? colorImg}"
                    data-logo-for-light="${colorImg}" /><div class="name">${data[i].name}</div><div class="badge">${count}</div>`;
    label.style.height = "20px";
    label.setAttribute("for", data[i].name);
    inputContainer.appendChild(label);

    container.appendChild(inputContainer);
  }

  // Function called when user clicks on any of Technology checkboxes
  function showFilterCards() {
    let filterArray = [];

    // Deselect the radio button when checkbox is selected
    document.querySelectorAll("input[type=radio]:checked").forEach(function (el) {
      el.checked = false;
    });

    // Get all the checked checkboxes and add it to filterArray
    document
      .getElementById("compatibility-div")
      .querySelectorAll("input[type=checkbox]:checked")
      .forEach(function (el) {
        filterArray.push(el.value);
      });

    // Select all pattern cards
    const patternCards = document.querySelectorAll(".patternCard");
    console.log("filterArr: ", filterArray)

    // If no checkbox is selected, show all pattern cards and enable the "All" radio button
    if (!filterArray.length) {
      for (let j = 0; j < patternCards.length; j++) {
        patternCards[j].style.display = "block";
      }
      document.getElementById("All").checked = true;
    } else {

      // Loop over all pattern cards and check if any of the filter in filterArray is present in pattern card's filter attribute
      // If yes, the show the card, else hide it
      for (let j = 0; j < patternCards.length; j++) {
        const filter = patternCards[j].getAttribute("filter");
        let showCard = false;

        for (let i = 0; i < filterArray.length; i++) {
          if (filter.includes(filterArray[i])) {
            showCard = true;
            break;
          }
        }
        if (showCard) {
          patternCards[j].style.display = "block";
        } else {
          patternCards[j].style.display = "none";
        }
      }
    }
  }

  // Function called when user clicks on any of the Type radio buttons
  function filterByType(value){

    // Deselect all the checkboxes when radio button is selected
    document.querySelectorAll("input[type=checkbox]:checked").forEach(function (el) {
      el.checked = false;
    });

    // Loop over all patern cards and check if the "type" of pattern card matches with the radio button value received as argument to function
    // If yes, show the card, else hide it
    // Show all cards if "All" radio button is selected
    const patternCards = document.querySelectorAll(".patternCard");
    for (let j = 0; j < patternCards.length; j++) {
      const filter = patternCards[j].getAttribute("type").toLowerCase();
      let showCard = false;
      if (value === "All" || filter.includes(value)) {
        showCard = true;
      }
      if (showCard) {
        patternCards[j].style.display = "block";
      } else {
        patternCards[j].style.display = "none";
      }
    }
  }


  window.onload = function() {
    showFilterCards();
  }

</script>
