

<div class="filter-wrap">
    <p><strong>Categories:</strong></p>
    <form>  
    </a><label><input type="radio" value="All" id="all" onchange='window.location.assign("/service-mesh-catalog")'/> All </label>
      </a><label><input type="radio" value="Deployment" id="deployment" onchange='window.location.assign("/service-mesh-catalog/deployment")'/> Deployment </label>
      <label><input type="radio" value="Traffic Management" id="traffic-management" onchange='window.location.assign("/service-mesh-catalog/traffic-management")' /> Traffic Management </label>
      <label><input type="radio" value="Security" id="security" onchange='window.location.assign("/service-mesh-catalog/security")' /> Security </label> 
      <label><input type="radio" value="Workloads" id="workloads" onchange='window.location.assign("/service-mesh-catalog/workloads")'/> Workloads </label> 
      <label><input type="radio" value="Observability" id="observability" onchange='window.location.assign("/service-mesh-catalog/observability")'/> Observability </label>
      <label><input type="radio" value="Troubleshooting" id="troubleshooting" onchange='window.location.assign("/service-mesh-catalog/toubleshooting")' /> Troubleshooting </label>
      <label><input type="radio" value="Scaling" id="scaling" onchange='window.location.assign("/service-mesh-catalog/scaling")'/> Scaling </label>
      <label><input type="radio" value="Resiliency" id="resiliency" onchange='window.location.assign("/service-mesh-catalog/resiliency")'/> Resiliency </label>
    </form>
    <hr>
    <p><strong>Compatibilty:</strong></p>
    <form>
      <label><input type="radio" value="Istio" id="istio" onchange='window.location.assign("/service-mesh-catalog/istio")' /> Istio </label>
      <label><input type="radio" value="Linkerd" id="linkerd" onchange='window.location.assign("/service-mesh-catalog/linkerd")'/> Linkerd </label>
      <label><input type="radio" value="Consul" id="consul" onchange='window.location.assign("/service-mesh-catalog/consul")'/> Consul </label>
      <label><input type="radio" value="Kuma" id="kuma" onchange='window.location.assign("/service-mesh-catalog/kuma")'/> Kuma </label>
      <label><input type="radio" value="App Mesh" id="app-mesh" onchange='window.location.assign("/service-mesh-catalog/app-mesh")' /> App Mesh </label>
      <label><input type="radio" value="OSM" id="osm" onchange='window.location.assign("/service-mesh-catalog/open-service-mesh")'/> Open Service Mesh </label>
      <label><input type="radio" value="Traefik" id="traefik" onchange='window.location.assign("/service-mesh-catalog/traefik-mesh")'/> Traefik Mesh </label>
      <label><input type="radio" value="Nginx" id="nginx" onchange='window.location.assign("/service-mesh-catalog/nginx")'/> Nginx </label>
      <label><input type="radio" value="NSM" id="nsm" onchange='window.location.assign("/service-mesh-catalog/nsm")'/> NSM </label>
    </form>
    <hr>
    <p><strong>Technology:</strong></p>
    <form>
      <label class="disabled-label"><input type="radio" value="WebAssembly" onchange="handleChange()" disabled/> WebAssembly </label>
      <label class="disabled-label"><input type="radio" value="JWT" onchange="handleChange()" disabled/> JWT </label>
    </form>
  </div>
