<style>
  .smallcard-a {
    font-size: 1.2rem;
    padding-top: 0.6rem;
    padding-bottom: 0.8rem;
    background-color: #3eb5a1;
    position: relative;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.5px;
    margin-top: 2rem;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    z-index: 1;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    width: 100%;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    border-radius: .25rem;
  }

  span .smallcard-a:hover {
    text-decoration: none;
    transition-timing-function: ease-in;
    transition: 0.2s;
    transition: 0.25s ease-out;
    box-shadow: 0 7px 7px 1px rgba(0, 0, 0, 0.14),
      0 3px 6px 2px rgba(0, 0, 0, 0.12), 0 4px 4px -3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 7px 7px 1px rgba(0, 0, 0, 0.14),
      0 3px 6px 2px rgba(0, 0, 0, 0.12), 0 4px 4px -3px rgba(0, 0, 0, 0.3);
  }

  .minicard-span {
    text-align: center;
    width: 20%;
    font-size: 1.3rem;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0;
  }

  .minicard-img {
    width: 10%;
    height: inherit;
    vertical-align: middle;
    position: relative;
    z-index: -1;
  }

  .inner-span {
    position: relative;
    bottom: -3px;
    color: #f5faf9;
  }

  .card-content {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  @media(max-width:992px){
    .minicard-span {
      width: 22%;
    }
    .card-content{
      padding: 0 4vw;
    }
  }
</style>
<div id="gsoc-2020" class="card-content flex">
  <span class="minicard-span">
    <a
      class="smallcard-a waves-effect waves-light btn white-text darken-2 l5-dark-green z-depth-2"
      href="/programs/meshery/cncf"
    >
      <img
        src="../assets/images/programs/cncf-icon-white.svg"
        alt="Cloud Native Computing Foundation logo"
        class="minicard-img"
      />

      <span class="inner-span">CNCF</span>
    </a>
  </span>
  <span class="minicard-span">
    <a
      class="smallcard-a waves-effect waves-light btn white-text darken-2 l5-dark-green z-depth-2"
      href="/programs/gsod/2020"
    >
      <img
        src="../assets/images/programs/gsod.svg"
        alt="Google Season of Docs logo"
        class="minicard-img"
      />
      <span class="inner-span">GSOD</span>
    </a>
  </span>
  <span class="minicard-span">
    <a
      class="smallcard-a waves-effect waves-light btn white-text darken-2 l5-dark-green z-depth-2"
      href="/programs/gsoc/2020"
    >
      <img
        src="../assets/images/programs/gsoc.svg"
        alt="Google Summer of Code logo"
        class="minicard-img"
      />
      <span class="inner-span">GSOC </span>
    </a>
  </span>
  <span class="minicard-span">
    <a
      class="smallcard-a waves-effect waves-light btn white-text darken-2 l5-dark-green z-depth-2"
      href="/programs/lfx"
    >
      <img
        src="../assets/images/programs/lfx-icon-white.svg"
        alt="LFX logo"
        class="minicard-img"
        style="width:23%;padding-top:.4rem;padding-bottom:.4rem;"
      />
      </a
    >
  </span>
</div>
