<div id="gsoc-2020" class="card-content flex"
    style="flex-direction: row;justify-content:space-evenly; flex-wrap: wrap;">

    <h5 style="text-align: center;
    font-size: 1.3rem;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0;">
        <a style="
          font-size: 0.9em;
          padding-top: .6rem;
          padding-bottom: .8rem ;
          min-width: 220px;
          max-width: 300px;
          background-color: #3eb5a1;
          position: relative;
          text-decoration: none;
          text-align: center;
         letter-spacing: .5px;

         cursor: pointer;
        display: inline-block;
        overflow: hidden;
       vertical-align: middle;
       z-index: 1;
       -webkit-transition: .3s ease-out;
         transition: .3s ease-out;
          width: 100%;" class="      waves-effect waves-light btn white-text darken-2 l5-dark-green z-depth-2"
            href="/programs/meshery/cncf">
            <img src="../images/programs/cncf-icon-white.svg" alt="" style=" width: 15%; height: inherit; vertical-align: middle;position: relative;
                z-index: -1;">

            <span style="position: relative; bottom: -3px; color: #F5FAF9">CNCF</span>
        </a>
    </h5>
    <h5 style="text-align: center;display:inline-flexbox;
    font-size: 1.3rem;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0">
        <a style="
          font-size: 0.9em;
          padding-top: .4rem;
          padding-bottom: .8rem ;
          min-width: 220px;
          max-width: 300px;
          background-color: #3eb5a1;
          position: relative;
          text-decoration: none;
          text-align: center;
         letter-spacing: .5px;

         cursor: pointer;
        display: inline-block;
        overflow: hidden;
       vertical-align: middle;
       z-index: 1;
       -webkit-transition: .3s ease-out;
         transition: .3s ease-out;
          width: 100%;" class="waves-effect waves-light btn white-text darken-2 l5-dark-green z-depth-2"
            href="/programs/gsod/2020">
            <img src="../images/programs/gsod.svg" alt="" style=" width: 15%; height: inherit; vertical-align: middle;position: relative;
            z-index: -1;">
            <span style="position: relative; bottom: -3px;color: #F5FAF9 ">GSoD 2020</span>
        </a>
    </h5>
    <h5 style="text-align: center; display:inline-flexbox;
    font-size: 1.3rem;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0">
        <a style="
          font-size: 0.9em;
          padding-top: .4rem;
          padding-bottom: .4rem ;
          min-width: 220px;
          max-width: 300px;
          background-color: #3eb5a1;
          position: relative;
          text-decoration: none;
          text-align: center;
         letter-spacing: .5px;

         cursor: pointer;
        display: inline-block;
        overflow: hidden;
       vertical-align: middle;
       z-index: 1;
       -webkit-transition: .3s ease-out;
         transition: .3s ease-out;
          width: 100%;" class="waves-effect waves-light btn white-text darken-2 l5-dark-green z-depth-2"
            href="/programs/communitybridge/2020">

            <img src="../images/programs/CommunityBridge-circular-white.svg" alt="" style=" width: 15%; height: inherit; vertical-align: middle;position: relative;
            z-index: -1;">
            <span style="position: relative; bottom: -3px;color: #F5FAF9 ">CommunityBridge</span>

        </a>
    </h5>
    <h5 style="text-align: center;
    font-size: 1.3rem;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0 ">
        <a style="
          font-size: 0.9em;
          padding-top: .4rem;
          padding-bottom: .4rem ;
          min-width: 220px;
          max-width: 300px;
          background-color: #3eb5a1;
          position: relative;
          text-decoration: none;
          text-align: center;
         letter-spacing: .5px;

         cursor: pointer;
        display: inline-block;
        overflow: hidden;
       vertical-align: middle;
       z-index: 1;
       -webkit-transition: .3s ease-out;
         transition: .3s ease-out;
          width: 100%;" class="waves-effect waves-light btn white-text darken-2 l5-dark-green z-depth-2"
            href="/programs/mlhfellowship/2020">
            <img src="../images/programs/fellowship_gray.png" alt="" style=" width: 15%; height: inherit; vertical-align: middle;position: relative;
            z-index: -1;">
            <span style="position: relative; bottom: -3px;color: #F5FAF9 ">MLH Fellowership</span></a>
    </h5>
</div>