<style>
  .smallcard-a {
    font-size: 1.2rem;
    padding-top: .6rem;
    padding-bottom: .8rem;
    background-color: #3eb5a1;
    position: relative;
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    margin-top: 2rem;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    z-index: 1;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
    width: 100%;
  }

  span .smallcard-a:hover {
    text-decoration: none;
    transition-timing-function: ease-in;
    transition: 0.2s;
    background: linear-gradient(to bottom, #242121 0%, #00D3A9 90%) no-repeat !important;
    color: #ffffff
  }
</style>
<div id="gsoc-2020" class="card-content flex" style="flex-direction: row;justify-content:space-evenly; flex-wrap: wrap;
">

  <span style="text-align: center;
    width: 20%;
    font-size: 1.3rem;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0;">
    <a style="" class=" smallcard-a     waves-effect waves-light btn white-text darken-2 l5-dark-green z-depth-2"
      href="/programs/meshery/cncf">
      <img src="../images/programs/cncf-icon-white.svg" alt="" style=" width: 10%; height: inherit; vertical-align: middle;position: relative;
                z-index: -1;">

      <span style="position: relative; bottom: -3px; color: #ffffff">CNCF</span>
    </a>
  </span>
  <span style="text-align: center;display:inline-flexbox;
    width: 20%;
    font-size: 1.3rem;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0">
    <a class="smallcard-a  waves-effect waves-light btn white-text darken-2 l5-dark-green z-depth-2"
      href="/programs/gsod/2020">
      <img src="../images/programs/gsod.svg" alt="" style=" width: 10%; height: inherit; vertical-align: middle;position: relative;
            z-index: -1;">
      <span style="position: relative; bottom: -3px;color: #F5FAF9 ">GSOD 2020</span>
    </a>
  </span>
  <span style="text-align: center; display:inline-flexbox;
    width: 20%;
    font-size: 1.3rem;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0">
    <a class="smallcard-a  waves-effect waves-light btn white-text darken-2 l5-dark-green z-depth-2"
      href="/programs/gsoc/2020">

      <img src="../images/programs/gsoc.svg" alt="" style=" width: 10%; height: inherit; vertical-align: middle;position: relative;
            z-index: -1;">
      <span style="position: relative; bottom: -3px;color: #F5FAF9 ">GSOC 2020</span>

    </a>
  </span>
  <span style="text-align: center;
    width: 20%;
    font-size: 1.3rem;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0 ">
    <a class="smallcard-a waves-effect waves-light btn white-text darken-2 l5-dark-green z-depth-2"
      href="/programs/gsoc/2019">
      <img src="../images/programs/gsoc.svg" alt="" style=" width: 10%; height: inherit; vertical-align: middle;position: relative;
            z-index: -1;">
      <span style="position: relative; bottom: -3px;color: #F5FAF9 ">GSOC 2019 </span></a>
  </span>
</div>