<!-- 1. Add latest jQuery and fancybox files -->
<link
  type="text/css"
  rel="stylesheet"
  href="{{ site.baseurl }}/integrations/main.css"
/>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css"
/>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css"
/>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<style>
  .layerH3 {
    text-align: start;
    margin-bottom: 1em;
  }

  .in {
    margin-top: 2rem;
  }

  .row {
    display: flex;
    justify-content: space-between;
    /* Adjust as needed */
    flex-wrap: wrap;
    /* Allows divs to wrap to the next line if they don't fit */
  }

  .col {
    position: relative;
    width: 100%;
  }


</style>

<div className="post-content">
  <!-- Corrected: Use 'class' instead of 'className' for plain HTML -->
  <div class="row sub-project brand-section">
    <h1 class="layerH3" style="font-weight: 1000">Social Posts</h1>

      <p style="margin-top: -1rem;">
        In our bid to ensure that Meshery is ubiquitous as the cloud management tool of choice, we have curated social templates that you can include in your posts on any platform of your choice. From LinkedIn to YouTube and Twitter, take the news about Meshery with you as you share your experience.
      </p>

  </div>
  <!-- Missing closing tag for 'row' added -->

  <div>
    <img
      src="../assets/images/social.svg"
      alt="MesheryOperatorDark Logo"
      width="90%"
      style="margin-left: 2%"
    />
    <button class="button1" style="margin-top: 2rem;">
      <i class="fa fa-cloud-download" style="font-size: 24px"></i>Download Presentation Slides
    </button>
  </div>
</div>
