{% if page.title == 'Meshery | The Kubernetes and Cloud Native Manager' %}

<style>
  @media (min-width: 841px) and (max-width: 1229px) {
    .EMAIL {
      width: 100% !important;
    }
    .NAME{
      width: 100% !important;
    }
    .email-div {
      display: flex;
      justify-content: center;
    }
  }
</style>

{% endif %}
{% if page.title == 'Subscribe' %}
<style>
  .form-container {
    padding: 4rem 0rem;
    background-color: $brand-color;
    text-align: center;
  }

  @media (min-width: 555px) and (max-width: 603px) {
    .subscribe-button {
      width: 100%;
      margin:0;
      margin: auto;
      align-self: center;
      padding: 0;
      justify-content: center;
      text-align: center;
    }

</style>
  {% endif %}

<div class="form-container" style="{{include.formstyle}}">
  <!-- Begin MailChimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css" />

   <p class="newsletter-heading"style="{{include.formstyle}}">Community Newsletter</p>
  <div id="mc_embed_signup">
    <form
      action="https://layer5.us15.list-manage.com/subscribe/post?u=6b50be5aea3dfe1fd4c041d80&amp;id=f7bd70043b"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      class="validate"
      onsubmit="return validateForm(event);"
    >
      <div id="mc_embed_signup_scroll">
        <div class="subscribe-inputbox">
          <input type="text" value="" placeholder="First Name" name="FNAME" class="NAME" id="mce-FNAME" aria-label="first name input" required/>
          <input type="text" value="" placeholder="Last Name" name="LNAME" class="NAME" id="mce-LNAME" aria-label="last name input" required />
        </div>
        <div class="subscribe-container">
          <span id="mce-FNAME-error" class="subscribe-container-error"></span>
          <span id="mce-LNAME-error" class="subscribe-container-error"></span>
        </div>
        <div id="mce-responses" class="clear subscribe-inputbox">
          <div
            class="response"
            id="mce-error-response"
            style="display: none"
          ></div>
          <div
            class="response"
            id="mce-success-response"
            style="display: none"
          ></div>
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

        <div class="email-div">
          <input type="email" value="" name="EMAIL" class="EMAIL" placeholder="Email Address" required />
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="display: none">
          <input
            type="text"
            name="b_6b50be5aea3dfe1fd4c041d80_6bb65defeb"
            tabindex="-1"
            value=""
          />
        </div>
          <button
            class="subscribe-button"
            id="mc-embedded-subscribe"
          >
          Subscribe
          </button>
      </div>
    </form>
  </div>

  <!--End mc_embed_signup-->
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {

  const form = document.getElementById('mc-embedded-subscribe-form');
  if (form) {
    form.addEventListener('submit', validateForm);
  }

  function validateForm(event) {
    event.preventDefault(); 

    // Clear previous error messages
    clearError('mce-FNAME-error');
    clearError('mce-LNAME-error');

    let isValid = true;

    const firstName = document.getElementById('mce-FNAME').value.trim();

    if (!firstName) {
      document.getElementById('mce-FNAME-error').textContent = 'First name is required.';
      isValid = false;
    } else if (firstName.trim().length < 2) {
      document.getElementById('mce-FNAME-error').textContent = 'First Name must have at least 2 characters.';
      isValid = false;
    } else if (!/^[a-zA-Z]+$/.test(firstName)) {
      document.getElementById('mce-FNAME-error').textContent = 'First name must only contain letters.';
      isValid = false;
    }

    const lastName = document.getElementById('mce-LNAME').value.trim();
    if (!lastName) {
      document.getElementById('mce-LNAME-error').textContent = 'Last name is required.';
      isValid = false;
    } else if (!/^[a-zA-Z]+$/.test(lastName)) {
      document.getElementById('mce-LNAME-error').textContent = 'Last name must only contain letters.';
      isValid = false;
    }

    if (isValid) {
      form.submit();
    }
  }

  function clearError(errorId) {
    const errorElement = document.getElementById(errorId);
    if (errorElement) {
      errorElement.textContent = '';
    }
  }

  document.getElementById('mce-FNAME').addEventListener('input', () => clearError('mce-FNAME-error'));
  document.getElementById('mce-LNAME').addEventListener('input', () => clearError('mce-LNAME-error'));
});
</script>