<p class="post-details">
	{% for category in include.post.type %}
    <div class="chip" style=" box-shadow: 2px 2px 6px grey;">
		<span class="pattern-type">
			{% if category == "wasm filter" %}
			<a style="text-decoration: none; color: #333;" href="{{ site.baseurl }}/catalog/webassembly">{{ category}}</a>
			{% else %}
			<a style="text-decoration: none; color: #333;" href="{{ site.baseurl }}/catalog/{{ category | slugify }}">{{ category}}</a>
			{% endif %}
		</span>
    </div>
	{% endfor %}
	<strong class="post-update">Updated at: </strong> <em><span class="post-date post-update">{{ include.post.date | date: "%B %d, %Y" }}</span></em>
	<br>
	<strong class="post-update">Version: </strong> <em class="post-update">1.0</em>
</p>
