<!-- example open modal  -->
<!-- <button id="video-modal">Open Modal</button> -->


<!-- modal -->
<div id="modal" class="modal-video">

  <!-- modal content -->
  <div class="modal-content-video">
    <div>{{include.content}}</div>
    <div><h3 class="video-title">{{include.title}}</h3></div>
  <div class="close-video"><h3 class="video">&times;</h3></div>
  <video id="video" class="modal-video__video" width="100%" controls>
        <source src="{{include.video}}" type="video/{{include.type}}">
        Your browser does not support HTML video.
      </video>
  </div>

</div>

<script src="{{  site.baseurl }}/assets/js/video-modal.js"></script>