<div style="display: flex; justify-content: space-between">
  <div class="viewall prev">
    <button class="viewallbtn prevBtn">Prev</button>
  </div>
  <div class="viewall next">
    <button class="viewallbtn nextBtn">Next</button>
  </div>
</div>

<script type="module">
  var cardRow = document.querySelector(".row");
  var prevButton = document.querySelector(".prevBtn");
  var nextButton = document.querySelector(".nextBtn");
  var cards = document.querySelectorAll(".patternCard");
  var count = 0;
  var maxCount = cards.length;
  // console.log("maxCount : ", maxCount, cards);

  document.addEventListener("DOMContentLoaded", () => {
    cards = document.querySelectorAll(".patternCard");
    // console.log(document.querySelectorAll(".patternCard"));
    prevButton.style.display = "none";
  });

  function showCards(coun) {
    cards.forEach((card) => {
      card.style.display = "none";
    });
    for (let i = coun; i < coun + 10 && coun + 10 <= maxCount; i++) {
      cards[i].style.display = "block";
    }
    // if (count >= maxCount) viewAllButton.style.display = "none";
  }

  prevButton.addEventListener("click", () => {
    console.log("[prev] count : ", count);
    if (count > 0) {
      showCards((count -= 10));
    }
    if (count <= 0) {
      prevButton.style.display = "none";
    } else {
      prevButton.style.display = "block";
      nextButton.style.display = "block";
    }
  });

  nextButton.addEventListener("click", () => {
    console.log("[next] count : ", count + 10, maxCount);
    if (count + 10 < maxCount) {
      showCards((count += 10));
    }

    if (count + 10 >= maxCount) {
      nextButton.style.display = "none";
    } else {
      prevButton.style.display = "block";
      nextButton.style.display = "block";
    }
  });
</script>
