{% for filter in site.data.wasm %}
<div class="row">
  <div class="column">
    <div class="link open-modal-btn">
      <div class= "card">
         <div class="chip">
             <small class="pattern-type"> {{filter.filters.type }}</small>
         </div>
         <h4 class="pattern-name">{{filter.name}}</h4>
         <img class= "pattern-filter-image" src="{{filter.image}}"/>
         <div>
      
      <h6 class="pattern-id">     <img class="wasm"
       src="{{site.baseurl}}/assets/images/webassembly_logo.svg"
       loading="lazy" />{{filter.filterId}}</h6>
  
     </div>
       </div></div>
</div>
  <div id="open-modal" class="modal-window">
    <div>
      <button class = "modal-close close">&times;</button>
      <div class="chip chip-modal">
        <h6 class="pattern-type"> {{filter.filters.type | upcase }}</h6>
    </div>
    <p><div class="modal-image-container"><div class="modal-image" ><img src="{{filter.image}}" /> <h4 class="related-patterns">Related Designs</h4>
{% include related-patterns.html %}
</div>
</div>
<h3 style="text-align: center;">{{filter.name}}</h3>
<h4>What This Design Does:</h4><h5>{{filter.filterInfo}}</h5>
<h4>Caveats and Consideration: </h4><h5>{{filter.filterCaveats}}</h5></p>
<h4>Compatibility:</h4>
{% include partials/compatibility.html%}
{% include copy-and-download.html %}
</div></div>
{% endfor %} 
