---
layout: catalog
permalink: /catalog
title: Service Mesh Catalog
heading: Service Mesh Catalog
redirect_from: service-mesh-patterns
---


<!-- CARD-START -->


{% for pattern in site.data.patterns %}
<div class="row">
  <div class="column">
    {% if pattern.Status == "ComingSoon" %}
    
{% else %}
{% include card.html %}
  {% endif %}
</div>
  <div id="open-modal" class="modal-window">
    <div>
      <button class = "modal-close close">&times;</button>
      <div class="chip chip-modal">
        <h6 class="pattern-type"> {{pattern.filters.type}}</h6>
    </div>
    <p><div class="modal-image-container"><div class="modal-image" ><img src="{{pattern.image}}" /> <h4 class="related-patterns">Related Patterns</h4>
<!-- MINICARD-START -->
{% include related-patterns.html %}


</div>
</div>
<!-- MINICARD-END -->
<h3 style="text-align: center;">{{pattern.name}}</h3>
<h4>What this pattern does:</h4><p>{{pattern.patternInfo}}</p>
<h4>Caveats and Consideration: </h4><p>{{pattern.patternCaveats}}</p></p>
<h4>Compatibilty:</h4>

{% include partials/compatibility.html%}
{% include copy-and-download.html %}
</div></div>
{% endfor %}     

{% include wasm-catalog.html %}

{% for pattern in site.data.patterns %}
<div class="row">
  <div class="column">
    {% if pattern.Status == "ComingSoon" %}
    {% include coming-soon.html %} 
    {% endif %}
  </div>
{% endfor %}     
  
</div>



<script>
  document.getElementById("all").checked = true;
</script>
<!-- FILTER
<script>
const handleChange = () => {
    var checkboxes = document.querySelectorAll('input[type=checkbox]:checked')
    var filters = [];
    var Categories = ["Deployment", "Traffic Management", "Security", "Workloads", "Observability", "Troubleshooting", "Scaling", "Resiliency"];
    var Compatibility = ["Istio", "Linkerd", "Consul", "Kuma", "App Mesh", "OSM", "Traefik", "Nginx", "NSM"];
    var Technology = ["WebAssembly", "JWT"];
    var categoryDATA =[];
    var compDATA = [];
    var techDATA = [];
    var allPatterns = {{ site.data.patterns | jsonify }};
    var finalCategories = [];
    var finalCompatibility = [];
    var finalTechnology = [];
    var Result = [];
    var data = [];

for (var i = 0; i < checkboxes.length; i++) {
     
      filters.push(checkboxes[i].value)
      
    }

  filters.forEach((x) => { 
    Categories.map((y) => { 
      if( x === y ) {
        categoryDATA.push(y);
       }
    }) 
  })

  filters.forEach((x) => { 
    Compatibility.map((y) => { 
      if( x === y ) {
         compDATA.push(y);
       }
    }) 
  })

  filters.forEach((x) => { 
    Technology.map((y) => { 
      if( x === y ) {
        techDATA.push(y);
       }
    }) 
  })

  allPatterns.forEach((x) => {
    categoryDATA.map((category) => {
        if(x.filters.type === category)
        {
         finalCategories.push(x);
        }
      })
  })

  allPatterns.forEach((x) => {
  compDATA.map((compatibility) => {
    for(i=0;i< x.filters.compatibility.length;i++)
    {
      if(x.filters.compatibility[i] === compatibility)
      {
        finalCompatibility.push(x);
      }
    }
    })
})

  allPatterns.forEach((x) => {
    techDATA.map((tech) => {
        if(x.filters.technology === tech)
        {
         finalTechnology.push(x);
        }
      })
  })

  if(categoryDATA.length === 0) finalCategories = allPatterns;
      if(compDATA.length === 0) finalCompatibility = allPatterns;
      if(techDATA.length === 0) finalTechnology = allPatterns;

  Result = [finalCategories, finalCompatibility, finalTechnology, allPatterns],
      data = Result.reduce((a, b) => a.filter(c => b.includes(c)));
      console.log(data);


      data = document.getElementById("card");

  // var JsonData = JSON.stringify(data);

  // console.log(JsonData);
     
  }
</script> -->

