---
layout: designs
title: Cloud Native Catalog - Designs
description:  Ready-made blueprints for common cloud native infrastructure and application architectures that save time and effort in deployment design.
permalink: /catalog/designs/
redirect_from:
  - /catalog/designs
---

{% assign
designs = site.catalog %}
<script>
    var designs = {{ designs | jsonify }};
</script>
<div class="section-container">
    {% include alltype.html %}

    <div class="catalog-section designs-section tab-content" id="designs-tab">
        <div style="margin-top: 2rem;">{% include view-all.html %}</div>
        <h2 class="not-found" style="display: none;margin-top: 10rem;font-size:1.8rem" id="not-found">
            No results match your filters. Try adjusting your selections or clearing some filters.
        </h2>
        <div class="row">
             <div class="column column-lg custom-design-card models" style="display: block" patterntype="models"
                    type="custom">
                    {% include custom-modal.html type="Design"%}
                </div>
            {% assign count = 0 %} {% for pattern in designs %} {% if count < 6 %} {% assign should_display='block' %}
                {% else %} {% assign should_display='none' %} {% endif %} {% assign last=pattern.compatibility | last %}
                <div class="column column-lg patternCard designs" filter="{{ pattern.name }}" type="{{ pattern.type }}"
                patternType="designs"
                technology='[{% for item in pattern.compatibility %}"{{ item | downcase | replace: ' ', ' -' }}"{% if
                item !=last %},{% endif %}{% endfor %}]' status="{{ pattern.Status }}"
                style="display: {{ should_display }};">
                {% include card.html %}
        </div>
        {% assign count = count | plus: 1 %} {% endfor %}
    </div>
    <div class="pagination">
        <button class="prev" id="designs-prev" disabled>Prev</button>
        <div class="page-info"></div>
        <button class="next" id="designs-next">Next</button>
    </div>
</div>

</div>