---
layout: page
permalink: /features
redirect_from:
  - /features
title: Features
heading: Your <b>full-service cloud</b> native manager
description: Adopt and operate all cloud native infrastructure with confidence using Meshery's management features.
features_table:
  - name: Lifecycle
    color: "rgb(33, 33, 33)"
    features:
      - text: Manage all your cloud native infrastructure
        highlight: true
        featureli: false
      - text: Discover, configure, visualize, validate and troubleshoot your existing Kubernetes clusters
        highlight: false
        featureli: true
      - text: Deploy and operate cloud native infrastructure
        highlight: false
        featureli: true
      - text: Use known cloud native
        highlight: false
        featureli: true
      - text: Continuous synchronization of the Kubernetes configurations, workloads, and cloud-native updates across multiple clusters using known cloud-native practices.
        highlight: false
        featureli: true
      - text: Real-Time Helm Chart Generation for CLI and UI
        highlight: false
        featureli: true
      - text: Effectively coordinate multiple clusters to enhance efficiency and streamline operations seamlessly.
        highlight: false
        featureli: true
    call_to_action:
      link: https://docs.meshery.io/tasks/lifecycle-management#lifecycle-management
      text: Learn more
  - name: Configuration
    color: "rgb(33, 33, 33)"
    features:
      - text: Operates with best practices
        highlight: true
        featureli: false
      - text: Built-in industry patterns and known best practices
        highlight: false
        featureli: true
      - text: Apply custom configuration to Kubernetes clusters
        highlight: false
        featureli: true
      - text: Manage WebAssembly filters for Envoy
        highlight: false
        featureli: true
      - text: Version your infrastructure configuration designs
        highlight: false
        featureli: true
      - text: Visualize and dry-run your deployment with Kanvas
        highlight: false
        featureli: true
      - text: Apply well-known cloud native designs
        highlight: false
        featureli: true
      - text:
        highlight:
    call_to_action:
      link: https://docs.meshery.io/tasks/lifecycle-management#configuration-management
      text: Learn more
  - name: Performance
    color: "rgb(33, 33, 33)"
    features:
      - text: Assess the performance of your cloud native infrastructure
        highlight: true
        featureli: false
      - text: Distributed performance analysis supporting 3 different types of load generators
        highlight: false
        featureli: true
      - text: Built-in statistical analysis of service latency quartiles
        highlight: false
        featureli: true
      - text: Import your existing Grafana dashboards. Ingest any metric from Prometheus
        highlight: false
        featureli: true
      - text: Create and share performance profiles and test results with team members.
        highlight: false
        featureli: true
      - text: Identify the MeshMark of a specific network function
        highlight: false
        featureli: true
      - text: Baseline and track deltas of your workload performance
        highlight: false
        featureli: true
    call_to_action:
      link: https://docs.meshery.io/guides/performance-management/managing-performance
      text: Learn more
<!-- faq:
  - question: What types of payment do you accept?
    answer: Credit cards including MasterCard, Visa or American Express.
  - question: Can I change my feature at a later time?
    answer: Yes, you can upgrade and downgrade your feature at anytime.
  - question: Do you offer features for nonprofit organizations?
    answer: Yes, send us a message and we'll set you up on our nonprofit features.
  - question: Questions?
    answer: Contact us for any further questions at <a href="#">community@meshery.io</a>. -->
---

<div class="features">
	{% for feature in page.features_table %}
	<ul class="feature" style="display: flex; flex-direction: column">
		<li style="background-color: var(--color-primary-light-tbase)">
			<h1>{{ feature.name }}</h1>
		</li>
		{% for item in feature.features %}
		<li {% if item.featureli %} class="feature_li" {% endif %} {% if item.highlight %} class="highlighted" {% endif %} >
			{{ item.text }}
		</li>
    <li {% if item.count %} class="count" {% endif %} >
      {{ item.count }}
    </li>
		{% endfor %} {% if feature.call_to_action %}
		<li class="features-cta" style="margin-top: auto">
			<div class="features-cta start">
				<a href="{{ feature.call_to_action.link }}"
					>{{ feature.call_to_action.text }} &rarr;</a
				>
			</div>
		</li>
		{% endif %}
	</ul>
	{% endfor %}
</div>

<section>
  <div class="container flex">
    <div class="text" style="display: flex; flex-direction: column; align-items: center;">
      <a href="https://smp-spec.io" alt="Service Mesh Performance (SMP)">
        <img src="{{ site.baseurl }}/assets/images/logos/smp-dark-text-side.svg"
          data-logo-for-dark="{{ site.baseurl }}/assets/images/logos/smp-light-text-side.png"
          data-logo-for-light="{{ site.baseurl }}/assets/images/logos/smp-dark-text-side.svg"
          id="logo-dark-light"
          style="height: 6rem; text-align: center;margin-top:10px;"
          alt="Service Mesh Performance (SMP)" loading="lazy"/>
      </a>
      <span  style="display: flex; flex-direction: column; position: relative; align-items: center;">
      <h2 style="margin: 0">Use the <span class="special-text">Service Mesh Performance</span> standard</h2>
      <p style="text-align: center;">Weigh the value of your service mesh features in-context of it's overhead.

        <div align="center" class="button-para">
          <a href="https://smp-spec.io" class="highlight">Service Mesh Performance (SMP)</a>
          <p style="font-size: 1rem;margin-top:1rem;padding:0rem;color:#666;font-style: italic;">(smp-spec.io)</p>
        </div>
      </p>
    </span>
    </div>
    <!--removed style="flex-basis:30%; so that image and text can occupy same width-->
    <div class="image">
      <a href="assets/images/screens/service mesh performance example.gif" data-fancybox="images"
        data-caption="Service Mesh Performance Specification">
        <img src="{{ site.baseurl }}/assets/images/screens/service mesh performance example.gif"
          alt="Service Mesh Performance Project" class="screenshot"
          style="
          box-shadow: 3px 3px 10px grey;
          border: 1px;"
          loading="lazy" />
      </a>
      <br />
                <!-- show number of total performance tests run by Meshery users -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    function numberWithCommas(x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    $(document).ready(function () {
      $.get("https://cloud.layer5.io/api/performance/results/total", function (data, status) {
        var testresults = JSON.parse(data);
        document.getElementById("testresults").innerHTML = "&nbsp;" + numberWithCommas(testresults.total_runs) + "&nbsp;";
      });
    });
  </script>
  <div class="flex"
    style="box-shadow: var(--box-shadow-primary);margin-top: 20px; display: flex; align-items: center; justify-content: center; clear:both; height: 40px;border-radius: 10px; margin:auto; width:90%; margin-top: 11px;">
    <p class="performance"
      style="color: b; position: relative;font-weight: bolder; text-align: center;">
      <span class="testresults" id="testresults"></span>performance tests run!
</p>
    </div>

  </div>
  </div>
</section>
<section>
  <div class="feature-extend" style="text-align: center;">
    <h2>The Extensible Management Plane</h2>
    <h3>Plug in different service meshes, load generators and providers.</h3>
    <p>Meshery is not just an application. It is a set of microservices where the central component is itself called Meshery. Integrators may extend Meshery by taking advantage of designated Extension Points.
      Extension points come in various forms and are available through Meshery’s architecture.</p>
  </div>
</section>

<section>
  <div class="container flex">
    <div class="text" style="text-align: center;">
      <h2>Design and Visualize your Infrastructure with<span class="special-text">Kanvas</span></h2> 
      <p>
        Kanvas enables all cloud native management operations from `mesheryctl` to Meshery's web-based user interface in visually interactive topology.
        Designing and configuring your service mesh is as easy as dragging and dropping.
        Learn more about Kanvas <a href="https://docs.meshery.io/extensions/kanvas">here</a>.
      </p>
    </div>
    <div class="image" >
      <a style="width: auto;" href="{{ site.baseurl }}/images/MeshmapDesigner.webp" data-fancybox="images"
      data-caption="Webassembly based Envoy Filters">
        <img src="{{ site.baseurl }}/assets/images/MeshmapDesigner.webp"
          alt="Service Mesh Performance Comparison" class="screenshot" loading="lazy" />
      </a>
    </div>
  </div>
</section>
<section>
  <div class="container flex">
    <div class="text ">
      <h2>Cloud Native<span class="special-text">Catalog</span> </h2>
      <p style="color:var(--color-secondary-medium)">Discover top-quality cloud native services for your infrastructure with the Cloud Native <a href="https://meshery.io/catalog">Catalog</a> Discover best practices and upgrade your Kubernetes management practices.
      </p>
    </div>
    <div class="image">
      <a style="width: auto;" href="{{ site.baseurl }}/images/catalog-cards.svg"
      data-caption="Catalog Cards">
        <img src="{{ site.baseurl }}/assets/images/catalog-cards.svg" style="max-width:100%;"
          alt="Service Mesh Performance Comparison" loading="lazy" />
      </a>
    </div>
  </div>
</section>
{% if page.faq %}
<h2>features FAQ</h2>
<dl class="faq">
	{% for item in page.faq %}
	<div>
		<dt>{{ item.question }}</dt>
		<dd>{{ item.answer }}</dd>
	</div>
	{% endfor %}
</dl>
{% endif %}
