---
layout: page
permalink: /features
title: Features
heading: Meshery is <i>the</i> service mesh management plane
description: Adopt and operate any service mesh with confidence using Meshery's management features.
features_table:
  - name: Lifecycle
    color: "#00B39F"
    features:
      - text: Manage any service mesh
        highlight: true
      - text: Consul, Istio, Linkerd, Network Service Mesh, Open Service Mesh, App Mesh, Kuma, Maesh, Citrix Service Mesh, Octarine
        highlight: false
      - text: Explore service mesh functionality with 10 different sample applications
        highlight: false
      - text: Validate each service mesh's compliance with Service Mesh Interface (SMI) specifications
        highlight: false
      - text: 
        highlight: 
      - text: 
        highlight: 
    call_to_action:
      link: /#getting-started
      text: Get started
  - name: Configuration
    color: "#00B39F"
    features:
      - text: Operatore with best practices
        highlight: true
      - text: Built-in industry patterns and known best practices
        highlight: false
      - text: Apply custom configuration to your service mesh
        highlight: false
      - text: Advanced reporting
        highlight: false
      - text: 
        highlight: 
      - text: 
        highlight: 
      - text: 
        highlight: 
    call_to_action:
      link: /#getting-started
      text: Get started
  - name: Performance
    color: "#00B39F"
    features:
      - text: Assess the performance of your service mesh
        highlight: true
      - text: Distributed performance analysis supporting 3 different types of load generators
        highlight: false
      - text: Built-in statistical analysis of service latency quartiles
        highlight: false
      - text: Integration with Prometheus and Grafana
        highlight: false
      - text: Baseline and track deltas of workload performance over time.
        highlight: false
    call_to_action:
      link: /#getting-started
      text: Get started
<!-- faq:
  - question: What types of payment do you accept?
    answer: Credit cards including MasterCard, Visa or American Express.
  - question: Can I change my feature at a later time?
    answer: Yes, you can upgrade and downgrade your feature at anytime.
  - question: Do you offer features for nonprofit organizations?
    answer: Yes, send us a message and we'll set you up on our nonprofit features.
  - question: Questions?
    answer: Contact us for any further questions at <a href="#">community@layer5.io</a>. -->
---
<div class="features">
    
	{% for feature in page.features_table %}
		<ul class="feature">
			<li style="background: {{ feature.color }}">
				<h3>{{ feature.name }}</h3>
			</li>
			{% for item in feature.features %}
				<li {% if item.highlight %} class="highlighted"{% endif %}>{{ item.text }}</li>
			{% endfor %}

			{% if feature.call_to_action %}
				<li class="features-cta"><div class="features-cta start"><a href="{{ feature.call_to_action.link }}">{{ feature.call_to_action.text }} &rarr;</a></div></li>
			{% endif %}
		</ul>
	{% endfor %}
</div>

{% if page.faq %}
	<h2>features FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
