---
layout: models
title: Cloud Native Catalog - Models
description: Models package components and relationships providing a versioned and OCI-exportable logical representation of resources.     
permalink: /catalog/models
---

{% assign models = site.models | concat: site.custom-models %}
<script>
    var models = {{ models | jsonify }};
</script>
<div class="section-container">
    {% include alltype.html %}

    <div class="catalog-section models-section tab-content" id="models-tab">
        <div style="margin-top: 2rem;">{% include view-all.html %}</div>
        <h2 class="not-found" style="display: none;margin-top: 10rem;" id="not-found">
            No results match your filters. Try adjusting your selections or clearing some filters.
        </h2>
        <div class="row">
                <div class="column column-lg custom-design-card models" style="display: block" patterntype="models"
                    type="custom">
                    {% include custom-modal.html type="Model"%}
                </div>
            {% assign count = 0 %} {% for pattern in models %} {% if count < 6 %} {% assign should_display='block' %} {%
                else %} {% assign should_display='none' %} {% endif %} <div class="column column-lg patternCard models"
                filter="{{ pattern.name }}" type="{{ pattern.category }}" patternType="models" technology=""
                style="display: {{ should_display }};">
                {% include models/card.html model=pattern %}
        </div>
        {% assign count = count | plus: 1 %} {% endfor %}
    </div>
    <div class="pagination">
        <button class="prev" id="models-prev" disabled>Prev</button>
        <button class="next" id="models-next">Next</button>
    </div>
</div>
</div>
<script>
    const itemsPerPage = 6;

    function getCardsForSection(section) {
        return document.querySelectorAll(`.${section}-section .patternCard`);
    }

    function updatePagination(section) {
        const cards = getCardsForSection(section);

        const totalPages = Math.ceil(cards.length / itemsPerPage);
        let currentPage = 0;

        function showCards() {
            const start = currentPage * itemsPerPage;
            const end = start + itemsPerPage;

            cards.forEach((card, index) => {
                card.style.display = index >= start && index < end ? "block" : "none";
            });
        }

        function updateButtons() {
            const prevButton = document.getElementById(`${section}-prev`);
            const nextButton = document.getElementById(`${section}-next`);

            prevButton.disabled = currentPage === 0;
            nextButton.disabled = currentPage + 1 >= totalPages;
        }

        showCards();
        updateButtons();

        document.getElementById(`${section}-prev`).onclick = function () {
            if (currentPage > 0) {
                currentPage--;
                showCards();
                updateButtons();
            }
        };

        document.getElementById(`${section}-next`).onclick = function () {
            if (currentPage + 1 < totalPages) {
                currentPage++;
                showCards();
                updateButtons();
            }
        };
    }
    updatePagination("models");
</script>
