---
layout: page
permalink: /models/
redirect_from:
  - /models
published: true
---

<style>
  .selected a {
    background-color: #222222;
  }
  .sorting-options {
    margin: 0 20px 0 20px;
    display: flex;
    align-items: center;
    @media (max-width: 506px) {
      text-align: center;
      margin: auto;
    }
  }
  #sort {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    margin-right: 10px;
    @media (max-width: 506px) {
     display: none;
    }
  }
  #search {
    width: 30%;
    flex-grow: 1;
    padding: 20px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    top: 0;
  }
  .row {
    margin: 3rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
  .column.column-lg.modelCard {
    display: block;
  }

  .section-container {
    width: 100%;
  }
</style>

{% assign models = site.models | sort: 'category' %}

<div class="section-container">
  {% include view-all.html showbuttons="false" %} {% include models/card-modal.html %}

  <div class="row">
    <h2 class="not-found" style="display: none;" id="not-found">
      No results found
    </h2>
    {% for model in models %} {% if model.modelId %}
    {% assign last = model.compatibility | last %}
    <div
      class="column column-lg modelCard"
      filter="{{ model.title }}"
      type="{{ model.category }}"
    >    
      {% include models/card.html %}
      <!-- modal included -->
      {% include models/modal.html %}
    </div>
    {% endif %} {% endfor %} 
  </div>
</div>

<script>
  document.getElementById("sort").addEventListener("change", function () {
    var sortValue = this.value;
    var cardsContainer = document.querySelector(".row");
    var cards = cardsContainer.querySelectorAll(".modelCard");

    var catalog = Array.from(cards);

    if (sortValue === "asc") {
      catalog = catalog.sort(function (a, b) {
        if (a.getAttribute("status") === "ComingSoon") {
          return 1;
        } else if (b.getAttribute("status") === "ComingSoon") {
          return -1;
        } else {
          return a
            .getAttribute("filter")
            .localeCompare(b.getAttribute("filter"));
        }
      });
    } else if (sortValue === "desc") {
      catalog = catalog.sort(function (a, b) {
        if (a.getAttribute("status") === "ComingSoon") {
          return 1;
        } else if (b.getAttribute("status") === "ComingSoon") {
          return -1;
        } else {
          return b
            .getAttribute("filter")
            .localeCompare(a.getAttribute("filter"));
        }
      });
    }

    catalog.forEach(function (model) {
      cardsContainer.appendChild(model);
    });
  });

  document.getElementById("search").addEventListener("input", function () {
    var searchValue = this.value.toLowerCase();
    var cardsContainer = document.querySelector(".row");
    var cards = cardsContainer.querySelectorAll(".modelCard");
    var notFound = document.getElementById("not-found");

    let found = false;

    cards.forEach(function (model) {
      var filterValue = model.getAttribute("filter").toLowerCase();
      if (filterValue.includes(searchValue)) {
        model.style.display = "block";
        found = true;
      } else {
        model.style.display = "none";
      }
    });

    if (!found) {
      notFound.style.display = "block";
    } else {
      notFound.style.display = "none";
    }
  });
</script>

<script>

  document.addEventListener("themeChange",(e)=> {
    // load the model icon based on theme 
    document.querySelectorAll(".model-image").forEach(e => {
      e.src = event.detail.value == "dark-mode" ? e.dataset.modeliconLight : e.dataset.modeliconDark;
    });
  
  }) 
</script>
