---
layout: default
title: Newcomers
description: A guide for newcomers to the Layer5 community
permalink: /newcomers
---

<link
  rel="stylesheet"
  href="{{ site.baseurl }}/assets/css/community.css"
/>
<link
  rel="stylesheet"
  href="{{ site.baseurl }}/assets/css/newcomers.css"
/>

<!-- Welcome Section -->
<section class="newcomers-container">
  <div class="newcomers-welcome">
    <h1 class="page-title">Welcome Newcomers!</h1>
    <p class="welcome-text">
      Whether you are a first time contributor or an open source veteran, you are
      welcome to contribute to and actively engage in the development of projects at Layer5. 
      Here are some instructions to get you started and if you haven't joined yet, 
      join the
      <a
        href="https://mesheryio.slack.com/ssb/redirect#/shared-invite/email"
        target="_blank"
        rel="noreferrer"
        >Slack workspace</a
      >
      to collaborate with the community and the
      <a
        href="https://discuss.layer5.io"
        target="_blank"
        >discussion forum</a
      >
      for questions. Also, you can check the quick-links below for jumping
      straight into things.
    </p>

    <div class="newcomers-journey">
      <div class="heading">
        <h2>Contributor's Journey</h2>
        <div class="heading-start">
          <h4>Start Here</h4>
          <img
            class="heading-start__arrow"
            src="{{ site.baseurl }}/assets/images/newcomers/long-arrow.svg"
            alt="Arrow pointing to journey map"
          />
        </div>
      </div>
      <div class="journey-map">
        {% include newcomers-map.html %}
      </div>
    </div>

    <div class="how-to-contribute">
      <h3>How to Contribute?</h3>
      <p>
        These steps outline the process by which you can openly engage, learn, and
        participate in the broad set of open source projects at Layer5. If at any
        time you get stuck, please seek help in the
        <a
          href="https://discuss.layer5.io"
          target="_blank"
          rel="noreferrer"
          >community forum</a
        >. Our <a href="#">MeshMates</a> and community members are here to help!
      </p>
    </div>
  </div>

  <div class="instructions">
   <!-- Step 1: Community Member Form -->
<div class="step">
  <div class="step-content">
    <h3>Fill in the Community Member Form</h3>
    <p>
      Help us get to know you, so that we can highlight projects and
      initiatives that align with your interests. Fill-in a community member
      form. Gain access to community resources.
    </p>
  </div>
  <div class="step-action">
    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLSdMLeZY6hZ46yYNkoKKV5OM-jCypjbYcqptbUNltEE73EqCjA/viewform?usp=sf_lin"
      class="button primary"
      >Submit A Member Form</a
    >
  </div>
</div>

<!-- Step 2: Finding an Issue -->
<div class="step">
  <div class="step-image finding-an-issue">
    <img
      src="{{ site.baseurl }}/assets/images/newcomers/five-finding-issue.png"
      alt="Finding Issues Illustration"
    />
  </div>
  <div class="step-content">
    <h3>Finding an Issue to Work On</h3>
    <p>
      Note that the Layer5 community spans five GitHub organizations. See all in the
      <a href="#">repository overview</a>.
    </p>
    <ol type="i">
      <li>
        Browse the list of
        <a
          href="https://github.com/meshery"
          target="_blank"
          rel="noreferrer"
          >Meshery org</a
        >
        issues bearing the "<a
          href="https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+org%3Alayer5io+org%3Ameshery+org%3Aservice-mesh-performance+org%3Alayer5labs+org%3Aservice-mesh-patterns+label%3A%22good+first+issue%22"
          target="_blank"
          rel="noreferrer"
          >good first issue</a
        >" label, "<a
          href="https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+org%3Alayer5io+org%3Ameshery+org%3Aservice-mesh-performance+org%3Alayer5labs+org%3Aservice-mesh-patterns+label%3A%22first-timers-only%22+"
          target="_blank"
          rel="noreferrer"
          >first timers only</a
        >" or the "<a
          href="https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+org%3Alayer5io+org%3Ameshery+org%3Aservice-mesh-performance+org%3Alayer5labs+org%3Aservice-mesh-patterns++label%3A%22help+wanted%22+"
          target="_blank"
          rel="noreferrer"
          >help wanted</a
        >" label.
      </li>
      <li>
        Find an area of interest by perusing the list of projects by repository and technology in the
        <a href="#">Meshery Repository Overview</a>.
      </li>
      <li>
        After identifying the issue you wish to work on, check whether it has
        been assigned or not by taking a look at the assignee section on the
        issue. If it hasn't been, signal your interest by commenting on the
        issue, so that it can be assigned to you.
      </li>
    </ol>
  </div>
</div>

<!-- Step 3: Working on Issue -->
<div class="step">
  <div class="step-content">
    <h3>Working on Your Issue</h3>
    <ol type="i">
      <li>
        Once an issue has been assigned to you, it's time to get started! Make
        sure you take a look at the
        <a
          href="https://github.com/meshery/meshery/blob/master/CONTRIBUTING.md"
          target="_blank"
          rel="noreferrer"
          >Contributing Guidelines</a
        >.
      </li>
      <li>
        Be sure to
        <a
          href="https://github.com/meshery/meshery/blob/master/CONTRIBUTING.md#signing-off-on-commits-developer-certificate-of-origin"
          target="_blank"
          rel="noreferrer"
          >sign-off on your commits</a
        >.
      </li>
      <li>Contributions of all sizes are welcome.</li>
      <li>
        If you need some additional help, please join Layer5
        <a
          href="https://discuss.layer5.io"
          target="_blank"
          rel="noreferrer"
          >discussion forum</a
        >
        or find your way to the
        <a
          href="https://slack.layer5.io/"
          target="_blank"
          rel="noreferrer"
          >#newcomers</a
        >
        channel in our Slack workspace. Introduce yourself and ask questions.
      </li>
    </ol>
  </div>
  <div class="step-image community-img">
    <img
      src="{{ site.baseurl }}/assets/images/newcomers/five-working.png"
      alt="Working on Issues Illustration"
    />
  </div>
</div>

<!-- Step 4: Under Review -->
<div class="step">
  <div class="step-image community-collage">
    <img
      src="{{ site.baseurl }}/assets/images/newcomers/community-collage.webp"
      alt="Community Collage"
    />
  </div>
  <div class="step-content">
    <h3>While Your Issue is Under Review</h3>
    <p>
      Be patient. There are a large number of contributors and only a
      small number of maintainers/reviewers. All contributors are
      equally important to us, and we'll be sure to get to you as soon
      as possible. In the meanwhile, you are welcome to engage in the Layer5
      <a
        href="https://discuss.layer5.io/"
        target="_blank"
        rel="noreferrer"
        >discussion forum</a
      >, join our
      <a
        href="https://slack.layer5.io/"
        target="_blank"
        rel="noreferrer"
        >Slack workspace</a
      >
      and take a look at all our <a href="https://layer5.io/projects">projects</a>.
    </p>
  </div>
</div>
  </div>
  <div class="tutorials-section">
  <div class="tutorials-heading">
    <h3>Tutorials</h3>
    <p>
      Checkout some of the resources to get going
    </p>
  </div>
  
  <div class="tutorials-table">
    {% include tutorials-table.html %}
  </div>
</div>
<div class="join-community">
   {% include join-community.html %}
</div>
</section>