---
layout: page
permalink: /service-mesh-patterns
title: Service Mesh patterns
heading: Service Mesh Patterns
redirect_from: service-mesh-patterns
---

<style>

/* CARD-STYLES */
.card {
  position: relative;
  width: 220px;
  height: 250px;
  padding: 20px;
  border-radius: 15px;
  border: 0;
  transition: 0.4s ease-out;
  box-shadow: 2px 2px 6px 0px  #00D3A9;
  margin-bottom: 20px;
}
.card:hover {
  background: rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  cursor: pointer;
}
.pattern-image-overlay{
  opacity: 0.5;
  width: 60%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  margin-left: 5%;
  border-radius: 15px;
}
.card-overlay {
  position: relative;
  width: 220px;
  height: 250px;
  padding: 20px;
  border-radius: 15px;
  border: 0;
  background: rgba(0,0,0,0.7) ;
  box-shadow: 2px 2px 6px 0px  #00D3A9;
  margin-bottom: 20px;
}
.card:hover {
  background: rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  cursor: pointer;
}

 .overlay-text{
  position: absolute;
  top: 40%;
  left: 50%;
  color: white;
  font-size: 19px;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  z-index: 100;
  white-space: nowrap;
}  
.pattern-id-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 10px;
  margin-right: 14px;
  color: white;
  opacity: 0.7;
}

 h3{
   font-weight: 300;
 }
 p{
   font-size: 18px;
 }
  .inner-span {
    font-size: 16px;
    position: relative;
    color: black;
  }
  .column {
  float: left;
  padding: 0 10px;
}
.smp-overlay{
  width: 25px;
  bottom: 0;
  right: 0;
  opacity: 0.7;
  vertical-align: middle;
  padding-right: 2px;
}
.smp {
  width: 25px;
  bottom: 0;
  right: 0;
  vertical-align: middle;
  padding-right: 2px;
 
}
.tooltip-modal:hover .tooltiptext-modal {
    visibility: visible;
  }

  .tooltip-modal .tooltiptext-modal {
    visibility: hidden;
    width: 100px;
    display: inline-block;
    color: white;
    background-color: #1a2421;
    text-align: center;
    padding: 7px;
    font-size: 1em;
    border-radius: 7px;
    position: absolute;
    z-index: 1;
    left:40%;
    font-size: 15px; 
    width: 140px;
    height: 40px;
    padding: 0;
    line-height: 40px;
    top: 3rem;
  }
.import{
  background-color: #00b39fff;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 10px;

}
.vertical-center {
  -ms-transform: translateY(-60%);
  transform: translateY(20%) translateX(15%);
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* PATTERN-STYLES */
.pattern-type {
  cursor: inherit;
    display: flex-start;
    align-items: center;
    user-select: none;
    white-space: nowrap;
    padding-left: 12px;
    padding-right: 12px;
}
.chip {
  display: inline-flex;
  flex-direction: row-reverse;
  float: right;
  background-color: #b6d7a8ff;
  border: none;
  cursor: default;
  height: 23px;
  outline: none;
  padding: 0;
  font-size: 14px;
  font-family:"Open Sans", sans-serif;
  white-space: nowrap;
  align-items: center;
  border-radius: 16px;
  vertical-align: middle;
  text-decoration: none;
  justify-content: center;
 }

 .chip-modal{
  float: left;
 }

.pattern-name {
   color:#333;
   font-weight: 1400;
   font-style: bold;
   white-space: nowrap;
   text-align: center;
  padding: 15px 0 3px 0;
  
 }
 .pattern-id {
   position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 10px;
  margin-right: 14px;
 }
 .pattern-image {
  width: 60%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  margin-left: 5%;
  border-radius: 15px;
 }


/* CHECKBOX-STYLES */
.filter-wrap {
  float: left;
  flex-grow: 1;
  width: 22%;
  padding-right: 1rem;
  height: 800px; /* height needs to be increased with regarding to the total no. of patterns */
}
label {
        display: block;
        padding-left: 15px;
        text-indent: -15px;       
      }
      input {
        width: 20px;
        height: 20px;
        padding: 3px;
        margin: 0;
        vertical-align: middle;
        position: relative;
        top: -1px;
        display: inline;
      }
      input[type="checkbox"] {
      margin: 0;      
      }


/* MODAL-STYLES */
.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-image {
  width: 250px;
    margin: 30px 30px 30px 0px;
    float: left;
}
.align {
  display: flex;
  align-items: center;
}
::-webkit-scrollbar {
      display: "none"
    }
.modal-window > div {
  position: absolute;
  height: 75%;
  overflow: auto;
  overflow-x: hidden;
  width: 60%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5em 1.5em 1.5em 0.5em;
  background: #fff;
  border-radius: 1rem;
}
::-webkit-scrollbar-corner {background-color: transparent;}
.modal-window header {
  font-weight: bold;
}
.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}
.service-mesh-image {
  height: 50px;
  width: 50px;
}
.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal-pattern-name {
  color:#333;
   font-weight: 600;
   font-style: bold;
   white-space: nowrap;
   text-align: center;
  padding-top: 7px;
  }
.modal-chip{
  display: inline-flex;
  flex-direction: row-reverse;
  float: right;
  background-color: #b6d7a8ff;
    border: none;
    cursor: default;
    height: 20px;
    outline: none;
    padding: 1px;
    font-size: 12px;
    font-family:"Open Sans", sans-serif;
    white-space: nowrap;
    align-items: center;
    border-radius: 16px;
    vertical-align: middle;
    text-decoration: none;
    justify-content: center;
 }
 .modal-card {
  position: relative;
  margin: 10px auto;
  width: 160px;
  height: 195px;
  padding: 20px;
  border-radius: 15px;
  border: 0;
  transition: 0.4s ease-out;
  box-shadow: 2px 2px 6px 0px  #00D3A9;
}

 .modal-smp{
  width: 20px;
  bottom: 0;
  right: 0;
  vertical-align: middle;
  padding-right: 2px;
 
 }
.modal-pattern-image{
  width: 60%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  margin-left: 5%;
  border-radius: 15px;
  padding-bottom: 2px;
 }
.modal-small-header {
  font-size: 15px;
  display: block;
}
.modal-content {
  font-size: 10px;
  display: block;
  padding: 10px;
}
.modal-pattern-id {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 10px;
  margin-right: 14px;
 }
.modal-window div div:not(:last-of-type) {
  margin-bottom: 15px;
}
.modal-container {
  padding: 20px 40px 40px;
  max-width: 600px;
      }
  .modal-text {
    display: inline;
  }
      .image-container {
        flex-basis: 70%;
      }
.close {
  position: absolute;
  transition: all 200ms;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  background: transparent;
  border : 0px;
  cursor: pointer;
}
.close:hover {
  color: #00D3A9 !important;
  opacity: 0.8 !important;
  text-decoration: none;
}
.open-modal-btn{
  display: block;
  margin: 0 auto;

}



@media screen and (max-width: 700px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 700px){
  .modal-window{
    width: 100%;
    height: 100%;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 770px){
.filter-wrap{
display: none;
}
@media screen and (max-width: 544px){
.modal-image{
  width:200px;
}
.related-patterns {
  display: none;
}
.modal-card{
  display: none;
}
}

}

</style>


<div class="sub-heading">
  <h3>What are Service Mesh Patterns?</h3>
  <p>Service Mesh Patterns help you confidently wield a service mesh by extracting best practices of service mesh use and harnessing the core value service meshes offer, irrespective of which service mesh you’re using.</p>
  <h3>Pattern Management</h3>
  <p>You may bring your own patterns or find them available through your chosen provider. Each service mesh pattern carries a unique identifier for reference. The patterns in this repository serve in an educational capacity, facilitating learning, and also serve in an operational capacity, facilitating implementation and validation of your service mesh deployment’s adherence to a pattern.</p>
</div>
<h3>Some sample patterns:</h3>

<!-- FILTER-START -->

<div class="filter-wrap">
  <p><strong>Categories:</strong></p>
  <form>  
    <label><input type="checkbox" name="sType" rel="Deployment" id="Deployment"/> Deployment </label>
    <label><input type="checkbox" name="sType" rel="TrafficManagement" id="TrafficManagement" /> Traffic Management </label>
    <label><input type="checkbox" name="sType" rel="Security" id="Security" /> Security </label> 
  </form>
  <hr>
  <p><strong>Compatibilty:</strong></p>
  <form>
    <label><input type="checkbox" name="sCategory" rel="Istio" id="Istio" /> Istio </label>
    <label><input type="checkbox" name="sCategory" rel="Linkerd" id="Linkerd" /> Linkerd </label>
  </form>
  <hr>
  <p><strong>Technology:</strong></p>
  <form>
    <label><input type="checkbox" name="sTechnology" rel="WebAssembly" id="WebAssembly" /> WebAssembly </label>
    <label><input type="checkbox" name="sTechnology" rel="JWT" id="JWT"/> JWT </label>
  </form>
</div>

<!-- FILTER-END -->



<!-- CARD-START -->

    {% for pattern in site.data.patterns %}
    <div class="row">
      <div class="column">
        
            {% if pattern.Status == "ComingSoon" %}
          
            <div class= "card-overlay">
           
            
              <h4 class="overlay-text">Coming Soon...</h4>
            <h4 class="pattern-name">{{pattern.name}}</h4>
            <img class= "pattern-image-overlay" src="{{pattern.image}}"/>
            <div>
         
         <h6 class="pattern-id-overlay">     <img class="smp-overlay"
          src="{{site.baseurl}}/images/logos/service-mesh-pattern.svg"
          loading="lazy" />{{pattern.patternId}}</h6>
 
        </div>
            </div>
       
           {% else %}
           <div class="mesh Deployment Istio">
           <div class="link open-modal-btn">
           <div class= "card" id="{{pattern.DataCategory}}">
             
              <div class="chip">
                  <small class="pattern-type"> {{pattern.patternType}}</small>
              </div>
              <h4 class="pattern-name">{{pattern.name}}</h4>
              <img class= "pattern-image" src="{{pattern.image}}"/>
              <div>
           
           <h6 class="pattern-id">     <img class="smp"
            src="{{site.baseurl}}/images/logos/service-mesh-pattern.svg"
            loading="lazy" />{{pattern.patternId}}</h6>
   
          </div>
            </div>
          </div>
        </div>
          {% endif %}
  </div>

<!-- CARD-END -->


<!-- MODAL-START -->
  <div id="open-modal" class="modal-window">
    <div>
      <button class = "modal-close close">&times;</button>
      <div class="chip chip-modal">
        <h6 class="pattern-type"> {{pattern.patternType}}</h6>
    </div>
    <p><div class="modal-image" ><img src="{{pattern.image}}" /> <h4 class="related-patterns">Related Patterns</h4>
    
    
    <!-- MINICARD-START -->
    {% if pattern.patternType == "Deployment" %}
    <div class= "modal-card">
      <div class="modal-chip">
          <small class="modal-pattern-type"> {{pattern.patternType}}</small>
      </div>
      <h5 class="modal-pattern-name">{{pattern.name}}</h5>
      <img class= "modal-pattern-image" src="{{pattern.image}}"/>
      <div>
      <h6 class="modal-pattern-id">
      <img class="modal-smp"
      src="{{site.baseurl}}/images/logos/service-mesh-pattern.svg"
      loading="lazy" />{{pattern.patternId}}</h6>
      </div>
    </div>
    {% elsif pattern.patternType == "Traffic Management" %}
    <div class= "modal-card">
      <div class="modal-chip">
          <small class="modal-pattern-type"> {{pattern.patternType}}</small>
      </div>
      <h5 class="modal-pattern-name">{{pattern.name}}</h5>
      <img class= "modal-pattern-image" src="{{pattern.image}}"/>
      <div>
      <h6 class="modal-pattern-id">
      <img class="modal-smp"
      src="{{site.baseurl}}/images/logos/service-mesh-pattern.svg"
      loading="lazy" />{{pattern.patternId}}</h6>
      </div>
    </div>
    {% endif %}
    <!-- MINICARD-END -->
    </div><h3 style="text-align: center;">{{pattern.name}}</h3>
    <h4>What this pattern does:</h4><h5>{{pattern.patternInfo}}</h5>
    <h4>Caveats and Consideration: </h4><h5>{{pattern.patternCaveats}}</h5></p>
    <h4>Compatibilty:</h4>
   
    {% if pattern.Compatibility == "Istio" %}
    <img class="service-mesh-image" src="{{site.baseurl}}/images/istio.svg" /><br />
    {% elsif pattern.Compatibility == "Linkerd" %}
    <img class="service-mesh-image" src="{{site.baseurl}}/images/linkerd.svg" /><br />
    {% endif %}
  
    <div id="copy-url">
    
    <div class="vertical-center" id="{{pattern.name}}">
      <a class="btn tooltip-modal" data-clipboard-target="#copy-url" data-clipboard-text="{{pattern.patternURL}}"
        onmouseout="resetCopyText(this)">
       <button class="import">Import URL</button>
        <span class="tooltiptext-modal">Copy to clipboard</span>
      
      </a></div></div>
    </div></div>
    {% endfor %} 
    <!-- MODAL-END -->
</div>



<!-- MODAL-JS -->

<script>
    var modal = document.querySelectorAll('.modal-window');
    var btnOpen = document.querySelectorAll('.link');
    var btnClose = document.querySelectorAll('.close');
    var cont = document.querySelectorAll('.pattern')


    console.log(cont);
    for(i=0;i<cont.length;i++){
        console.log(cont[i]);
        if(i%2!=0){
            cont[i].style.flexDirection = "row-reverse";
        }
    }
    console.log(modal);
    for(let i in modal){
    btnClose[i].addEventListener('click',function(){
        modal[i].style.visiblity = "hidden";
        modal[i].style.opacity = "0";
        modal[i].style.pointerEvents= "none";
        console.log('clicked btn');
    });
    btnOpen[i].addEventListener('click',function(){
        modal[i].style.visibility = "visible";
        modal[i].style.opacity = "1";
        modal[i].style.pointerEvents="auto";
        console.log('click btn open');
        console.log(modal);
    });
    }

</script>

