---
layout: page
permalink: /talks-and-presentations
redirect_from:
  - /talks-and-presentations/
title: Meshery Talks and Presentations
heading: Meshery Talks and Presentations
redirect_from: talks-and-presentations
---

<style>
.modal-window {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}

.modal-window > div {
  position: absolute;
  top: 50%;
  left: 50%;
  width:fit-content;
  height: fit-content;
  transform: translate(-50%, -50%);
  padding: 2.5em 2em 2em 2em;
  border-radius: 1rem;
}

.modal-window header {
  font-weight: bold;
}

.modal-window h1 {
  font-size: 200%;
}

.modal-header {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

.button-para{
  margin-bottom: 1rem;
  width: fit-content;
}
iframe{
  margin: 0 2rem 0 2rem;
  border-radius: 0.3rem;
}

.modal-window div div:not(:last-of-type) {
  margin-bottom: 15px;
}

.modal-window div div:last-of-type {
  text-align: center;
}

small {
    font-size: 125%;
    color: var(--color-primary-qtext);
    font-weight: bold;
  }

.event{
  padding-top: 0;
  padding-bottom: 0;
}

.modal-content a{
  font-size: 150%;
  font-weight: bold;
}

.close {
  color: var(--color-secondary-light);
}

.close:hover {
    color: var(--brand-color-primary);
    opacity: 0.8;
    text-decoration: none;
  }

.open-modal-btn{
  display: block;
  margin: 0 auto; 
}

.talks-description{
  text-align: justify; 
  text-justify: inter-word;
  flex-basis: 100%;
}
 
table{
  display: table;
  width: 100%;
  height: auto;
  border-collapse: collapse;
  margin: 2rem auto;
  border: none;
  box-shadow:0 2px 16px rgba(0,0,0,0.4);
  padding: 2rem;
  color: var(--color-secondary-light);
} 

th {
  color: white;
  text-transform: uppercase;
  font-size: 1.1rem;
}

th, tr {
  height: 3.75rem;
  vertical-align: middle;
}

tr:nth-child(odd) {
  background: var(--background-grey);
}

th {
  background-color: #3C494F;
}

th, td {
  text-align: center;
  padding: 0 0.625rem; 
  border: none;
}

th.topic{
  width: 60%;
}

td a{
  text-decoration: none;
}

.presenter a{
  color: var(--color-secondary-light);
}

td a:hover{
  text-decoration: none;
  color: #3C484E;
}



td{
  font-size: 1.1rem;
}

.table-cell-style{
  padding: 0.4rem 0;
}

.presenter span {
  display: block;
  margin: 0.2rem 0;
}

.tutorials-heading{
  margin-top: 8rem;
  text-align: center;
}

.tutorials-heading p{
  margin: 0;
}

.recording-link{
  width: 25px;
  cursor: pointer;
  filter: var(--logo-filter);
}

.presentation-link{
  width: 25px;
  cursor: pointer;
  filter: var(--logo-filter);
}
@media screen and (max-width: 700px){
  .modal-window{
    width: 100%;
    height: 100%;
    margin-top: 2rem;
  }
  iframe{
    height:150px;
    width: auto;
    margin: 0;
  }
  
}

@media screen and (max-width: 450px){
  th {
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  }
  td{
  font-size: 0.9rem;
  }
}

</style>

<section class="event">
  <div class="container flex">
    <div class="text talks-description" >
      <h2>CNCF On-Demand Webinar: <strong>Meshery - The Cloud Native Manager</strong></h2>
      <p> This webinar introduces Meshery, the self-service engineering platform,that enables collaborative design and operation of cloud native infrastructure.</p>
        <br>
        <div class="button-para">
          <button class="link open-modal-btn">Find video and slides here</button>  
        </div>

        <div id="open-modal" class="modal-window">
          <div class ="modal-content">
            <div class="modal-header">
              <h1>An Introduction to Meshery (CNCF Webinar-on-Demand)</h1>
              <button class="modal-close close">&times;</button>
            </div>
            <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/DZitzsSrF4E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div>
              <div><small>Slides</small></div>
              <a href="https://docs.google.com/presentation/d/1YxeERLarsh60ItrgT29KzlNQEjkRnw5WDnnwy2uUe1Y/edit?usp=sharing" target="_blank">CNCF Webinar - The Cloud Native Management Plane</a>
            </div>
          </div>
        </div>
      
    </div>
    <div class="image" >
      <img src="{{ site.baseurl }}/assets/images/logos/meshery-gradient.png"
        alt="Meshery" loading="lazy" width="100%"/>
    </div>
    
  </div>
  
</section>
 
<table>
  <thead>
      <tr>
          <th class="topic">Topic</th>
          <th>Resources</th>
          <th >Presenter</th>
      </tr>
  </thead>
  <tbody>
    {% for talk in site.data.talks %}
      {% if talk.type != 'tutorial' %}
        <tr >
            <td>{{talk.title}}</td>
            <td class = "table-cell-style">
              {% if talk.video %}
              <img src="{{ site.baseurl }}/assets/images/social/youtube.svg"
              alt="Service Mesh configuration Comparison" loading="lazy"
              class="recording-link"/>
                <div id="open-modal" class="modal-window">
                  <div class ="modal-content">
                    <button class = "modal-close close">&times;</button>
                    <h1>{{talk.title}}</h1>
                    <div>
                        <iframe width="560" height="315" src={{talk.embeded_video}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    {% if talk.presentation %}
                      <div>
                        <div><small>Slides</small></div>
                        <a href={{talk.presentation}} target="_blank">{{talk.title}}</a>
                      </div>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
              {% if talk.presentation %}
              <span><a href={{talk.presentation}} target="_blank"><img src="{{ site.baseurl }}/assets/images/social/presentation.svg"
                alt="Service Mesh configuration Comparison" loading="lazy"
                class="presentation-link"/></a></span>
              {% endif %}
            </td>
            <td class="presenter">
              <span><a href={{talk.presenter1_profile}} target="_blank">{{talk.presenter1}}</a></span>
              {% if talk.presenter2 %}
                <span><a href={{talk.presenter2_profile}} target="_blank">{{talk.presenter2}}</a></span>
              {% endif %}
            </td>
        </tr>
      {% endif %}
    {% endfor %}
      
  </tbody>
</table>
<div class = "tutorials-heading">
  <h1 class id="Tutorials">Tutorials</h1>
  <p>Checkout some of the resources to start contributing to Meshery</p>
</div>

<table>
  <thead>
      <tr>
          <th class="topic">Topic</th>
          <th>Resources</th>
          <th>Presenter</th>
      </tr>
  </thead>
  <tbody>
    {% for talk in site.data.talks %}
      {% if talk.type == 'tutorial' %}
        <tr >
            <td>{{talk.title}}</td>
            <td class = "table-cell-style">
              {% if talk.video %}
              <img src="{{ site.baseurl }}/assets/images/social/youtube.svg"
            alt="Service Mesh configuration Comparison" loading="lazy"
            class="recording-link"/>
              <div id="open-modal" class="modal-window">
                <div class ="modal-content">
                  <button class = "modal-close close">&times;</button>
                  <h1>{{talk.title}}</h1>
                  <div>
                      <iframe width="560" height="315" src={{talk.embeded_video}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  {% if talk.presentation %}
                    <div>
                      <div><small>Slides</small></div>
                      <a href={{talk.presentation}} target="_blank">{{talk.title}}</a>
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endif %}
            {% if talk.presentation %}
            <span><a href={{talk.presentation}} target="_blank"><img src="{{ site.baseurl }}/assets/images/social/presentation.svg"
              alt="Service Mesh configuration Comparison" loading="lazy"
              class="presentation-link"/></a></span>
            {% endif %}
            </td>
            <td class="presenter">
              <span><a href={{talk.presenter1_profile}} target="_blank">{{talk.presenter1}}</a></span>
              {% if talk.presenter2 %}
                <span><a href={{talk.presenter2_profile}} target="_blank">{{talk.presenter2}}</a></span>
              {% endif %}
            </td>
        </tr>
      {% endif %}
    {% endfor %}
      
  </tbody>
</table>
<script src="{{  site.baseurl }}/assets/js/talks-presentations.js"></script>
