---
layout: catalog
title: Cloud Native Catalog
permalink: /catalog
---

<style>
  .selected a {
    background-color: #222222;
  }
  .sorting-options {
    margin: 0 20px 20px 20px;
    display: flex;
    align-items: center;
    @media (max-width: 506px) {
      text-align: center;
      margin: auto;
    }
  }
  #sort {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    margin-right: 10px;
  }
  #search {
    flex-grow: 1;
    padding: 20px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    top: 0;
  }
  .row {
    margin: 10px;
  }
  .column.column-lg.patternCard {
    display: block;
  }
</style>

{% assign catalog = site.catalog | sort: 'name' %}
<div class="section-container">
  <div class="sorting-options">
    <select id="sort">
      <option disabled selected value>Sort by</option>
      <option value="asc">Alphabetically (A-Z)</option>
      <option value="desc">Alphabetically (Z-A)</option>
    </select>
    <input type="text" id="search" placeholder="Search..." />
  </div>

  <div class="row">

    <div id="patterncard"></div>
  </div>
</div>

<script>
// JavaScript loop to fill the div with content
document.addEventListener('DOMContentLoaded', function() {
  // Get the reference to the content container
  const contentContainer = document.getElementById('patterncard');
  let htmlstring = "";

  // Loop to generate and append content
  for (let patternloop of catalog) {
    if (patternloop.patternInfo && patternloop.Status != "ComingSoon") {
      htmlstring += `
        <div class="column column-lg patternCard"
          filter="${patternloop.name}"
          type="${patternloop.type}"
          technology="${patternloop.technology}"
          status="${patternloop.Status}">
          {% include card.html %}
          <!-- modal included -->
          {% include modal.html %}
        </div>`;
    }
    // Set the generated HTML to the content container
  contentContainer.innerHTML = htmlstring;
  }
});
</script>

<script>
  document.getElementById("sort").addEventListener("change", function () {
    var sortValue = this.value;
    var cardsContainer = document.querySelector(".row");
    var cards = cardsContainer.querySelectorAll(".patternCard");

    var catalog = Array.from(cards);

    if (sortValue === "asc") {
      catalog = catalog.sort(function (a, b) {
        if (a.getAttribute("status") === "ComingSoon") {
          return 1;
        } else if (b.getAttribute("status") === "ComingSoon") {
          return -1;
        } else {
          return a
            .getAttribute("filter")
            .localeCompare(b.getAttribute("filter"));
        }
      });
    } else if (sortValue === "desc") {
      catalog = catalog.sort(function (a, b) {
        if (a.getAttribute("status") === "ComingSoon") {
          return 1;
        } else if (b.getAttribute("status") === "ComingSoon") {
          return -1;
        } else {
          return b
            .getAttribute("filter")
            .localeCompare(a.getAttribute("filter"));
        }
      });
    }

    catalog.forEach(function (pattern) {
      cardsContainer.appendChild(pattern);
    });
  });

  document.getElementById("search").addEventListener("input", function () {
    var searchValue = this.value.toLowerCase();
    var cardsContainer = document.querySelector(".row");
    var cards = cardsContainer.querySelectorAll(".patternCard");

    cards.forEach(function (pattern) {
      var filterValue = pattern.getAttribute("filter").toLowerCase();
      if (filterValue.includes(searchValue)) {
        pattern.style.display = "block";
      } else {
        pattern.style.display = "none";
      }
    });
  });
</script>