---
layout: catalog
title: Cloud Native Catalog
permalink: /catalog
---

<style>
  .selected a {
    background-color: #222222;
  }
  .sorting-options {
    margin: 0 20px 20px 20px;
    text-align: right;
    @media (max-width: 506px) {
      text-align: center;
      margin: auto;
    }
  }
  #sort {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  .row {
    margin: 10px;
  }
</style>

<!-- <style>
  .pager a, .pager span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;

  }
  .pager a :hover{
    background-color: #f1f1f1;
    color:#333
  }
.selected a{
  background-color: #222222
}
.pager {
    text-align: center;
    display: flex;
    list-style: none;
    justify-content: center;
 }
</style> -->
{% assign catalog = site.catalog | sort: 'name' %}
<div class="section-container">
  <div class="sorting-options">
    <label for="sort">Sort by:</label>
    <select id="sort">
      <option disabled selected value>Sort</option>
      <option value="asc">Alphabetically (A-Z)</option>
      <option value="desc">Alphabetically (Z-A)</option>
    </select>
  </div>

  <div class="row">
    {% for pattern in catalog %} {% if pattern.patternInfo and pattern.Status !=
    "ComingSoon" %}
    <div
      class="column column-lg patternCard"
      filter="{{ pattern.name }}"
      type="{{ pattern.type }}"
      technology="{{ pattern.technology }}"
      status="{{ pattern.Status }}"
    >
      {% include card.html %}
      <!-- modal included -->
      {% include modal.html %}
    </div>
    {% endif %} {% endfor %} {% for pattern in site.data.wasm %} {% if
    pattern.filterInfo and pattern.Status != "ComingSoon" %}
    <div
      class="column column-lg patternCard"
      filter="{{ pattern.name }}"
      type="{{ pattern.filters.type }}"
      technology="{{ pattern.technology }}"
    >
      {% include wasm-card.html %}
      <!-- modal included -->
      {% include modal.html %} {% include card-modal.html %}
    </div>
    {% endif %} {% endfor %} {% for pattern in catalog %} {% if
    pattern.patternInfo and pattern.Status == "ComingSoon" %}
    <div
      class="column column-lg patternCard"
      filter="{{ pattern.compatibility }}"
      type="{{ pattern.type }}"
      technology="{{ pattern.technology }}"
      status="{{ pattern.Status }}"
    >
      {% include coming-soon.html %}
    </div>
    {% endif %} {% endfor %}
  </div>
</div>

<script>
  document.getElementById("sort").addEventListener("change", function () {
    var sortValue = this.value;
    var cardsContainer = document.querySelector(".row");
    var cards = cardsContainer.querySelectorAll(".patternCard");

    var catalog = Array.from(cards);

    if (sortValue === "asc") {
      catalog = catalog.sort(function (a, b) {
        if (a.getAttribute("status") === "ComingSoon") {
          return 1;
        } else if (b.getAttribute("status") === "ComingSoon") {
          return -1;
        } else {
          return a
            .getAttribute("filter")
            .localeCompare(b.getAttribute("filter"));
        }
      });
    } else if (sortValue === "desc") {
      catalog = catalog.sort(function (a, b) {
        if (a.getAttribute("status") === "ComingSoon") {
          return 1;
        } else if (b.getAttribute("status") === "ComingSoon") {
          return -1;
        } else {
          return b
            .getAttribute("filter")
            .localeCompare(a.getAttribute("filter"));
        }
      });
    }

    catalog.forEach(function (pattern) {
      cardsContainer.appendChild(pattern);
    });
  });
</script>
<!-- {% if paginator.total_pages > 1 %}
  <ul class="pager">
      {% if paginator.first_page %}
      <li class="previous">
          <a href="{{ paginator.first_page_path | prepend: site.baseurl | replace: '//', '/' }}">First</a>
      </li>
      {% endif %}

      {% if paginator.previous_page %}
      <li class="previous">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"> &laquo;Prev</a>
      </li>
      {% endif %}

      {% if paginator.page_trail %}
        {% for trail in paginator.page_trail %}
          <li {% if page.url == trail.path %}class="selected"{% endif %}>
              <a href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' }}" title="{{trail.title}}">{{ trail.num }}</a>
          </li>
        {% endfor %}
      {% endif %}

      {% if paginator.next_page %}
      <li class="next">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
      </li>
      {% endif %}

       {% if paginator.last_page %}
      <li class="previous">
          <a href="{{ paginator.last_page_path | prepend: site.baseurl | replace: '//', '/' }}">Last</a>
      </li>
      {% endif %}
  </ul>
  {% endif %} -->
<!-- <script>
const handleChange = () => {
    var checkboxes = document.querySelectorAll('input[type=checkbox]:checked')
    var filters = [];
    var Categories = ["Deployment", "Traffic Management", "Security", "Workloads", "Observability", "Troubleshooting", "Scaling", "Resiliency"];
    var Compatibility = ["Istio", "Linkerd", "Consul", "Kuma", "App Mesh", "OSM", "Traefik", "Nginx", "NSM"];
    var Technology = ["WebAssembly", "JWT"];
    var categoryDATA =[];
    var compDATA = [];
    var techDATA = [];
    var allPatterns = {{ site.data.patterns | jsonify }};
    var finalCategories = [];
    var finalCompatibility = [];
    var finalTechnology = [];
    var Result = [];
    var data = [];

for (var i = 0; i < checkboxes.length; i++) {
     
      filters.push(checkboxes[i].value)
      
    }

  filters.forEach((x) => { 
    Categories.map((y) => { 
      if( x === y ) {
        categoryDATA.push(y);
       }
    }) 
  })

  filters.forEach((x) => { 
    Compatibility.map((y) => { 
      if( x === y ) {
         compDATA.push(y);
       }
    }) 
  })

  filters.forEach((x) => { 
    Technology.map((y) => { 
      if( x === y ) {
        techDATA.push(y);
       }
    }) 
  })

  allPatterns.forEach((x) => {
    categoryDATA.map((category) => {
        if(x.filters.type === category)
        {
         finalCategories.push(x);
        }
      })
  })

  allPatterns.forEach((x) => {
  compDATA.map((compatibility) => {
    for(i=0;i< x.filters.compatibility.length;i++)
    {
      if(x.filters.compatibility[i] === compatibility)
      {
        finalCompatibility.push(x);
      }
    }
    })
})

  allPatterns.forEach((x) => {
    techDATA.map((tech) => {
        if(x.filters.technology === tech)
        {
         finalTechnology.push(x);
        }
      })
  })

  if(categoryDATA.length === 0) finalCategories = allPatterns;
      if(compDATA.length === 0) finalCompatibility = allPatterns;
      if(techDATA.length === 0) finalTechnology = allPatterns;

  Result = [finalCategories, finalCompatibility, finalTechnology, allPatterns],
      data = Result.reduce((a, b) => a.filter(c => b.includes(c)));
      console.log(data);


      data = document.getElementById("card");

   var JsonData = JSON.stringify(data);

  console.log(JsonData);
     
  }
</script>
 -->
<!-- 
    Showing buttons to move to the next and to the previous list of posts (pager buttons).
  -->
