---
layout: catalog
title: Cloud Native Catalog
permalink: /catalog
---

<style>
  .selected a {
    background-color: #222222;
  }
  .sorting-options {
    margin-bottom: 20px;
    text-align: right;
  }
  #sort {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
</style>

{% assign catalog = site.catalog | sort: 'name' %}
<div class="section-container">
  <div class="sorting-options">
    <label for="sort">Sort by:</label>
    <select id="sort">
      <option value="asc">Alphabetically (A-Z)</option>
      <option value="desc">Alphabetically (Z-A)</option>
    </select>
  </div>

  <div class="row">
    {% for pattern in catalog %} {% if pattern.patternInfo and pattern.Status !=
    "ComingSoon" %}
    <div
      class="column column-lg patternCard"
      filter="{{ pattern.compatibility }}"
      type="{{ pattern.type }}"
      technology="{{ pattern.technology }}"
    >
      {% include card.html %}
      <!-- modal included -->
      {% include modal.html %}
    </div>
    {% endif %} {% endfor %} {% for pattern in site.data.wasm %} {% if
    pattern.filterInfo and pattern.Status != "ComingSoon" %}
    <div
      class="column column-lg patternCard"
      filter="WASM Filter"
      type="{{ pattern.filters.type }}"
      technology="{{ pattern.technology }}"
    >
      {% include wasm-card.html %}
      <!-- modal included -->
      {% include modal.html %} {% include card-modal.html %}
    </div>
    {% endif %} {% endfor %} {% for pattern in catalog %} {% if
    pattern.patternInfo and pattern.Status == "ComingSoon" %}
    <div
      class="column column-lg patternCard"
      filter="{{ pattern.compatibility }}"
      type="{{ pattern.type }}"
      technology="{{ pattern.technology }}"
    >
      {% include coming-soon.html %}
    </div>
    {% endif %} {% endfor %}
  </div>
</div>

<script>
  document.getElementById("sort").addEventListener("change", function () {
    var sortValue = this.value;
    var cardsContainer = document.querySelector(".row");
    var cards = cardsContainer.querySelectorAll(".patternCard");

    var catalog = Array.from(cards);

    if (sortValue === "asc") {
      catalog = catalog.sort(function (a, b) {
        return a.getAttribute("filter").localeCompare(b.getAttribute("filter"));
      });
    } else if (sortValue === "desc") {
      catalog = catalog.sort(function (a, b) {
        return b.getAttribute("filter").localeCompare(a.getAttribute("filter"));
      });
    }

    catalog.forEach(function (pattern) {
      cardsContainer.appendChild(pattern);
    });
  });
</script>
