html,
body {
  font-family: "Qanelas Soft", "Open Sans", sans-serif;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

.button1 {
  background-color: #ebc017;
  color: #000;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  -webkit-transition: 450ms all;
  transition: 450ms all;
  text-decoration: none;
  text-transform: capitalize;
  border: 0;
  margin-left: 60%;
}

.button1:hover,
.button1:focus {
  background-color: #ebc017;
  box-shadow: 0 2px 10px rgb(255 255 255 / 0.4);
}

.button1:active {
  box-shadow: 0 2px 10px rgb(255 255 255 / 0.4);
  transform: scale(0.98);
  background-color: #ebc017;
}

.nav-fixed {
  position: sticky;
  margin-left: 2rem;
  z-index: 10; /* Ensure it's above other content */
  border-radius: 5px; /* Rounded corners as per the image */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
  padding: 1rem; /* Padding inside the navbar */
  padding-top: 0;
  margin-top: 2rem;
  width: 100%;
  background: var(--background-nav-fixed);
  color: var(--color-nav-fixed);
  font-size: 15px;
  height: 100%;
  top: 0;
}

ul {
  list-style-type: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.header_link {
  display: block;
  color: var(--color-nav-fixed);
  margin-bottom: 0.5rem;
  margin-top: 1.5rem; /* Space between links */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s; /* Smooth transition for hover effect */
  font-size: 1.1rem;
}

.header_link:hover,
.header_link:focus {
  color: #00b39f; /* Color when link is hovered or focused */
  text-decoration: none; /* Ensure underline doesn't re-appear on hover */
}

@media (max-width: 1020px) {
  .nav-fixed {
    display: none;
  }
}

@media (max-width: 725px) {
  .header_link {
    margin-top: 0.75rem; /* Adjust spacing between links */
    margin-bottom: 0.75rem; /* Adjust spacing */
    font-size: 1rem; /* Adjust font size for readability */
  }

  /* Adjust the main content or other elements as needed for smaller screens */
  #meshkit-hero,
  #meshery,
  #meshmap,
  #mascot {
    padding: 0 1rem; /* Add some padding on the sides for smaller screens */
  }
}

h2.sub-text {
  font-family: "Qanelas Soft", "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.container1 {
  display: flex;
  align-items: left;
  justify-content: left;
  color: white;
  width: 100%;
}

.hero-left,
.hero-right {
  position: absolute;
  top: 0;
  margin-top: 0;
}

.hero-left {
  margin-left: -16%;
}

.hero-right {
  width: 100%;
  margin-left: 20%;
}

.brand-kit {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: left;
  text-align: left;
  width: 60%;
  padding: 50px 20px;
  z-index: 2; /* Make sure this layer is above the background images */
}

.brand-kit h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.brand-kit p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 30px;
}

.button2 {
  background-color: #ebc017;
  color: #000;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  -webkit-transition: 450ms all;
  transition: 450ms all;
  text-decoration: none;
  text-transform: capitalize;
  border: 0;
}

.button2:hover,
.button2:focus {
  background-color: #ebc017;
  box-shadow: 0 2px 10px rgb(255 255 255 / 0.4);
}

.button2:active {
  box-shadow: 0 2px 10px rgb(255 255 255 / 0.4);
  transform: scale(0.98);
  background-color: #ebc017;
}

.meshery-kit {
  display: flex;
  justify-content: left;
}

/* Responsive design */
@media (max-width: 768px) {
  /* Adjust the flex layout for mobile */
  .container1 {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .meshery-kit {
    justify-content: center;
  }

  /* Make the brand kit take the full available width */
  .brand-kit {
    width: 100%;
    padding: 20px;
    text-align: center; /* Center align the text for mobile */
  }

  /* Adjust the brand kit content sizes */
  .brand-kit h1 {
    font-size: 2em; /* Adjust the title size for mobile */
  }

  .brand-kit p {
    font-size: 1em; /* Adjust the paragraph text size for mobile */
  }

  .button2 {
    font-size: 1em; /* Adjust button text size for mobile */
    padding: 12px 24px; /* Adjust button padding for mobile */
  }
}

/* Further adjustments for smaller screens */
@media (max-width: 480px) {
  /* Adjust the brand kit content sizes for smaller screens */
  .brand-kit h1 {
    font-size: 1.5em;
  }

  .brand-kit p {
    font-size: 0.9em;
  }

  .button2 {
    font-size: 0.9em;
    padding: 10px 20px;
  }
}

@media (max-width: 768px) {
  .button2 {
    width: 100%;
    margin-left: 0;
  }
}

.in {
  margin-top: 2rem;
}

.ImgDiv {
  width: 100%;
  margin-left: 2%;
  display: flex;
  margin-top: 3rem;
  padding: 2rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 14px;
  margin-top: -0.5rem;
}

.row {
  display: flex;
  justify-content: space-between;
  /* Adjust as needed */
  flex-wrap: wrap;
  /* Allows divs to wrap to the next line if they don't fit */
}

.col {
  position: relative;
  width: 100%;
}

@media (max-width: 768px) {
  .button1 {
    width: 100%;
    margin-left: 0;
  }
}

.zoom-mobile {
  display: none;
}

.social-mobile {
  display: none;
}

.presentation-mobile {
  display: none;
}

@media (max-width: 768px) {
  .zoom {
    display: none;
  }

  /* Show the alternative image */
  .zoom-mobile {
    display: block;
    width: 90%; /* Adjust as needed */
    margin-left: 2%; /* Adjust as needed */
  }

  .presentation {
    display: none;
  }

  /* Show the alternative image */
  .presentation-mobile {
    display: block;
    width: 90%; /* Adjust as needed */
    margin-left: 2%; /* Adjust as needed */
  }

  .social {
    display: none;
  }

  /* Show the alternative image */
  .social-mobile {
    display: block;
    width: 90%; /* Adjust as needed */
    margin-left: 2%; /* Adjust as needed */
  }
}

.layerH3 {
  margin-top: 8rem;
}

.row {
  display: flex;
  justify-content: space-between;
  /* Adjust as needed */
  flex-wrap: wrap;
  /* Allows divs to wrap to the next line if they don't fit */
}

/* Styles for the logo images container */
.ImgDiv1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; /* Allow logos to wrap */
  gap: 1rem; /* space between logos */
  margin-top: 0;
}

/* Existing styles */
.color-palette {
  width: 100%;
  display: flex;
  color: white;
  gap: 1rem; /* space between color boxes */
  margin-top: 2rem; /* space above the color palette */
  flex-wrap: wrap; /* Allow color boxes to wrap */
  justify-content: center; /* Distribute items evenly */
  align-items: center;
}

.color-box {
  width: 165px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
  border-radius: 0.5rem;
  padding: 1rem;
  box-sizing: border-box;
}

.color-name {
  margin-top: 0.5rem;
  font-weight: bold;
}

.color-code {
  font-size: 0.8rem;
}

.img2 {
  width: 400px;
  padding-left: 4rem;
  border-left: 2px solid #3d4f57;
  height: 15rem;
}

.img1 {
  width: 200px;
}

@media (max-width: 768px) {
  .img2 {
    width: 100%;
    border-top: 2px solid #3d4f57;
    border-left: none;
    height: 100%;
    padding-top: 2rem;
    padding-left: 0;
    margin-left: 0;
  }

  .img1 {
    width: 70%;
    margin-top: 3rem;
    margin-left: -2rem;
  }
}
