.calendar-meetings {
  max-width: 1140px;
  margin: auto;
  text-align: center;

  h1 {
    margin-top: 2rem;
    margin-bottom: 0rem;
  }

  p {
    margin: 0;
  }
  .fc-addToCalendar-button {
    background-color:$darkgreen;
    border-color: $darkgreen;
  }
}
