/* CARD-STYLES */
.card {
    position: relative;
    width: 220px;
    height: 250px;
    padding: 20px;
    border-radius: 15px;
    border: 0;
    transition: 0.4s ease-out;
    box-shadow: 2px 2px 6px 0px  #00D3A9;
    margin-bottom: 20px;
    display: block;
    margin-bottom: 20px;
  }
  .card:hover {
    background: rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    cursor: pointer;
  }
  .pattern-image-overlay{
    opacity: 0.5;
    width: 60%;
    -o-object-fit: contain;
       object-fit: contain;
    position: absolute;
    margin-left: 5%;
    border-radius: 15px;
  }
  .card-overlay {
    position: relative;
    width: 220px;
    height: 250px;
    padding: 20px;
    border-radius: 15px;
    border: 0;
    background: rgba(0,0,0,0.7) ;
    box-shadow: 2px 2px 6px 0px  #00D3A9;
    margin-bottom: 20px;
  }
   .overlay-text{
    position: absolute;
    top: 40%;
    left: 50%;
    color: white;
    font-size: 19px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    z-index: 2;
    white-space: nowrap;
  }  
  .pattern-id-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 10px;
    margin-right: 14px;
    color: white;
    opacity: 0.7;
  }
  .catalog {
      padding-top: 5rem;
  }
  
   h3{
     font-weight: bold;
   }
   p{
    font-family: "Qanelas Soft", "Open Sans", "sans-serif";
    -webkit-font-smoothing: antialiased;
     font-size: 1.1rem;
   }
    .inner-span {
      font-size: 16px;
      position: relative;
      color: black;
    }
    .column {
    float: left;
    padding: 0 10px;
    
  }
  .smp-overlay{
    width: 25px;
    bottom: 0;
    right: 0;
    opacity: 0.7;
    vertical-align: middle;
    padding-right: 2px;
  }
  .smp {
    width: 25px;
    bottom: 0;
    right: 0;
    vertical-align: middle;
    padding-right: 2px;
   
  }
  .tooltip-modal:hover .tooltiptext-modal {
      visibility: visible;
    }
  
    .tooltip-modal .tooltiptext-modal {
      visibility: hidden;
      width: 100px;
      display: inline-block;
      color: white;
      background-color: #1a2421;
      text-align: center;
      padding: 7px;
      font-size: 1em;
      border-radius: 7px;
      position: absolute;
      z-index: 1;
      left:60%;
      font-size: 15px; 
      width: 140px;
      height: 40px;
      padding: 0;
      line-height: 40px;
      top: -1.3rem;
    }
  .import{
    background-color: #00b39fff;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 10px;
  
  }

    .import:hover,
.import:focus {
  box-shadow: 0 0.5em 0.5em -0.4em rgba(0, 0, 0, 0.75);
  transition: 0.4s ease-out;
  color: #1a2421;
}

  .vertical-center {
    -ms-transform: translateY(-60%);
    transform: translateY(25%) translateX(0%);
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;

  }  
  .disabled-label {
    color: #aaa;
  }
 
  .dropdown-icon {
      width: 20px;
      vertical-align: middle;
      padding: 2px;
  }
  
  /* CARD-STYLES */
  .pattern-type {
    cursor: inherit;
      display: flex-start;
      align-items: center;
      user-select: none;
      white-space: nowrap;
      padding-left: 12px;
      padding-right: 12px;
  }
  .chip {
    display: inline-flex;
    flex-direction: row-reverse;
    float: right;
    background-color: #b6d7a8ff;
    border: none;
    cursor: default;
    height: 1.5rem;
    outline: none;
    padding-left: 5px;
    font-size: 14px;
    font-family:"Open Sans", sans-serif;
    white-space: nowrap;
    align-items: center;
    border-radius: 16px;
    vertical-align: middle;
    text-decoration: none;
    justify-content: center;
   }
  
   .category-label {
    display: inline;
    font-family:"Open Sans", sans-serif;
    font-weight: normal;
    white-space: nowrap;
    border-radius: 1rem;
    background-color: #b6d7a8ff;
    padding: .5rem;
    margin: auto;
   }

   .chip-modal{
    float: right;
    box-shadow: 2px 2px 6px grey;
   }
  
  .pattern-name {
     color:#333;
     font-weight: 1400;
     font-style: bold;
     white-space: nowrap;
     text-overflow: ellipsis;
     text-align: center;
     padding: 15px 0 3px 0;
    
   }
   .pattern-id {
     position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 10px;
    margin-right: 14px;
   }
   .pattern-image {
    width: 60%;
    -o-object-fit: contain;
       object-fit: contain;
    position: absolute;
    margin-left: 5%;
   
   }
   .patterns-coming-soon{
    max-width: 70%;
    position: relative;
    float: right;
    z-index: 2;
    margin-top:-2.5rem;
    margin-right:-2rem;   
     transform: translateY(0%) translateX(0%) rotate(10deg) ;
     -webkit-transform:translateY(0%) translateX(-0%) rotate(10deg) ;
     -moz-transform: translateY(0%) translateX(-0%) rotate(10deg) ;
     -ms-transform: translateY(0%) translateX(-0%) rotate(10deg) ;
     -o-transform: translateY(0%) translateX(-0%) rotate(10deg) ;
   }
  
   .hidden {
    visibility: hidden;
   }
   
   .external-link {
    width: 1rem;
    padding-bottom: 0.5rem;
   }
  
  /* CHECKBOX-STYLES */
  .filter-wrap {
    float: left;
    flex-grow: 1;
    width: 23%;
    padding-right: 1rem;
    height: 100rem; /* height needs to be increased with regarding to the total no. of patterns */
  }
  label {
          display: block;
          padding-left: 15px;
          text-indent: -15px;       
        }
        input {
          width: 20px;
          height: 20px;
          padding: 3px;
          margin: 0;
          vertical-align: middle;
          position: relative;
          top: -1px;
          display: inline;
        }
        input[type="checkbox"] {
        margin: 0;      
        }
  
  
  /* MODAL-STYLES */
  .modal-window {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 200;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
  }
  .modal-image {
      width: 250px;
      margin: 30px 30px 2rem 0px;
      float: left;
  }
  ::-webkit-scrollbar {
        display: "none"
      }
  
  .modal-window > div {
    position: absolute;
    height: 75%;
    overflow: auto;
    overflow-x: hidden;
    width: 60%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5em 2.5em 1.5em 3em;
    background: #fff;
    border-radius: 1rem;
  }
  ::-webkit-scrollbar-corner {background-color: transparent; display: none;}

  .service-mesh-image {
    height: 50px;
    width: 50px;
  }
  .modal-close {
    display: flex;
    justify-content: space-between;
    color: #222;
    line-height: 1rem;
    font-size: 1rem;
    display: flex;
    text-align: center;
    text-decoration: none;
    img {
      width: 1rem;
      vertical-align: middle;
    }
  }
  .modal-pattern-name {
    color:#333;
    text-align: center;
     font-weight: 800;
     font-size: 12px;
     white-space: nowrap;
     text-align: center;
    padding-top: 7px;
    }
  .modal-chip{
    display: inline-flex;
    flex-direction: row-reverse;
    float: right;
    background-color: #b6d7a8ff;
      border: none;
      cursor: default;
      height: 18px;
      outline: none;
      padding: 1px;
      font-size: 10px;
      font-family:"Open Sans", sans-serif;
      white-space: nowrap;
      align-items: center;
      border-radius: 16px;
      vertical-align: middle;
      text-decoration: none;
      justify-content: center;
   }
   .modal-card {
    position: relative;
    width: 150px;
    height: 180px;
    padding: 20px;
    border-radius: 15px;
    border: 0;
    transition: 0.4s ease-out;
    box-shadow: 2px 2px 6px 0px  #00D3A9;
  }
   .modal-smp{
    width: 20px;
    bottom: 0;
    right: 0;
    vertical-align: middle;
    padding-right: 2px;
   
   }
  .modal-pattern-image{
    width: 55%;
    -o-object-fit: contain;
       object-fit: contain;
    position: absolute;
    margin-left: 5%;
    border-radius: 15px;
    padding-bottom: 2px;
   }
  .modal-pattern-id {
    position: absolute;
    bottom: 0;
    font-size: 8px;
    right: 0;
    padding-top: 10px;
    margin-right: 14px;
   }
  .modal-window div div:not(:last-of-type) {
    margin-bottom: 15px;
  }
  .modal-container {
    padding: 20px 40px 40px;
    max-width: 600px;
        }
    .modal-text {
      display: inline;
    }
        .image-container {
          flex-basis: 70%;
        }

  .modal-pattern-image-overlay{
    opacity: 0.5;
    width: 55%;
    -o-object-fit: contain;
        object-fit: contain;
    position: absolute;
    margin-left: 5%;
    border-radius: 15px;
  }
  .modal-card-overlay {
    position: relative;
    width: 150px;
    height: 180px;
    padding: 20px;
    border-radius: 15px;
    border: 0;
    background: rgba(0,0,0,0.7) ;
    box-shadow: 2px 2px 6px 0px  #00D3A9;
    margin-bottom: 20px;
  }
  .modal-smp-overlay{
    width: 20px;
    bottom: 0;
    right: 0;
    opacity: 0.7;
    vertical-align: middle;
    padding-right: 2px;
  }
  .modal-pattern-id-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 10px;
    margin-right: 14px;
    color: white;
    opacity: 0.7;
  }
  .modal-overlay-text{
    position: absolute;
    top: 40%;
    left: 50%;
    color: white;
    font-size: 15px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    z-index: 2;
    white-space: nowrap;
  } 
  .close {
    display: flex;
    justify-content: space-between; 
    transition: all 200ms;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    background: transparent;
    border : 0px;
    padding:0px;
    cursor: pointer;
  }
  .close:hover {
    color: #00D3A9 !important;
    opacity: 0.8 !important;
    text-decoration: none;
  }
 
  .pattern-filter-image {
    display: flex;
    width: 50%;
    -o-object-fit: contain;
    object-fit: contain;
    margin: auto;   
   }

   .wasm {
    width: 20px;
    bottom: 0;
    right: 0;
    vertical-align: middle;
    padding-right: 2px;
    padding-bottom: 3px;
   }
  label{
    white-space: nowrap;
  }
  @media screen and (max-width: 700px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  @media screen and (max-width: 700px){
    .modal-window{
      width: 100%;
      height: 100%;
      margin-top: 2rem;
    }
  }
  @media screen and (max-width: 770px){
  .filter-wrap{
    height: 70rem;
  }
}
  @media screen and (max-width: 644px){
  .modal-image{
    width:230px;
    padding-bottom: 2rem;
  }
  
  .related-patterns {
    display: none;
  }
  .modal-card{
    display: none;
  }
  }




  
  