
//   .feature-container {
//     width: 100%;
//     height: 90%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
  
//   .box {
//     /* Rectangle 12: */
//     width: 300px;
//     height: 360px;
//     background: rgba(255, 255, 255, 0.8);
//     box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
//     border-radius: 5px;
//     transition: 0.4s ease-in-out all;
//     &:hover {
//       /* Rectangle 12: */
//       background: #FFFFFF;
//       box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.13), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
//       border-radius: 5px;
//     }
//   }
  

  
//   .action-btn {
//     width: 50%;
//     height: 10px;
//     background: #00D3A9;
//     border-radius: 10px;
//     margin: 35px auto 15px auto;
//     opacity: 0;
//     transition: 0.2s ease-in-out opacity;
//   }
  
//   .description {
//     width: 50%;
//     height: 10px;
//     opacity: 0;
//     border-radius: 10px;
//     background: rgba(0, 0, 0, 0.07);
//     margin: 30px auto;
//     &:before {
//       display: block;
//       content: " ";
//       width: 100%;
//       position: relative;
//       top: 20px;
//       height: 10px;
//       border-radius: 5px;
//       background: rgba(0, 0, 0, 0.07);
//       margin: 10px auto;
//     }
//     &:after {
//       display: block;
//       content: " ";
//       width: 70%;
//       position: relative;
//       top: 20px;
//       height: 10px;
//       border-radius: 10px;
//       background: rgba(0, 0, 0, 0.07);
//       margin: 10px auto;
//     }
//   }
  
//   .circlecont {
//     width: 110px;
//     height: 110px;
//     position: relative;
//     margin: 80px auto 35px auto;
//   }
//   .circle {
//     width: 110px;
//     height: 110px;
//     position: absolute;
//     /* Mask: */
//     background-image: linear-gradient(66deg, #32ABFC 0%, #4965FA 100%);
//     border-radius: 110px;
//   }
//   .yellow-circle {
//     width: 110px;
//     height: 110px;
//     position: absolute;
//     /* Mask: */
//     background-image: linear-gradient(66deg, #FFF3C5 0%, #EBC017 100%);
//     border-radius: 110px;
//   }
//   .wasm-circle {
//     width: 110px;
//     height: 110px;
//     position: absolute;
//     /* Mask: */
//     background-image: linear-gradient(66deg, #654ff0 0%, #816EFF 100%);
//     border-radius: 110px;
//   }
//   .pattern-circle {
//     width: 110px;
//     height: 110px;
//     position: absolute;
//     /* Mask: */
//     background-image: linear-gradient(66deg, #00B39F 0%, #00D3A9 100%);
//     border-radius: 110px;
//   }
//   .hover-circles .circle .yellow-circle .wasm-circle .pattern-circle {
//     opacity: 0.2;
//     position: absolute;
//     top: 0;
//     background-blend-mode: multiply;
//   }
  
//   .circlecont .hover-circles .circle .yellow-circle .wasm-circle .pattern-circle {
//     transform: translate(0px, 0px);
//     animation-fill-mode: forwards;
//   }
  
//   .box:hover {
//     height: 400px;
//     // height: -moz-fit-content;
//   }
  
//   .box:hover .action-btn {
//     opacity: 1;
//   }
//   .box:hover .description {
//     opacity: 1;
//   }
  
//   .box:hover .hover-circles .circle .yellow-circle .pattern-circle .wasm-circle {
//     &:first-child {
//       animation: 1.8s circle-1 ease-in-out infinite;
//     }
//     &:nth-child(2) {
//       animation: 2.5s circle-2 ease-in-out infinite;
//     }
//     &:nth-child(3) {
//       animation: 2.7s circle-3 ease-in-out infinite;
//     }
//     &:nth-child(4) {
//       animation: 2.4s circle-4 ease-in-out infinite;
//     }
//     &:nth-child(5) {
//       animation: 3.2s circle-5 ease-in-out infinite;
//     }
//   }


.feature-container {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .box {
    /* Rectangle 12: */
    width: 300px;
    height: 200px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    transition: 0.4s ease-in-out all;
    &:hover {
      /* Rectangle 12: */
      background: #FFFFFF;
      box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.13), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
      border-radius: 5px;
    }
  }
  
  .title {
    width: 70%;
    // height: 
    background: #477E96;
    padding: .25rem;
    border-radius: 20px;
    text-align: center;
    margin: 1rem auto auto auto;
    font-size: 1.5rem;
    color:rgba(255, 255, 255, 1)
  }
  
  .action-btn {
    width: 50%;
    height: 10px;
    background: #3993FB;
    border-radius: 10px;
    margin: 35px auto 15px auto;
    opacity: 0;
    transition: 0.2s ease-in-out opacity;
  }
  
  .description {
    width: 50%;
    height: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.07);
    margin: 10px auto;
    opacity: 0;
    
    transition: 0.2s ease-in-out opacity;
    transition-delay: 0.4s;

    &:before {
      display: block;
      content: " ";
      width: 100%;
      position: relative;
      top: 1rem;
      height: 10px;
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.07);
      margin: 10px auto;
    }
    &:after {
      display: block;
      content: " ";
      width: 70%;
      position: relative;
      top: 20px;
      height: 10px;
      border-radius: 10px;
      background: rgba(0, 0, 0, 0.07);
      margin: 10px auto;
    }
  }
  
  .circlecont {
    width: 110px;
    height: 110px;
    position: relative;
    margin: 1rem auto 35px auto;
  }
  
  .circle {
    width: 110px;
    height: 110px;
    position: absolute;
    /* Mask: */
    background-image: linear-gradient(66deg, #32ABFC 0%, #4965FA 100%);
    border-radius: 110px;
  }
  
  .hover-circles .circle {
    opacity: 0.2;
    position: absolute;
    top: 0;
    background-blend-mode: multiply;
  }
  
  .circlecont .hover-circles .circle {
    transform: translate(0px, 0px);
    animation-fill-mode: forwards;
  }
  
  .box:hover {
    height: 400px;
  }
  
  .box:hover .action-btn  {
    opacity: 1;
  }
  .box:hover .description  {
    opacity: 1;
  }
  
  .box:hover .hover-circles .circle {
    &:first-child {
      animation: 1.8s circle-1 ease-in-out infinite;
    }
    &:nth-child(2) {
      animation: 2.5s circle-2 ease-in-out infinite;
    }
    &:nth-child(3) {
      animation: 2.7s circle-3 ease-in-out infinite;
    }
    &:nth-child(4) {
      animation: 2.4s circle-4 ease-in-out infinite;
    }
    &:nth-child(5) {
      animation: 3.2s circle-5 ease-in-out infinite;
    }
  }
  
  @keyframes circle-1 {
    0% {
      transform: translate(0px, 0px);
    }
  
    50% {
      transform: translate(15px, 15px);
    }
  }
  
  
  @keyframes circle-2 {
    0% {
      transform: translate(0px, 0px);
    }
  
    50% {
      transform: translate(10px, -15px);
    }
  }
  
  
  @keyframes circle-3 {
    0% {
      transform: translate(0px, 0px);
    }
  
    50% {
      transform: translate(-5px, -25px);
    }
  }
  
  
  @keyframes circle-4 {
    0% {
      transform: translate(0px, 0px);
    }
  
    50% {
      transform: translate(-15px, 20px);
    }
  }
  
  
  @keyframes circle-5 {
    0% {
      transform: translate(0px, 0px);
    }
  
    50% {
      transform: translate(15px, 20px);
    }
  }