.contributor {
	padding: 0;
	list-style: none;
	@extend %flexbox;
	@include flex-flow(wrap);
	text-align: center;
	li {
		padding: 30px 20px;
		box-sizing: border-box;
		width: 100%;

		@media #{$tablet} {
			@include flex(1, 1, 2%);
		}

		@media #{$desktop} {
			@include flex(1, 1, 1%);
		}

	}

	.square-image {
		width: 150px;
		height: 150px;
			img {
				border-radius: 150px;
			}
		}

	.name {
		font-size: 1.3em;
		margin-top: 20px;
	}

	.position {
		color: #666;
	}
}
