.map {
	width: 100%;
	margin: 100px 0;
	height: 400px;
}

.contact-box {
	@extend %flexbox;
	@include flex-flow(wrap);
	max-width: 750px;
	margin: 0 auto;

	form {
		width: 100%
	}

	p {
		margin: 0;
	}

	.contact-form, .contact-details  {
		@media #{$desktop} {
			-webkit-flex: 1;
			flex: 1;
		}
		margin: 0 30px;
	}

	.contact-details {
		font-size: .9em;
	}
}
.subscribe {
	color: #1E2117;
	text-align: center;
	padding:0px;
  
	&>div{
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  padding: 4rem 5vw;
	  gap:3rem;
	}
	a{
		color: #1E2117;
	}
	p {
	  color: #1E2117;
	}
  }
  .mailers{
	display: flex;
	flex-direction: column;
	color: #1E2117;
	&>div{
	  padding:4vh 3vw;
	}
	&>div:first-of-type{
	  padding-top:0px !important;
	}
	a{
		color: #1E2117;
	}
	.button a, input[type=submit] {
		color: #1E2117;
		text-decoration: none;
		padding: 10px 30px;
		background: $brand-color;
		border-radius: 3px;
		border: 1px solid rgba(235,192,23,.5);
		transition: .2s ease-in-out;
	}
	
	.button a:hover, input[type=submit]:hover {
		border: 1px solid #1E2117;
		background: $secondary-brand-color;
		cursor: pointer;
	}
	
	.button.alt a {
		background: rgba(235,192,23,.15);
		border-radius: 3px;
		border: 1px solid rgba(235,192,23,.5);
		padding: 16px 50px;
	}
	
	.button.alt a:hover {
		background: #EBC017;
		color: $brand-color;
	}
  }