
.features {
	@extend %flexbox;
	@include flex-flow(wrap);
	padding: 50px 0 30px 0;
	background-color: var(--background-grey-secondary);

	.feature {
		list-style: none;
		padding: 0;
		margin: 0 10px 50px 10px;
		text-align: center;
		background-color: var(--color-primary-light-tbase);
		border-radius: 1.25rem;
		box-shadow: rgba(0, 0, 0, 0.5) 2px 4px 2.5rem 0.5rem;
		width: 100%;

		&_li{
			margin: 0 25px;
			margin-left: 35px;
			text-align: left;
			// change list style to square box with checkmark
			list-style: none;
			&:before {
				content: "✔";
				color: var(--brand-color-secondary);
				font-size: 1.5rem;
				margin-right: 10px;
				// contain the checkmark in a square box
				display: inline-block;
				width: 1rem;
				height: 1rem;
				text-align: center;
				line-height: 1rem;
				background-color: var(--color-primary-medium);
				border: 5px solid var(--color-primary-medium);
				border-radius: 0.25em;
			}
		}
		
		
		.highlighted {
			text-align: center;
			height: 5rem;
			font-weight: 600;
			color: #272727d3;
			font-size: 1.2em;
			padding: 30px 15px;
			// set text color to white
			color: var(--color-secondary-light);
			border-top-right-radius:0;
			border-top-left-radius: 0;
			box-shadow: inset 0 2px 12.5px rgba(0,0,0,0.01);
			text-transform: capitalize;
		}

		.features-cta {
			padding: 0;
			a {
				display: block;
				box-sizing: border-box;
				padding: 2rem 0;
				border-radius: 0 0 2px 2px;
				border: 0;
				color: white;
			}
			.start { 
				text-align: center;
				margin: auto;
				position: relative;
				background-color: var(--color-grey-light);
			}
			.start:hover  {
				background-color: var(--brand-color-secondary);
			}
		}

		@media #{$desktop} {
			-webkit-flex: 1;
			flex: 1;
			min-width: 220px;
		}

		li {
			border-radius: 1rem;
			padding: 10px 0;
		}
	}
}

.slick-slider {
	width: 100%;
	height: 100%;
}

.slide {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
}