.sitewide-callout {
    width: 100%;
    
    display: flex;

    flex-direction: row;
    justify-content: space-around;
    color: var(--color-secondary-dark);
    flex-wrap: wrap;
    padding: 1rem 1.5rem;
    background-color:  var(--brand-color-secondary);
   
    font-size: 1.05rem;
    
    align-items: center;
    a {
        display: flex;
        color: white;
       
        margin-right: 2rem;
        padding: 1rem;
        border-radius: 1rem;
        border: 1px white solid;
        &:hover {
            background-color: white;
            color: var(--brand-color-secondary);
        }
    }
}