@import "./mixins/transitions.scss";
.box-shadow-primary{
    box-shadow: var(--box-shadow-primary);
}

.button{
    background: var(--background-grey-secondary) !important;
    color: var(--color-primary-light) !important;
    @include btn-hover-primary;
    
}