.bottom-cta {
  background: linear-gradient(to bottom,
      $brand-color 0%,
      $middle-gradient-color 100%);
  color: #fff;
  text-align: center;
  margin: 0 auto;
  padding: 100px 0;
  vertical-align: top;

  h2 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.testimonial {
  background: #f5f5f5;
  margin: 0;
  padding: 100px 0;

  .testimonial-block {
    max-width: 750px;
    width: 98%;
    margin: 0 auto;

    @media #{$mid-point} {
      @include flexbox;

      blockquote {
        -webkit-flex: 1;
        flex: 1;
      }
    }
  }
}

.created-by-section {
  max-width: 1140px;
  margin: auto;
  padding: 0 0 20px 0;

  .created-by {
    color: dimgray;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
  }

  .company-image {
    // filter: grayscale(70%);
    max-width: 350px;
    margin: auto;
    padding: 20px 0px 50px 0px;
    transition: 0.5s ease-in-out all;

    &:hover {
      filter: none;
    }
  }

  img {
    padding-bottom: 10px;
  }
}

.used-by-section {
  max-width: 1140px;
  margin: auto;
  padding: 0 0 20px 0;

  .used-by {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    color: dimgray;
    text-decoration: none;
    text-transform: uppercase;
  }

  .companies-image {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
  }

  .company-image {
    filter: grayscale(75%);
    transition: 0.5s ease-in-out all;
    padding: 0px 30px 0px 30px;

    &:hover {
      filter: none;
    }
  }

  img {
    padding-bottom: 30px;
    width: 250px;
  }
}

.adopter-section {
  max-width: 1140px;
  margin: auto;
  padding: 0 0 20px 0;
  text-align: center;

  .adopter-title {
    font-size: 1.5em;
    font-weight: 500;
    margin: 0 0 10px 0;
  }

  .adopter-description {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 0.9em;
  }

  .adopter-button {
    font-size: medium;
    margin-bottom: 50px;
  }
}

.hero {
  color: #ffffff;
  text-align: center;
  background: linear-gradient(to bottom,
      $middle-gradient-color 0%,
      $secondary-brand-color 100%) no-repeat #a05fb7;
  padding-top: 75px;

  p {
    color: #fff;
  }
}

.bg-white {
  background-color: #fff;
  color: #000;
  padding: 2rem 0;
}

.cncf-section {
  text-align: center;

  .layer5-caption {
    display: inline;
    align-items: inherit;
    justify-content: center;
    margin: auto;
    font-size: 1.1rem;
    color: #000;

    img {
      width: 110px;
      height: 25px;
      margin-left: .5rem;
      margin-right: .5rem;
    }
  }

  h4 {

    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 1rem;
  }

  .cncf-img {
    max-width: 700px;
    margin-bottom: 1rem;
  }
}

.reversehero {
  color: #ffffff;
  text-align: center;
  background: linear-gradient(to top,
      $middle-gradient-color 0%,
      $secondary-brand-color 100%) no-repeat #a05fb7;
  padding: 0px;

  &>div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 5vw;
    gap: 3rem;
  }

  p {
    color: #fff;
  }
}

.homepage-join {
  display: flex;
  flex-direction: column;

  &>div {
    padding: 4vh 3vw;
  }

  &>div:first-of-type {
    padding-top: 0px !important;
  }
}

.google-slides {
  position: relative;
  padding-bottom: 59%;
  overflow: hidden;
  align-items: center;
  text-align: center;
}

.google-slides iframe {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.overview-section {
  padding-top: 10px;
  margin-bottom: 4rem;
  color: #fff;
  align-items: center;
  background-color: #222;

}

.getting-started {
  color: #ffffff;
  text-align: center;
  background-color: #666;
  // background: linear-gradient(to top, $middle-gradient-color 0%, $secondary-brand-color 100%) no-repeat #a05fb7;
  padding-top: 50px;

  p {
    color: #fff;
  }
}

@media #{$desktop} {
  .flex {
    @include flexbox;
    align-items: center;
    flex-direction: row;

    .text,
    .image {
      -webkit-flex: 1;
      flex: 1;
      padding: 0 20px;
    }
  }

  .content section:nth-child(even) .flex {
    flex-direction: row-reverse;
  }
}

@media #{$mobile} {
  .created-by-section .company-image {
    width: auto;
    padding: 0px;
  }

  .used-by-section .companies-image {
    flex-direction: column;

    .company-image {}
  }

  .used-by-section .companies-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;

    img {
      padding-bottom: 30px;
      width: 100%;
    }

    #ericsson-logo {
      padding-left: 20px;
    }
  }
}

.serviceLandscapeContainer {
  padding: 4rem 0;
}

.programs-section {
  padding: 0rem 4rem;
  margin-top: 4rem;
  max-width: 1400px;
  margin: auto;
}

@media screen and (max-width:840px) {
  .reversehero {
    &>div {
      flex-direction: column;
    }
  }
}

@media(max-width:1150px) {
  .programs-section {
    padding: 0 0rem;
  }
}

.callout {
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: none;

  h3 {
    color: #262626;
    font-size: 19px;
    line-height: 24px;
    font-weight: 800;
    margin-bottom: 4px;
  }


  p {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color: #666666;

    &.small {
      font-size: 14px;
    }
  }

  .go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    width: 31px;
    height: 31px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: none;
    border-radius: 0 4px 0 3px;
    content: url('../images/logos/meshery-logo.png');
  }

  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }

  .card1 {
    display: block;
    position: relative;
    max-width: 262px;
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 25px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 10.3px 17.9px rgba(0, 0, 0, 0.072),
    0 20.8px 33.4px rgba(0, 0, 0, 0.086);
    

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: -27px;
      right: -27px;
      background: #00B39F;
      height: 32px;
      width: 32px;
      border-radius: 32px;
      transform: scale(1);
      transform-origin: 50% 50%;
      transition: transform 0.25s ease-out;
      
    }

    &:hover:before {
      transform: scale(24);
    }
  }

  .card1:hover {
    p {
      transition: all 0.3s ease-out;
      color: rgba(255, 255, 255, 0.8);
    }

    h3 {
      transition: all 0.3s ease-out;
      color: #ffffff;
    }
    .go-corner {
      content: url('../images/logos/meshery-logo-white.png');
    }
  }
}