nav {
	text-transform: uppercase;
	font-size: .8em;
	width: 100%;
	padding-left: -2rem;

	@media #{$mid-point} {
		padding-right: 2rem;
		padding-left: 2rem;
	}
}

.nav-container {
	display: flex;
	flex-direction: row;
}

.nav-list {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.nav-text {
	font-size: 0.8rem !important;
	@media (min-width: 840px) {
		padding: 0.8rem !important;
		margin: 0px 3px; 
		color: rgba(255,255,255,.8) !important;
	}
	cursor: pointer;
}

a.nav-text:hover {
	color: rgba(255,255,255,1) !important;
}

.subnav-item {
	color: $brand-color !important;
}

a.subnav-item:hover {
	color: rgba(0, 179, 159, 1) !important;
}
a.subnav-item.active{
	color: yellow;
}
.active {
	color: #00B4A0 !important;
	font-weight: bolder;
}

.highlight {
	border: 1px #ccc solid;
	border-radius: 5px;
}

a.highlight:hover {
	background: #fff;
	color: $brand-color !important;
}

