nav {
	font-size: .8rem;
	width: 100%;
	padding-left: -2rem;

	@media #{$mid-point} {
		padding-right: 2rem;
		padding-left: 2rem;
	}
}

.nav-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}
.stellarnav.mobile{
	text-align: end!important;
}

.nav-list {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.nav-text {
	font-size: .9rem !important;
	@media (min-width: 840px) {
		padding: 0.8rem !important;
		margin: 0px 3px; 
		color: rgba(255,255,255,.8) !important;
	}
	cursor: pointer;
}

a.nav-text:hover {
	color: rgba(255,255,255,1) !important;

}

.nav-img {
  width: 2rem;
  height: 1.5rem;
  filter: invert(52%) sepia(11%) saturate(17%) hue-rotate(328deg) brightness(87%) contrast(91%);
}

.sub-nav-li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

}

.stellarnav ul ul{
  border-radius: 0.5rem;
  background-color: #f3f3f3;
}


.sub-nav-li:hover {
  color: rgba(0, 179, 159, 1) !important;
  background-color: rgba(0, 179, 159, 0.1) !important;
}

.subnav-item {
	color: $brand-color !important;
	white-space: nowrap;
	display: block;
	width:100%;
	background-size: cover;
}


.active {
	color: #00B4A0 !important;
	font-weight: bolder;
}

.highlight {
	border: 1px #ccc solid;
	border-radius: 5px;
}

a.highlight:hover {
	
	background: #00B4A0;
	// color: $brand-color !important;
}

