.newcomers-heading {
	text-align: center;
	font-weight: 700;
	margin: 2.5rem 0 1rem 0;
	word-spacing: 5px;
	font-size: 2.5rem;
}

.newcomers-subtext {
	text-align: center;
	color: var(--color-secondary-dark);
	font-size: 18px;
	font-weight: 400;
}

iframe {
	margin-bottom: 2rem;
	margin-top: 1rem;
}

.dark-mode .iframe-container iframe {
	filter: invert(1) hue-rotate(180deg) contrast(0.9);
}
