.card-div {
    background: transparent !important;
    padding-top: 0rem !important;
    .card{
        width: 130px;
        height: 130px;
        background:var(--background-primary);
        h1 {
            font-size: 1.5em;
            color: var(--color-white);
        }
    }
}

  .cohort_title {
    color: var(--color-secondary-dark) !important;
    text-align: center;
    margin: 2rem  0rem;
  }

.program-heading {
    background: transparent !important;
    padding-bottom: 2rem !important;
    padding-top: 2rem !important;
    margin-top: 0 !important;
    color: var(--color-secondary-medium) !important;
}

.program-heading h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    text-align: center;
}

.program-heading h2.sub_headings {
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

@media (max-width: 480px) {
    .program-heading h1 {
        font-size: 2rem;
    }

    .program-heading h2.sub_headings {
        font-size: 1.35rem;
    }
}

.programlist-subscribe {
    background: transparent !important;
}

.programlist-subscribe .form-container {
    margin: 3rem auto !important;
    padding: 2rem 0rem;
    box-shadow: var(--box-shadow-primary);
}

.program .project-details {
    max-width: 100%;
}


#content h2,
#content h3 {
    scroll-margin-top: 125px;
}

.auto-toc {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-content: center;
}

.auto-toc h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.auto-toc ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.auto-toc li {
    margin-bottom: 0.5rem;
}

.auto-toc a {
    text-decoration: none;
    color: #00D3A9;
}

.auto-toc a:hover {
    text-decoration: underline;
}

.auto-toc ul ul {
    margin-left: 1rem;
}

.auto-toc li {
    border-bottom: 1px dotted #eee;
    padding-bottom: 0.25rem;
}

.auto-toc li:last-child {
    border-bottom: none;
}

.auto-toc a {
    transition: color 0.3s ease;
}

.auto-toc a:hover {
    color: #00b39f;
}

/* .auto-toc li:before {
  content: counter(toc-items) ". ";
  counter-increment: toc-items;
  color: #888;
  margin-right: 0.5rem;
} */

.auto-toc {
    counter-reset: toc-items;
}

.auto-toc a {
    display: block;
    word-wrap: break-word;
    white-space: normal;
    line-height: 1.5;
    padding: 0.25rem 0;
}
