    .card-div {
      padding:0px 10vw;
      display: flex;
      gap: 2rem 6rem;
      flex-wrap: wrap;
      padding-top: 3rem;
      justify-content: space-around;
    
    
    .card{
        width: 130px;
        height: 130px;
        background:var(--background-primary);
        h1 {
            font-size: 1.5em;
            color: var(--color-white);
        }
    }
}

  .cohort_title {
    color: var(--color-secondary-dark) !important;
    text-align: center;
    margin: 2rem  0rem;
  }

  h5 {
    color: var(--color-secondary-dark) !important;
  }


.program-heading {
    background: transparent !important;
    padding-bottom: 2rem !important;
    padding-top: 2rem !important;
    margin-top: 0 !important;
    color: var(--color-secondary-medium) !important;
    text-align: center;
}

.programlist-subscribe {
    background: transparent !important;
}

.programlist-subscribe .form-container {
  margin: 1rem auto 3rem auto !important;
  padding: 2rem 0rem;
    box-shadow: var(--box-shadow-primary);
}

html {
  width: 100%;
  background: linear-gradient(to bottom, #395054 0%, #00d3a9 100%) no-repeat !important;
}
.cover {
  width: 100%;
  height: 100%;
}

dd,b, dt {
  color: var(--color-secondary-dark);
}

.program {
  border: 1px solid #171f1d;
  border-radius: 20px;
  margin: auto;
  background:var(--color-primary-light) !important;
  width: 90%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  justify-content: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1rem;
  max-width: 1400px;
}

.program ol {
  padding-inline-start: 0;
}

.sub_headings {
  border-bottom: 2px dashed #00d4ab;
  padding-bottom: 2px;
  width: fit-content;
  color: var(--color-secondary-dark);
}


.image-div {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.card-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.heading {
  text-align: center;
  font-weight: bolder;
  font-size: x-large;
  text-decoration: overline;
  text-decoration-color: #00d4ab;
}

.project-item {
  margin-bottom: 1.5rem;
}

.project-list {
  font-size: medium;
  padding-left: 2rem;
  margin-top: 0;
  margin-bottom: 0.2rem;
}



.project-details {
  border-left: 1px solid rgb(210, 180, 140);
  padding-bottom: 2rem;
}

.program-p {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2rem;
  font-size: smaller;
}

a {
  text-decoration: none;
}


.appear {
  display: none;
}

.participate-btn {
  background-color: #3c494f;
  width: 50%;

  padding-top: 1rem;
  padding-bottom: 2.4rem;

  margin: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
  margin-left: 2rem;

  color: #ffffff;
  cursor: pointer;
}

.mailing-container {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  --flex-gap: var(--size-4);
  margin-left: calc(-1 * var(--flex-gap));
  margin-top: calc(-1 * var(--flex-gap));
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.program__subscribe{
  margin-top: 100px;
}

.program__subscribe .form-container p{
  margin-bottom: 40px;
  text-transform: uppercase;
}

.program__subscribe .form-container{
  padding: 2.5rem 20rem 4rem 20rem;
}

.subhead {
  font-size: 1rem;
  padding-left: 2rem;
}

.small-li li {
  font-size: 0.9rem;
}

img {
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}


@media screen and (max-width: 768px) {

  .card-content {
    margin-left: 0;
  }

  .layer5-details {
    border-left: none;
  }


  .program__subscribe .form-container{
    padding: 2.5rem 5rem 4rem 5rem !important;
  }



  .program {
    border-radius: 20px;
    /* margin: auto; */
    word-wrap: normal;
    width: 100%;
    padding: 1rem 0rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .program__subscribe{
    margin-top: 90px;
  }

  .project-list {
    padding-left: 0.5rem;
  }

  .issue {
    padding-left: 0.4rem;
  }

  .project-details {
    border-left: none;
    padding-bottom: 1rem;
  }

  ol,
  ul,
  .program-p,
  dt {
    padding: 0 0.5rem !important;
  }

  .subscribe {
    height: auto;
    /* margin: auto;
    margin-top: 40px; */
  }
  .disappear {
    display: none;
  }
  .appear {
    display: block;
  }
}

@media screen and (max-width: 1200px) {
  .card-img {
    width:12.5rem;
  }

  .program__subscribe .form-container p{
    text-align: center;
  }

  .program__subscribe .form-container{
    padding: 2.5rem 14rem 4rem 14rem;
  }

  .program__subscribe .mc_other_mailinglist{
    padding: 4.5rem 15rem;
  }
}


@media screen and (max-width: 1100px) {
  .card-div{
    gap: 2rem 4rem;
  }
  .card-img {
    width:10rem;
  }

}

@media screen and (max-width: 950px) {
  .program__subscribe .form-container{
    padding: 2.5rem 10rem 4rem 10rem ;
  }

  .program__subscribe .mc_other_mailinglist{
    padding: 4.5rem 10rem ;
  }

  .programlist-subscribe .discuss-community{

    display: flex;
    flex-direction: column;

  }
}

@media screen and (max-width: 670px) {
  .program__subscribe .form-container p{
    font-size: 1.5rem;
    text-align: center;
  }

  .program__subscribe .form-container{
    padding: 2.5rem 3rem 4rem 3rem  !important;
  }


@media screen and (max-width: 500px) {
 .programlist-subscribe .mc_other_mailinglist{
    width: 17.5rem;
  }



   .programlist-subscribe .form-container{
    width: auto;
  }

   .subscribe-inputbox .NAME{
    width: 100%;
  }
}
}


.programlist-subscribe .discuss-community {
  display: flex;
  width: 80vw;
  gap: 1rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .form-container > p {
    margin: 0 25px;
  }

  .NAME {
    height: 3rem;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 15px;
  }

  .EMAIL {
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 15px;
  }
}

.form-container {
  /* border: 1px dashed #1e2117; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 5rem  5rem!important; */
  background-color: #3c494f;
}

.form-container > p {
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  color: #fff;
}

.subscribe-button {
  width: 100%;
  padding: 0.8rem 0.5rem;
  background: rgba(100, 120, 129, 1);
}

.NAME {
  width: 100%;
  height: 3rem;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 15px;
  flex: 0 0 calc(50% - 1rem);
}

.EMAIL {
  width: 100%;
  height: 3rem;
  margin-top: 2rem;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 15px;
}

.NAME::placeholder,
.NAME::placeholder,
.EMAIL::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 0.5px;
  color: #999999;
}

.subscribe-inputbox {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  white-space: nowrap;
  align-items: center;
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  letter-spacing: 0.5px;
}

#mc_embed_signup {
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  text-align: center;
  margin-top: 25px;
  width: 80%;
}