.single-page {
  display: flex;
  gap: 3rem;
}

.single-page code {
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  background-color: var(--color-secondary-dark);
  line-height: 1rem;
  color: var(--color-primary-light);
  display: block;
}

.blog-navigation-container {
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content: space-between;
}
 .modal-image-single {
      width: 15rem;
  }

.pre-white-space {
  white-space: pre-wrap;
}

@media screen and (max-width: 1150px) {
  .modal-image-single {
    img {
      width: 70%;
    }
  }
  .single-page {
    flex-direction: column;
    align-items: center;
    text-align: center;
    .btn-grp {
      justify-content: space-evenly;
    }
  }
}

.blog-navigation {
  padding-top: 3rem;
}

// @media screen and (max-width: 700px) {
//   .single-page {
//     .btn-grp {
//       align-items: center;
//     }
//   }
// }
