// Style for the testimonials section

.testimonials-wrapper {
    max-width: 100%;
    background: var(--color-primary-testimonial-wrapper);
}

.testimonials-wrapper .slider {
    overflow: hidden;
    padding: 0.5rem 0 0.5rem;
    max-width: 100%;
}

.testimonials-wrapper .slider .slick-track {
    display: flex !important;
    align-items: stretch;
}

.testimonials-wrapper .slider .slick-slide {
    height: auto !important;
    display: flex !important;
}

.testimonials-wrapper h2 {
    text-align: center;
    padding-top: 2rem;
    margin: 0 0 20px 0;


}

.type-one-quote-base blockquote:before {
    content: none;
}

.type-one-quote-base blockquote {
    padding: 0;
    margin: 0;
    font-style: normal;
    quotes: none;
}


.testimonials-wrapper .slider .bq-section {
    padding: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.testimonials-wrapper .slider .type-one-wrapper {
    margin: 0px 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.type-one-wrapper.type-one-wrapper-boxed {
    max-width: 576px;
    margin: 0 auto;
    width: 100%;
}


/* ========== Type One ========== */
.type-one-quote {
    position: relative;
    display: flex;
    flex-direction: row;
    min-height: 250px;
    height: 100%;
    box-shadow: var(--box-shadow-primary-quotes);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonials-wrapper .slider .slick-center .type-one-quote {
    transform: translateY(-15px);
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.22);
}


.type-one-quote .type-one-quote-pattern {
    flex-basis: 80px;
    background: linear-gradient(180deg, rgba(71, 126, 150, 1) 0%, rgba(0, 179, 159, 1) 35%, rgba(60, 73, 79, 1) 100%);
    border-radius: 10px 0 0 10px;
    font-size: 1.125rem;
    line-height: 28px;
    color: rgb(0, 0, 0);
    font-family: "Qanelas Soft", "Open Sans", sans-serif;
    font-weight: 400 !important;

}

.type-one-quote .type-one-quote-base {
    flex-basis: calc(100% - 80px);
    background-color: var(--color-primary-light-tbase);
    padding: 40px 30px 20px 80px;
    font-size: 11pt;
    line-height: 1.62em;
    border-radius: 0 10px 10px 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.type-one-quote .type-one-quote-qmark {
    position: absolute;
    top: 45px;
    left: 100px;
    font-family: Garamond, Georgia, "Times New Roman", serif;
    font-size: 42pt;
    color: #999999;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    line-height: 28px;

}

.type-one-quote .type-one-quote-userpic {
    position: absolute;
    top: 80px;
    left: 25px;
    width: 90px;
    height: 90px;

    img {
        border-radius: 50%;
        max-width: 100%;
    }
}

.type-one-quote .type-one-quote-text {
    color: var(--color-primary-qtext);
    font-family: "Qanelas Soft", "Open Sans", sans-serif;
}

.type-one-quote .type-one-quote-meta {
    margin-top: auto;
    padding-top: 5px;
    border-top: 2px dotted var(--color-primary-qmeta);
}

.type-one-quote .type-one-quote-meta .type-one-author,
.type-one-quote .type-one-quote-meta .type-one-source {
    color: var(--color-primary-qmeta);
}

.type-one-quote .type-one-quote-meta .type-one-author {
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 10pt;
    font-weight: bold;
}

.type-one-quote .type-one-quote-meta .type-one-author cite {
    font-style: normal;
}

.type-one-quote .type-one-quote-meta .type-one-source {
    font-size: 9pt;
}

@media screen and (max-width: 768px) {
    .type-one-quote .type-one-quote-pattern {
        flex-basis: 20px;
    }

    .type-one-quote .type-one-quote-base {
        flex-basis: calc(100% - 20px);
        padding: 100px 30px 50px 30px;
    }

    .type-one-quote .type-one-quote-userpic {
        width: 50px;
        height: 50px;
        left: 40px;
        top: 20px;
    }

    .type-one-quote .type-one-quote-qmark {
        left: 100px;
        top: 45px;
    }
}