$brand-color: #3c494f;
$secondary-brand-color: #00d3a9;
$middle-gradient-color: mix($brand-color, $secondary-brand-color, 95%);

// Breakpoints
$mobile: "(max-width: 420px)";
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";

// Meshery Colors
$coolgray: #3c494f;
$lightgreen: #00d3a9;
$darkgreen: #00b39f;
