/* style for community page */
  header {
        margin-bottom: 0;
    }
    .content {
        padding-top: 0;
    }
  .banner-section {
    background-image: url(/assets/images/screens/Light\ Theme.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  @media screen and (max-width: 500px) {
    .banner-section {
      height: 55vh;
    }
  }

  .dark-mode .banner-section {
    background-image: url(/assets/images/screens/Dark\ Theme.svg);
  }

  .hero {
    padding: 80px 67px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .heading {
    color: var(--meshery-black-white-white, #FBFBFB);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
  }

  .title {
    margin: 0;
    color: var(--meshery-revised-text-on-dark, #FDFDFD);
    padding: 8px 0;
    text-align: center;
    font-size: 96px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.92px;
  }

  .banner-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    border-radius: 0.5rem;
    background: var(--meshery-secondary-keppel, #00B39F);
    padding: 0.25rem 0.75rem;
    height: 2rem;
    width: 8rem;
    gap: 0.5rem;
  }

  a:hover {
    text-decoration: none;
  }

  .banner-button-text {
    color: var(--meshery-black-white-white, #FBFBFB);
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    display: flex;
    width: 8rem;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    cursor: pointer;
  }

  @media (max-width: 600px) {

    .hero {
      padding: 80px 20px;
    }

    .heading {
      font-size: 1.125rem;;
      line-height: 28px;
    }

    .title {
      font-size: 48px;
      letter-spacing: -0.7px;
    }

    .banner-button-text {
      font-size: 0.7rem;
    }

    .banner-arrow {
      width: 40px;
      height: 14px;
      stroke-width: 1.5px;
    }


  }

  /* Style for Resource Section  */

  .paratext {
    /* margin-left: -2.5rem; */
    font-size: 17.6px;
  }

  .heading-shape {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
  }

  .sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    overflow: hidden;
    
  }

  .margin-padding-none {
    margin: 0;
    padding: 0;
  }

  .container-resources {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 3rem;
    row-gap: 2.5rem;
    margin-top: 1rem;
  }

  .child {
    display: flex;
    column-gap: 2.5rem;
    justify-content: space-between;
  }

  .mainCard {
    display: flex;
    column-gap: 1rem;
    justify-content: center;
    padding: 1.25rem;
    border-radius: 24px;
    background-color: var(--color-primary-medium);
    cursor: pointer;
    flex: 1;
  }

  .mainCard img {
    margin-right: .15rem;
    margin-top: .25rem;
  }

  .mainCard:hover {
    background-color: var(--color-primary-extra-dark);
  }

  .head {
    margin-bottom: 1.25rem;
    margin-top: 3.06rem;
    padding: 0;
  }

  .paragraph {
    margin: 0;
    padding: 0;
    font-size: 17.6px;
  }

  .para2 {
    margin-bottom: 5em;
  }

  @media screen and (max-width:392px) {
    .container-resources {
      flex-direction: column;
    }

    .sectionContainer {
      padding-left: 1.125rem;;
      padding-right: 1.125rem;;

    }

    .child {
      display: flex;
      flex-direction: column;
      row-gap: 2.5rem;
    }

    .mainCard {
      width: 90%;

    }

    h2 {
      font-size: 1.5rem;
    }

    .paratext {
      font-size: 15px;
    }
  }


  @media screen and (max-width: 936px) {
    .container-resources {
      flex-direction: column;
    }

    .child {
      display: flex;
      flex-direction: column;
      flex: 1;
      row-gap: 2.5rem;
    }

    h2 {
      font-size: 1.5rem;
    }

  }

  @media screen and (max-width:553px) {
    .child {
      width: 100%;
      justify-content: center;
      row-gap: 2.5rem;
    }

    .mainCard {
      width: 90%;
    }

    .paratext {
      font-size: 15px;
    }

  }

  @media screen and (max-width: 500px) {
    .container-resources {
      padding: 1rem;
    }

    .child {
      width: 100%;
      row-gap: 2.5rem;
    }

  }

  .margin-btm {
    margin-bottom: 3.7rem;
  }

  /* style for handbook section */

  .book-container {
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 600px;
  }

  @keyframes initAnimation {
    0% {
      transform: rotateY(0deg);
    }

    100% {
      transform: rotateY(-30deg);
    }
  }

  .rot-on-rel {
    transform: rotateY(0deg);
  }

  .book {
    min-width: 200px;
    min-height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(-30deg);
    transition: 1s ease;
    animation: 1s ease 0s 1 initAnimation;
  }

  .book:hover {
    transform: rotateY(0deg);
  }

  .book> :first-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    width: 200px;
    height: 300px;
    transform: translateZ(25px);
    background-color: #171a12;
    border-radius: 0 2px 2px 0;
  }

  .book::before {
    position: absolute;
    content: ' ';
    left: 0;
    top: 3px;
    width: 48px;
    height: 294px;
    transform: translateX(172px) rotateY(90deg);
    background: linear-gradient(90deg,
        #fff 0%,
        #f9f9f9 5%,
        #fff 10%,
        #f9f9f9 15%,
        #fff 20%,
        #f9f9f9 25%,
        #fff 30%,
        #f9f9f9 35%,
        #fff 40%,
        #f9f9f9 45%,
        #fff 50%,
        #f9f9f9 55%,
        #fff 60%,
        #f9f9f9 65%,
        #fff 70%,
        #f9f9f9 75%,
        #fff 80%,
        #f9f9f9 85%,
        #fff 90%,
        #f9f9f9 95%,
        #fff 100%);
  }

  .book::after {
    position: absolute;
    top: 0;
    left: 0;
    content: ' ';
    width: 200px;
    height: 300px;
    transform: translateZ(-25px);
    background-color: #292929;
    border-radius: 0 2px 2px 0;
    box-shadow: -2px 1px 30px 2px #666;
  }

  .handbook-container {
    display: flex;
    padding: 40px 0;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .text {
    width: 500px;
  }

  .handbook-header {
    font-weight: 150;
    font-size: larger;
    margin-bottom: 3px;
  }

  .sub-header {
    margin-bottom: 25px;
  }

  .handbook-paragraph {
    text-align: left;
    margin-bottom: 5px;
  }

  .button-wrapper {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .handbook-button {
    padding: 10px;
  }

  @media screen and (max-width: 768px) {
    .text {
      width: 100%;
    }

    .sub-header {
      font-size: 1.5rem;
      margin: 25px 0;
    }

    .handbook-paragraph {
      font-size: 1.1rem;
    }

    .handbook-container {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      flex: 1;
      text-align: center;
    }

  }

  /* Style for community forum */

  .community-forum-img img {
    display: block;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 0 0;
    position: relative;
    width: 100%;

  }

  @media screen and (max-width: 768px) {
    .meshmate-container {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  section {
    padding: 50px 25px;
  }

  @media screen and (max-width: 768px) {

    .calendar-container,
    .meshmate-container,
    .community-forum-container,
    .button-wrapper,
    .logos {
      justify-content: center;
      text-align: center;
    }
  }

  .community-corner-popup {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 2001;
  transform: translateX(20px);
  opacity: 0;
  transition: 0.3s ease;
}

.community-corner-popup.visible {
  transform: translateX(0);
  opacity: 1;
}

.community-corner-popup .popup {
  width: 300px;
  background: var(--color-primary-light);
  color: var(--color-secondary-dark);;
  border-radius: 7px;
  padding: 20px;
  box-shadow: 0 0 30px var(--brand-color-secondary);
  position: relative;
  font-family: sans-serif;
}

.popup-button {
  display: inline-block;
  background: var(--brand-color-secondary);
  color: var(--color-secondary-dark);;
  padding: 10px 14px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
}

.popup-button-text{
  margin:0;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 12px;
  border: none;
  background: transparent;
  color: var(--color-secondary-dark);;
  cursor: pointer;
}