.card {
    position: relative;
    margin: 10px auto;
    width: 220px;
    height: 250px;
    padding: 20px;
    border-radius: 15px;
    border: 0;
    transition: 0.4s ease-out;
    box-shadow: 2px 2px 6px 0px  #00D3A9;
  }
  .card:hover {
    background: rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    cursor: pointer;
  }
  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }
  
  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
  
   h3{
     font-weight: 300;
   }
   p{
     font-size: 18px;
   }
    .inner-span {
      font-size: 16px;
      position: relative;
      color: black;
    }
    .column {
    float: left;
    padding: 0 10px;
  }
  
  .smp {
    width: 25px;
    bottom: 0;
    right: 0;
    vertical-align: middle;
   
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /* pattern card styles */
  .pattern-type {
    cursor: inherit;
      display: flex-start;
      align-items: center;
      user-select: none;
      white-space: nowrap;
      padding-left: 12px;
      padding-right: 12px;
      font-size: 12px;
  }
   .chip {
    display: inline-flex;
    flex-direction: row-reverse;
    float: right;
      background-color: #b6d7a8ff;
      border: none;
      cursor: default;
      height: 23px;
      outline: none;
      padding: 0;
      font-size: 14px;
      font-family:"Open Sans", sans-serif;
      white-space: nowrap;
      align-items: center;
      border-radius: 16px;
      vertical-align: middle;
      text-decoration: none;
      justify-content: center;
   }
   .chip-modal{
    float: left;
   }
   .pattern-name {
     color:#333;
     font-weight: 1400;
     font-style: bold;
     white-space: nowrap;
     text-align: center;
    padding: 15px 0 3px 0;
    
   }
   .pattern-id {
     position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 10px;
    margin-right: 14px;
   }
  
   .pattern-image {
    width: 60%;
    -o-object-fit: contain;
       object-fit: contain;
    position: absolute;
    margin-left: 5%;
    border-radius: 15px;
   }
  @media screen and (max-width: 700px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  .download-link{
      font-size: 14px;
      text-align: left;
  }
  .modal-window {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
  }
  .modal-image {
    width: 250px;
      margin: 30px 30px 30px -90px;
      float: left;
  }
  .align {
    display: flex;
              align-items: center;
  }
  .modal-window > div {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5em 1.5em 1.5em 1.5em;
    background: #fff;
    border-radius: 1rem;
  }
  .modal-window header {
    font-weight: bold;
  }
  .modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }
  .modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
  }
  .modal-small-header {
    font-size: 15px;
    display: block;
  }
  .modal-content {
    font-size: 10px;
    display: block;
    padding: 10px;
  }
  .modal-window div div:not(:last-of-type) {
    margin-bottom: 15px;
  }
  .modal-container {
          /* display: flex;
          align-items: center;
          justify-content: center; */
          padding: 20px 40px 40px;
    max-width: 600px;
        }
    .modal-text {
      display: inline;
    }
        .image-container {
          flex-basis: 70%;
        }
  .close {
    position: absolute;
    transition: all 200ms;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    background: transparent;
    border : 0px;
    cursor: pointer;
  }
  .close:hover {
    color: #00D3A9 !important;
    opacity: 0.8 !important;
    text-decoration: none;
  }
  .open-modal-btn{
    display: block;
    margin: 0 auto;
  }
  @media screen and (max-width: 700px){
    .modal-window{
      width: 100%;
      height: 100%;
      margin-top: 2rem;
    }
}