<div class="contributor flex"> 
    <div class="container {% if page.full_width %}max-container{% endif %}">
        <h2>Active Members</h2>
        <p style="text-align: center;">A warm and welcoming collection of open sourcers.</p>
        <a href="https://slack.meshery.io/" style="text-decoration: none !important;">
          <h4 style="text-align:center;color:aliceblue;">
            <input class="join-community-btn" type="submit" value="Join the Community">
          </h4>
        </a>

        {% include partials/filter-members.html %}

        <ul class="contributor">  
        <!-- List all Contributors -->
            {% for page in site.contributors %}
                {% if page.layout != 'archive' %}
                {% if page.status == "Active" %}
                <li> 
                    <a href="{{ page.url }}">
                    <div class="square-image">
                       
                        <img class="b-active" src="{% include relative-src.html src=page.image_path %}" alt="{{ page.name }}"  onerror="this.src='/assets/images/meshery-color.svg'" />    
                        </a> 
                    </div> 
                    <div class="names">{{ page.name }}</div></a>
                    
                </li>
                {% endif %}
                {% endif %}
            {% endfor %}

            <!-- List a specific contributor -->
        </ul>
    </div>	
</div>
