<div class="container flex" style="flex-direction: column;">
    <div class="text" style="max-width: 40rem; text-align: center;">
        <h2>Interoperate <span class="special-text">multiple</span> service meshes</h2>
        <p>Service mesh adapters provision, configure, and manage their respective service meshes.
        </div>
        <div class="text ">
        <div class="adapters">
            <ul>
                <li class="heading">Stable</li>
                <li>
                <a href="https://github.com/meshery/meshery-istio">
                            <img src='assets/images/adapters/istio.svg' alt='Istio Service Mesh adapter'
                                class="adapter-logo" loading="lazy">Meshery adapter for Istio</a>

                </li>
                <li>
                <a href="https://github.com/meshery/meshery-linkerd">
                            <img src='assets/images/linkerd.svg' alt='Linkerd' 
                                class="adapter-logo" loading="lazy">Meshery adapter for Linkerd</a>

                </li>
                <li>
                <a href="https://github.com/meshery/meshery-consul">
                            <img src='assets/images/adapters/consul.svg' alt='Consul Connect' 
                                class="adapter-logo" loading="lazy">Meshery adapter for Consul</a>

                </li>
                <li>
                <a href="https://github.com/meshery/meshery-nsm">
                            <img src='assets/images/adapters/nsm.svg' alt='Network Mesh' 
                                class="adapter-logo" loading="lazy">Meshery adapter for Network Service Mesh</a>

                </li>
                <li>
                <a href="https://github.com/meshery/meshery-kuma">
                            <img src='assets/images/adapters/kuma.svg' alt='Kuma Service Mesh' 
                                class="adapter-logo" loading="lazy">Meshery adapter for Kuma</a>

                </li>
                <li>
                <a href="https://github.com/meshery/meshery-traefik-mesh">
                            <img src='assets/images/adapters/traefik-mesh.svg' alt='Traefic Service Mesh' class="adapter-logo" loading="lazy">Meshery adapter for
                            Traefik Mesh</a>

                </li>
                <li>
                <a href="https://github.com/meshery/meshery-nginx-sm">
                            <img src='assets/images/adapters/nginx-sm.svg' alt='NGINX Service Mesh' 
                                class="adapter-logo" loading="lazy">Meshery adapter for NGINX SM</a>

                </li>
                <li>
                <a href="https://github.com/meshery/meshery-cilium">
                            <img src='assets/images/adapters/cilium.svg' alt='Cilium Service Mesh' 
                                class="adapter-logo" loading="lazy">Meshery adapter for Cilium SM</a>

                </li>
            </ul>
            <ul>
                <li class="heading">Beta</li>
                <li>
                <a href="https://github.com/meshery/meshery-cpx">
                            <img src='assets/images/adapters/citrix.svg'
                                alt='Citrix CPX Service Mesh' 
                                class="adapter-logo" loading="lazy">Meshery adapter for Citrix CPX</a>

                </li>
                <li>
                <a href="https://github.com/meshery/meshery-app-mesh">
                            <img src='assets/images/adapters/aws-app-mesh.svg' alt='AWS App Mesh Service Mesh'
                                class="adapter-logo" loading="lazy">Meshery adapter for App Mesh </a>

                </li>
            </ul>

                <ul>
                    <li class="heading">Alpha</li>
                <li>
                <a href="https://github.com/meshery/meshery-tanzu-sm">
                            <img src='assets/images/adapters/tanzu.svg' alt='Tanzu Service Mesh' 
                                class="adapter-logo" loading="lazy">Meshery adapter for Tanzu SM</a>

                </li>
            </ul>
        </div>

        </p>

    </div>
</div>
</div>