<div class="container flex">
    <div class="text ">
        <h2>Interoperate <strong>multiple</strong> service meshes</h2>
        <p>Service mesh adapters provision, configure, and manage their respective service meshes.
        </div>
        <div class="text ">
        <table class="adapters">
            <thead style="display:none;">
                <th>Status</th>
                <th>Adapter</th>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="9" class="stable-adapters">stable</td>
                </tr>
                <tr>
                    <td colspan="2" class="stable-adapters"></td>
                </tr>
                <tr>
                    <td><a href="https://github.com/meshery/meshery-istio">
                            <img src='images/istio.svg' alt='Istio Service Mesh adapter'
                                class="adapter-logo">Meshery adapter for Istio</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="https://github.com/meshery/meshery-linkerd">
                            <img src='images/linkerd.svg' alt='Linkerd' 
                                class="adapter-logo">Meshery adapter for Linkerd</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="https://github.com/meshery/meshery-consul">
                            <img src='images/consul.svg' alt='Consul Connect' 
                                class="adapter-logo">Meshery adapter for Consul</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="https://github.com/meshery/meshery-octarine">
                            <img src='/images/oct.svg' alt='Octarine Service Mesh'
                                class="adapter-logo">Meshery adapter for Octarine</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="https://github.com/meshery/meshery-nsm">
                            <img src='images/nsm.svg' alt='Network Mesh' 
                                class="adapter-logo">Meshery adapter for Network Service Mesh</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="https://github.com/meshery/meshery-kuma">
                            <img src='images/Kuma.svg' alt='Kuma Service Mesh' 
                                class="adapter-logo">Meshery adapter for Kuma</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="https://github.com/meshery/meshery-osm">
                            <img src='images/osm.svg' alt='Open Service Mesh' 
                                class="adapter-logo">Meshery adapter for Open Service Mesh</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="stable-adapters"></td>
                </tr>
                <tr>
                    <td rowspan="5" class="beta-adapters">beta</td>
                </tr>
                <tr>
                    <td colspan="2" class="beta-adapters"></td>
                </tr>
                <tr>
                    <td><a href="https://github.com/meshery/meshery-cpx">
                            <img src='images/citrix.svg'
                                alt='Citrix CPX Service Mesh' 
                                class="adapter-logo">Meshery adapter for Citrix CPX</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="https://github.com/meshery/meshery-traefik-mesh">
                            <img src='images/traefik-mesh.svg' alt='Traefic Service Mesh' class="adapter-logo">Meshery adapter for
                            Traefik Mesh</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="https://github.com/meshery/meshery-nginx-sm">
                            <img src='images/nginx-sm.svg' alt='NGINX Service Mesh' 
                                class="adapter-logo">Meshery adapter for NGINX SM</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="beta-adapters"></td>
                </tr>
                <tr>
                    <td rowspan="6" class="alpha-adapters">alpha</td>
                </tr>
                <tr>
                    <td colspan="2" class="alpha-adapters"></td>
                </tr>
                <tr>
                    <td><a href="https://github.com/meshery/meshery-app-mesh">
                            <img src='images/aws-app-mesh.svg' alt='AWS App Mesh Service Mesh'
                                class="adapter-logo">Meshery adapter for App Mesh </a>
                    </td>
                </tr>
                <tr>
                    <td><a href="https://github.com/meshery/meshery-tanzu-sm">
                            <img src='images/tanzu.svg' alt='Tanzu Service Mesh' 
                                class="adapter-logo">Meshery adapter for Tanzu SM</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="alpha-adapters"></td>
                </tr>
            </tbody>
        </table>

        </p>

    </div>
    <!-- <div>
        <a href="https://github.com/meshery/meshery-app-mesh"><img src='images/aws-app-mesh.png' alt='App Mesh' width='20px' height='50px'> app mesh</a>
    </div> -->

</div>
</div>