<div class="callout">
  <a class="card1" href="https://bit.ly/2SbrRhe">
    <h3>Community Calendar</h3>
    <p class="small">Join the weekly meetings by subscribing to our community calendar</p>
    <div class="go-corner" href="https://bit.ly/2SbrRhe"></div>
  </a>
   <a class="card1" href="https://www.youtube.com/channel/UCFL1af7_wdnhHXL1InzaMvA">
    <h3>Community Meetings</h3>
    <p class="small">Watch community meeting recordings on our youtube channel</p>
    <div class="go-corner" href="https://www.youtube.com/channel/UCFL1af7_wdnhHXL1InzaMvA"></div>
  </a>
   <a class="card1" href="https://discuss.layer5.io">
    <h3>Join the Conversation</h3>
    <p class="small">Ask questions, find answers and share knowledge on our Discussion Forum</p>
    <div class="go-corner" href="https://discuss.layer5.io"></div>
  </a>
   <a class="card1" href="https://docs.google.com/document/d/17OPtDE_rdnPQxmk2Kauhm3GwXF1R5dZ3Cj8qZLKdo5E/edit">
    <h3>Community Member Guide</h3>
    <p class="small">Read the Welcome Guide to familiarize yourself with the community</p>
    <div class="go-corner" href="https://docs.google.com/document/d/17OPtDE_rdnPQxmk2Kauhm3GwXF1R5dZ3Cj8qZLKdo5E/edit"></div>
  </a>
  </div>
  