<div class="callout2">
    <a class="card2" href="https://meshery.io/#getting-started" target="_self">
      <h3>MeshMap</h3>
      <p class="small">Use MeshMap from a platform of your choice. <br><br> You will be redirected, to the getting started section. Pick your favorite platform to deploy Meshery.</p>
      <div class="go-corner" href="https://meshery.io/#getting-started"></div>
    </a>
     <a class="card2" href="https://play.meshery.io/" target="_self">
      <h3>Meshery Playground</h3>
      <p class="small">A cloud based version of MeshMap that might have some limited functionality</p>
      <div class="go-corner" href="https://play.meshery.io/"></div>
    </a>