<div class="callout">
  <a class="card" href="https://meshery.io/calendar" target="_blank">
    <h3>Community Calendar</h3>
    <p class="small">Join the weekly meetings by subscribing to our community calendar</p>
    <div class="go-corner"></div>
  </a>
   <a class="card" href="https://www.youtube.com/@mesheryio?sub_confirmation=1" target="_blank">
    <h3>Community Meetings</h3>
    <p class="small">Watch community meeting recordings on our YouTube channel</p>
    <div class="go-corner"></div>
  </a>
   <a class="card" href="/community#discussion-forums" target="_blank">
    <h3>Join the Conversation</h3>
    <p class="small">Ask questions, find answers and share knowledge on our Discussion Forum</p>
    <div class="go-corner"></div>
  </a>
  <a class="card" href="https://docs.meshery.io/project/contributing" target="_blank">
    <h3>Community Guide</h3>
    <p class="small">Read the Welcome Guide to familiarize yourself with the community</p>
    <div class="go-corner"></div>
  </a>
</div>
  
