<div class="callout">
    <a class="card" href="https://meshery.io/#getting-started" target="_blank">
      <h3>Meshery MeshMap</h3>
      <p class="small">Meshery MeshMap from a platform of your choice. <br><br> You will be redirected, to get started. Pick your favorite platform.</p>
      <div class="go-corner" href="https://meshery.io/#getting-started"></div>
    </a>
     <a class="card" href="https://play.meshery.io/" target="_blank">
      <h3>Meshery Playground</h3>
      <p class="small">A cloud based version of MeshMap that might have some limited functionality</p>
      <div class="go-corner" href="https://play.meshery.io/"></div>
    </a>