<h2 class="catalog-heading">Cloud Native Catalog</h2>
<h3 class="catalog-subheading">Harness Well-Architected Kubernetes Patterns</h3>

<p class="catalog-subtext">
  Discover and use top-quality patterns and conventions as templates for your cloud native infrastructure with Meshery Catalog.</p>
<p class="catalog-subtext">
  <span style="color: #00D3A9; cursor: pointer;" id="myBtn">Publish your own best practices</span> and <a style ="color: #00D3AF; text-decoration: none;" href="https://docs.meshery.io/concepts/catalog#to-create-a-design-pattern-using-meshery-ui" target="_blank">share with team members and the world</a>.</p>  


{% include catalog-help-modal.html %}



<!-- <script type="module">
  import data from "{{ site.baseurl }}/integrations/data.js";

const pattern = document.getElementById("pattern");
const filter = document.getElementById("filter");

const patternCards = document.querySelectorAll(".ptrn");
const filterCards = document.querySelectorAll(".wsm");
const ComingSoonCards = document.querySelectorAll(".cmg");


function showElements(elements) {
    elements.forEach((element) => {
      element.style.display = "block";
    });
  }

  function hideElements(elements) {
    elements.forEach((element) => {
      element.style.display = "none";
    });
  }

  pattern.addEventListener("click", () => {
    hideElements(filterCards);
    showElements(patternCards);
    showElements(ComingSoonCards);
  });

  filter.addEventListener("click", () => {
    hideElements(patternCards);
    hideElements(ComingSoonCards);
    showElements(filterCards);
  });
    
</script> -->
<!-- <div class="features-container">

  <div class="feature-container">
    <div class="box">
      <div class="title pattern">Designs</div>
      <img class="patterns-coming-soon hidden" src="{{site.baseurl}}/assets/images/coming-soon.png" />
      <div class="circlecont" style="cursor:pointer;" id="pattern">
        <div class="circle"></div>
        <div class="hover-circles">
          <div class="circle"><img src="/assets/images/logos/service-mesh-pattern.svg" /></div>
          <div class="circle"><img src="/assets/images/logos/service-mesh-pattern.svg" /></div>
          <div class="circle"><img src="/assets/images/logos/service-mesh-pattern.svg" /></div>
          <div class="circle"><img src="/assets/images/logos/service-mesh-pattern.svg" /></div>
          <div class="circle"><img src="/assets/images/logos/service-mesh-pattern.svg" /></div>
        </div>
      </div>
    </div>
    <div class="description pattern">Cloud native patterns enable the business function in simple language.</div>
   </div>

   <div class="feature-container">
    <div class="box">
      <div class="title wasm">Filters</div>
      <img class="patterns-coming-soon hidden" src="{{site.baseurl}}/assets/images/coming-soon.png" />
      <div class="circlecont" style="cursor:pointer;" id="filter">
        <div class="circle"></div>
        <div class="hover-circles">
          <div class="circle"><img src="/assets/images/webassembly_logo.svg" /></div>
          <div class="circle"><img src="/assets/images/webassembly_logo.svg" /></div>
          <div class="circle"><img src="/assets/images//webassembly_logo.svg" /></div>
          <div class="circle"><img src="/assets/images/webassembly_logo.svg" /></div>
          <div class="circle"><img src="/assets/images/webassembly_logo.svg" /></div>
        </div>
      </div>
    </div>
    <div class="description wasm">Embedded in the data plane of a service mesh, WebAssembly filters offer fine-grained control over service requests.</div>
   </div>
   <div class="feature-container">
    <div class="box">
      <div class="title ebpf">Programs</div>
      <img class="patterns-coming-soon" src="{{site.baseurl}}/assets/images/coming-soon.png" />
      <div class="circlecont">
        <div class="circle"></div>
        <div class="hover-circles">
          <div class="circle"><img src="/assets/images/ebpf-logo.svg" /></div>
          <div class="circle"><img src="/assets/images/ebpf-logo.svg" /></div>
          <div class="circle"><img src="/assets/images/ebpf-logo.svg" /></div>
          <div class="circle"><img src="/assets/images/ebpf-logo.svg" /></div>
          <div class="circle"><img src="/assets/images/ebpf-logo.svg" /></div>
        </div>
      </div>
    </div> 
    <div class="description ebpf">Embedded in the data plane of a service mesh, eBPF programs performant, fine-grained control over service requests.</div>
   </div>
  
   <div class="feature-container">
    <div class="box">
      <div class="title OPA">Policies</div>
      <img class="patterns-coming-soon" src="{{site.baseurl}}/assets/images/coming-soon.png" />
      <div class="circlecont">
        <div class="circle"></div>
        <div class="hover-circles">
          <div class="circle"><img src="/assets/images/opa-logo.svg" /></div>
          <div class="circle"><img src="/assets/images/opa-logo.svg" /></div>
          <div class="circle"><img src="/assets/images/opa-logo.svg" /></div>
          <div class="circle"><img src="/assets/images/opa-logo.svg" /></div>
          <div class="circle"><img src="/assets/images/opa-logo.svg" /></div>
        </div>
      </div>
    </div>
    <div class="description opa">Applied across the cloud native infrastructure under management, policies may be applied broadly and specificly.</div>
   </div>
</div> -->