<div class="community" style="text-align: center; align-items:center;float:left;">
    <i style="color: var(--color-secondary-light)" class="fas fa-users fa-7x"></i></div>

<p class="community-block">
    <ul class="project-block">
        <li><em>Join</em> any or all of the weekly meetings on the <a href="https://bit.ly/2SbrRhe">community calendar</a>.</li>
        <li><em>Watch</em> community <a href="https://www.youtube.com/channel/UCgXlqWDCg-9RP1eckf0s6KA?sub_confirmation=1">meeting recordings</a>.</li>
        <li><em>Submit</em> your <a href="https://meshery.io/newcomers">community member form</a>.</li>
        <li><em>Discuss</em> in the <a href="/community#discussion-forums">community forum</a>.</li>
        <li><em>Read</em> the community member <a href="https://meshery.io/community/handbook/repository-overview">welcome guide</a>.</li>
    </ul>
</p>
