<style>
    .service-mesh-image {
        margin: 1.2rem;
    }
</style>

<div class="compatibility-grid">
    {% for item in pattern.compatibility %}
        {% assign item_slug = item | slugify %}
        <a href="{{ '/catalog/models/' | append: item_slug | relative_url }}">
            <img
                class="service-mesh-image"
                src="{{ site.baseurl }}/assets/images/integration/{{ item_slug }}/icons/color/{{ item_slug }}-color.svg"
                alt="{{ item }}"
                onerror="this.onerror=null; this.src='{{ site.baseurl }}/assets/images/logos/service-mesh-pattern.svg';"
            />
        </a>
    {% endfor %}
</div>