    <div class="comatibility-grid">
    {% for items in pattern.compatibility %}
    {% if items %}
    {% for item in items %}
    {% if item == "Istio" %}
    <img class="service-mesh-image" src="{{site.baseurl}}/assets/images/istio.svg" />
    {% elsif item == "Linkerd" %}
    <img class="service-mesh-image" src="{{site.baseurl}}/assets/images/linkerd.svg" />
    {% elsif item == "Consul" %}
    <img class="service-mesh-image" src="{{site.baseurl}}/assets/images/consul.svg" />
    {% elsif item == "Traefik" %}
    <img class="service-mesh-image" src="{{site.baseurl}}/assets/images/traefik-mesh.svg" />
    {% elsif item == "OSM" %}
    <img class="service-mesh-image" src="{{site.baseurl}}/assets/images/osm.svg" />
    {% elsif item == "App Mesh" %}
    <img class="service-mesh-image" src="{{site.baseurl}}/assets/images/aws-app-mesh.svg" />
    {% elsif item == "Kuma" or item contains "kuma" %}
    <img class="service-mesh-image" src="{{site.baseurl}}/assets/images/kuma-color.svg" />
    {% elsif item == "Nginx" or item contains "nginx" %}
    <img class="service-mesh-image" src="{{site.baseurl}}/assets/images/nginx-sm.svg" />
    {% elsif item == "NSM" %}
    <img class="service-mesh-image" src="{{site.baseurl}}/assets/images/nsm.svg" />
    {% else %}
    <img class="service-mesh-image" src="{{site.baseurl}}/images/{{ item | slugify }}-color.svg" loading="lazy" id="logo-dark-light"
    data-logo-for-dark="{{site.baseurl}}/images/{{ item | slugify }}-white.svg"
    data-logo-for-light="{{site.baseurl}}/images/{{ item | slugify }}-color.svg" />
    {% endif %}
    {% endfor %}
    {%endif%}

    {% endfor %}
</div>
