{% for entry in pattern.Compatibility %}
{% if entry.serviceMesh == "Istio" %}
<img class="service-mesh-image" src="{{site.baseurl}}/images/istio.svg" />
{% endif %}
{% if entry.serviceMesh == "Linkerd" %}
<img class="service-mesh-image" src="{{site.baseurl}}/images/linkerd.svg" />
{% endif %}
{% if entry.serviceMesh == "Consul" %}
<img class="service-mesh-image" src="{{site.baseurl}}/images/consul.svg" />
{% endif %}
{% if entry.serviceMesh == "Traefik" %}
<img class="service-mesh-image" src="{{site.baseurl}}/images/traefik-mesh.svg" />
{% endif %}
{% if entry.serviceMesh == "OSM" %}
<img class="service-mesh-image" src="{{site.baseurl}}/images/osm.svg" />
{% endif %}
{% if entry.serviceMesh == "AppMesh" %}
<img class="service-mesh-image" src="{{site.baseurl}}/images/aws-app-mesh.svg" />
{% endif %}
{% if entry.serviceMesh == "Kuma" %}
<img class="service-mesh-image" src="{{site.baseurl}}/images/Kuma.svg" />
{% endif %}
{% if entry.serviceMesh == "Nginx" %}
<img class="service-mesh-image" src="{{site.baseurl}}/images/nginx-sm.svg" />
{% endif %}
{% if entry.serviceMesh == "NSM" %}
<img class="service-mesh-image" src="{{site.baseurl}}/images/nsm.svg" />
{% endif %}
{% endfor %}
