<section class="flex text" style="padding:50px;">
    <div class="anchor"><a name="community"></a><h2 style="display: inline;width: auto;">Connect</h2></div>

        <div class="community" style="text-align: center; vertical-align:middle;float:left;">
            <i style="color: {{site.coolgray}}" class="fas fa-users fa-7x"></i></div>
        
        <p class="community-block">
            <ul class="project-block">
                <li><em>Join</em> any or all of the weekly meetings on the <a href="/calendar">community calendar</a>.</li>
                <li><em>Watch</em> community <a href="https://www.youtube.com/channel/UCFL1af7_wdnhHXL1InzaMvA">meeting recordings</a>.</li>
                <li><em>Access</em> the <a href="https://drive.google.com/drive/u/4/folders/0ABH8aabN4WAKUk9PVA">community drive</a>.</li>
                <li><em>Read</em> the community member <a href="https://docs.google.com/document/d/17OPtDE_rdnPQxmk2Kauhm3GwXF1R5dZ3Cj8qZLKdo5E/edit">welcome guide</a>.</li>
            </ul>
        </p>
            
</section>
