<section class="flex text" style="padding:50px;">
    <div class="anchor"><a name="community"></a><h2 style="display: inline;width: auto;">Connect</h2></div>

        <div class="community" style="text-align: center; vertical-align:middle;float:left;">
            <i style="color: {{site.coolgray}}" class="fas fa-users fa-7x"></i></div>
        
        <p class="community-block">
            <ul class="project-block">
                <li><em>Participate</em> in any or all of the weekly meetings on the <a href="/calendar">community calendar</a>.</li>
                <li><em>Watch</em> community <a href="https://www.youtube.com/channel/UCgXlqWDCg-9RP1eckf0s6KA?sub_confirmation=1">meeting recordings</a>.</li>
                <li><em>Fill-in</em> a <a href="https://meshery.io/newcomers">community member form</a> to gain access to community resources.</li>
                <li><em>Discuss</em> in the <a href="/community#discussion-forums">community forum</a>.</li>
            </ul>
        </p>
            
</section>
