<section class="flex text" style="padding:50px;">
    <div class="anchor"><a name="community"></a>
        <h2 style="display: inline;width: auto;">Connect</h2>
    </div>

    <div class="community" style="text-align: center; vertical-align:middle;float:left;">
        <i style="color: {{site.coolgray}}" class="fas fa-users fa-7x"></i>
    </div>

    <p class="community-block">
    <ul class="project-block">
        <li><em>Participate</em> in any or all of the weekly meetings on the <a href="/calendar">community calendar</a>.
        </li>
        <li><em>Watch</em> community <a href="https://www.youtube.com/channel/UCFL1af7_wdnhHXL1InzaMvA">meeting
                recordings</a>.</li>
        <li><em>Fill-in</em> a <a href="https://layer5.io/newcomers">community member form</a> to gain access to
            community resources.</li>
        <li><em>Discuss</em> in the <a href="https://discuss.layer5.io">community forum</a>.</li>
        <li><em>Read</em> the community member <a
                href="https://docs.google.com/document/d/17OPtDE_rdnPQxmk2Kauhm3GwXF1R5dZ3Cj8qZLKdo5E/edit">welcome
                guide</a>.</li>
    </ul>
    </p>
    </div>

</section>


<section class="sectionContainer flex">
    <h1 class="head">Resources</h1>
    <p class="paragraph">More than just a community of contributors, we are also a support System</p>
    <p class="paragraph para2">We Know you'll need all the help you can get, and we provide it through.</p>
    <div class="container container-resources">
        <div class="child">
            <div class="mainCard">

                <div
                    style="position: relative; width: 10rem; height: 3rem; border-radius: 50%; place-items: center;display: grid; background-color: var(--color-primary-extra-dark); ">
                    <img height="33px" src='../../assets/images/Resources section/SVGs/Clipboard Task List.svg'
                        style="position: relative;padding : 8px;" />
                </div>
                <div>
                <div class = "heading-shape">
                    <h2 class="margin-padding-none">Tutorials</h2>
                <img src="../../assets/images/Resources section/Shape.svg" />
                </div>
                    <p class="margin-padding-none paratext">From step-by-step guidelines to full-length video discourses. The Meshery
                        Community is loaded with adequate documentation and viewing content to fully onboard you and get
                        you contributing in no time.</p>
                </div>
            </div>

            <div class="mainCard">

                <div
                    style="position: relative; width: 11rem; height: 3rem; border-radius: 50%; place-items: center;display: grid; background-color: var(--color-primary-extra-dark); ">
                    <img height="28px" src='../../assets/images/Resources section/SVGs/Bookmark1.svg'
                        style="position: relative;padding : 6px;padding-left: 10px; padding-right: 10px;" />
                </div>
                <div>
                    <div class = "heading-shape">
                    <h2 class="margin-padding-none">Documentation </h2>
                    <img src="../../assets/images/Resources section/Shape.svg" />
                </div>
                    <p class="margin-padding-none paratext">As you continue to add 'layer5' to your present skill set, be ready to
                        scale up your
                        understanding of cloud native infrastructure since we setup workshops. Offer ebooks, and provide
                        a well-structured learning path.</p>
                </div>
            </div>
        </div>
        <div class="child margin-btm">

            <div class="mainCard">
                <div
                    style="position: relative; width: 10rem; height: 3rem; border-radius: 50%; place-items: center;display: grid; background-color: var(--color-primary-extra-dark); ">
                    <img height="33px" src='../../assets/images/Resources section/SVGs/Calendar.svg'
                        style="position: relative;padding : 8px;" />
                </div>
                <div>
                    <div class = "heading-shape">
                    <h2 class="margin-padding-none">Guidelines</h2>
                                    <img src="../../assets/images/Resources section/Shape.svg" />
                </div>
                    <p class="margin-padding-none paratext">We included ways for you to stay informed about new activities so that you
                        can participate fully. Depending on what time works best for you. One such way is to sync your
                        calender with our community schedule.</p>
                </div>
            </div>

            <div class="mainCard">

                <div
                    style="position: relative; width: 10rem; height: 3rem; border-radius: 50%; place-items: center;display: grid; background-color: var(--color-primary-extra-dark); ">
                    <img height="33px" src='../../assets/images/Resources section/SVGs/Rocket.svg'
                        style="position: relative;padding : 8px;" />
                </div>
                <div>
                    <div class = "heading-shape">
                    <h2 class="margin-padding-none">Early Access</h2>
                    <img src="../../assets/images/Resources section/Shape.svg" />
                </div>
                    <p class="margin-padding-none paratext">As a subsidiary of the layer5 company, contributing to Meshery will earn
                        you access
                        to test features and solutions in Beta mode, give reviews and implement changes that will
                        improve on current versions.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .paratext {
        font-size: 16px;
    }
.heading-shape {
    display: flex;
    justify-content: space-between;
}

    .sectionContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 50px;
        overflow: hidden;
        text-align: justify;
        font-family: "Qanelas Soft", "Open Sans", sans-serif !important;
    }

    .margin-padding-none {
        margin: 0;
        padding: 0;
    }

    .container-resources {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        column-gap: 3rem;
        row-gap: 2.5rem;
        margin-top: 1rem;
    }

    .child {
        display: flex;
        column-gap: 2.5rem;
        justify-content: space-between;
    }



    .mainCard {
        display: flex;
        column-gap: 1rem;
        justify-content: center;
        padding: 2rem;
        border-radius: 24px;
        background-color: var(--color-primary-medium);
        cursor: pointer;
        text-align: justify;
        flex: 1;
    }

    .mainCard:hover {
        background-color: var(--color-primary-extra-dark);
    }
    .head {
        margin-bottom: 1.25rem;
        margin-top: 8.06rem;
        padding: 0;
    }

    .paragraph {
        margin: 0;
        padding: 0;
        font-size: 16px;
    }
    .para2 {
        margin-bottom: 5em;
    }

    @media screen and (max-width:392px) {
        .container-resources {
            flex-direction: column;
        }

        .sectionContainer {
            padding-left: 20px;
            padding-right: 18px;

        }

        .child {
            display: flex;
            flex-direction: column;
            row-gap: 2.5rem;
        }

        .mainCard {
            width: 90%;

        }

        h2 {
            font-size: 1.5rem;
        }

        .paratext {
            font-size: 15px;
        }
    }


    @media screen and (max-width: 936px) {
        .container-resources {
            flex-direction: column;
        }
        .child {
            display: flex;
            flex-direction: column;
            flex:1;
            row-gap: 2.5rem;
        }

        h2 {
            font-size: 1.5rem;
        }


    }
    @media screen and (max-width:553px) {
     .child {
        width: 100%;
        justify-content: center;
        row-gap: 2.5rem;
     }
     .mainCard {
         width: 80%;
     }
        .paratext {
            font-size: 15px;
        }
    
    }
    @media  screen and (max-width: 500px) {
        .container-resources {
            padding-right: 2rem;
        }
        .child {
            width: 75%;
            row-gap: 2.5rem;
        }
        
    }
 .margin-btm {
    margin-bottom: 8.7rem;
 }

</style>