<!-- <div class="container">
    <div class="box">
      <div class="title"></div>
      <div class="description">Service Mesh Patterns enable the business function in simple language.</div>
      <div class="circlecont">
        <div class="circle"></div>
        <div class="hover-circles">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
      </div>
      <div class="action-btn">Patterns capture service mesh behavior in a single file and an end-user centric way. </div>
    </div>
  </div> -->

  <div class="feature-container">
    <div class="box">
      <div class="title">Templates</div>
      <!-- <div class="description">Service Mesh Patterns enable the business function in simple language.</div> -->
      <div class="circlecont">
        <div class="circle"></div>
        <div class="hover-circles">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
      </div>
      <div class="action-btn"></div>
      <div class="description">Service Mesh Patterns enable the business function in simple language.</div>
    </div>
  </div>