<h1 class="catalog-heading" style="padding-bottom: 0.5rem;">Cloud Native Catalog</h1>
{% include help-modal.html %}
<div class="features-container">

  <div class="feature-container">
    <div class="box">
      <div class="title pattern">Patterns</div>
      <img class="patterns-coming-soon hidden" src="{{site.baseurl}}/assets/images/coming-soon.png" />
      <div class="circlecont">
        <div class="circle"></div>
        <div class="hover-circles">
          <div class="circle"><img src="/assets/images/logos/service-mesh-pattern.svg" /></div>
          <div class="circle"><img src="/assets/images/logos/service-mesh-pattern.svg" /></div>
          <div class="circle"><img src="/assets/images/logos/service-mesh-pattern.svg" /></div>
          <div class="circle"><img src="/assets/images/logos/service-mesh-pattern.svg" /></div>
          <div class="circle"><img src="/assets/images/logos/service-mesh-pattern.svg" /></div>
        </div>
      </div>
    </div>
    <div class="description pattern">Cloud native patterns enable the business function in simple language.</div>
   </div>

   <div class="feature-container">
    <div class="box">
      <div class="title wasm">Filters</div>
      <img class="patterns-coming-soon hidden" src="{{site.baseurl}}/assets/images/coming-soon.png" />
      <div class="circlecont">
        <div class="circle"></div>
        <div class="hover-circles">
          <div class="circle"><img src="/assets/images/webassembly_logo.svg" /></div>
          <div class="circle"><img src="/assets/images/webassembly_logo.svg" /></div>
          <div class="circle"><img src="/assets/images//webassembly_logo.svg" /></div>
          <div class="circle"><img src="/assets/images/webassembly_logo.svg" /></div>
          <div class="circle"><img src="/assets/images/webassembly_logo.svg" /></div>
        </div>
      </div>
    </div>
    <div class="description wasm">Embedded in the data plane of a service mesh, WebAssembly filters offer fine-grained control over service requests.</div>
   </div>
   <div class="feature-container">
    <div class="box">
      <div class="title ebpf">Programs</div>
      <img class="patterns-coming-soon" src="{{site.baseurl}}/assets/images/coming-soon.png" />
      <div class="circlecont">
        <div class="circle"></div>
        <div class="hover-circles">
          <div class="circle"><img id="logo-dark-light" data-logo-for-dark="/assets/images/ebpf-dark-logo.png" data-logo-for-light="/assets/images/ebpf-logo.svg" src="/assets/images/ebpf-logo.svg" /></div>
          <div class="circle"><img id="logo-dark-light" data-logo-for-dark="/assets/images/ebpf-dark-logo.png" data-logo-for-light="/assets/images/ebpf-logo.svg" src="/assets/images/ebpf-logo.svg" /></div>
          <div class="circle"><img id="logo-dark-light" data-logo-for-dark="/assets/images/ebpf-dark-logo.png" data-logo-for-light="/assets/images/ebpf-logo.svg" src="/assets/images/ebpf-logo.svg" /></div>
          <div class="circle"><img id="logo-dark-light" data-logo-for-dark="/assets/images/ebpf-dark-logo.png" data-logo-for-light="/assets/images/ebpf-logo.svg" src="/assets/images/ebpf-logo.svg" /></div>
          <div class="circle"><img id="logo-dark-light" data-logo-for-dark="/assets/images/ebpf-dark-logo.png" data-logo-for-light="/assets/images/ebpf-logo.svg" src="/assets/images/ebpf-logo.svg" /></div>
        </div>
      </div>
    </div>
    <div class="description ebpf">Embedded in the data plane of a service mesh, eBPF programs performant, fine-grained control over service requests.</div>
   </div>
  
   <div class="feature-container">
    <div class="box">
      <div class="title OPA">Policies</div>
      <img class="patterns-coming-soon" src="{{site.baseurl}}/assets/images/coming-soon.png" />
      <div class="circlecont">
        <div class="circle"></div>
        <div class="hover-circles">
          <div class="circle"><img src="/assets/images/opa-logo.svg" /></div>
          <div class="circle"><img src="/assets/images/opa-logo.svg" /></div>
          <div class="circle"><img src="/assets/images/opa-logo.svg" /></div>
          <div class="circle"><img src="/assets/images/opa-logo.svg" /></div>
          <div class="circle"><img src="/assets/images/opa-logo.svg" /></div>
        </div>
      </div>
    </div>
    <div class="description opa">Applied across the cloud native infrastructure under management, policies may be applied broadly and specificly.</div>
   </div>
</div>
