<div class="title-and-filter-btns">
	<div class="filter-btns">
		<button class="all">
			Filter<img
				src="{{ '/assets/images/filter-button.svg' | relative_url }}"
				alt="filter-icon"
				class="filter-icon"
			/>
		</button>
		<div class="filter-drop-down">
			<a href="{{ '/community/members' | relative_url }}">All</a>

			<a href="{{ '/community/active/members' | relative_url }}" class="active-btn">
				<div class="active-filter-color filter-color"></div>
				Active
			</a>

			<a href="{{ '/community/inactive/members' | relative_url }}" class="inactive-btn">
				<div class="inactive-filter-color filter-color"></div>
				In-Active
			</a>

			<a href="{{ '/community/meshmates' | relative_url }}">
				<img
					src="{{ '/assets/images/meshmate-icon.svg' | relative_url }}"
					alt="meshmate-icon"
					class="meshmate-icon"
				/>
				MeshMate</a
			>
		</div>
	</div>
</div>
