<div class="title-and-filter-btns">
	<div class="filter-btns">
		<button class="all">
			Filter<img
				src="../../assets/images/filter-button.svg"
				alt="filter-icon"
				class="filter-icon"
			/>
		</button>
		<div class="filter-drop-down">
			<a href="/community/members">All</a>

			<a href="/community/active/members" class="active-btn">
				<div class="active-filter-color filter-color"></div>
				Active
			</a>

			<a href="/community/inactive/members" class="inactive-btn">
				<div class="inactive-filter-color filter-color"></div>
				In-Active
			</a>

			<a href="/community/meshmates">
				<img
					src="../../assets/images/meshmate-icon.svg"
					alt="meshmate-icon"
					class="meshmate-icon"
				/>
				MeshMate</a
			>
		</div>
	</div>
</div>
