<div class="community-details">
    <ul>
      <ol><b>What is Layer5 Community?</b></ol>
      <ol>{{ page.community_what }}</ol>
    </ul>
    <ul>
      <ol><b>Is it Open Source?</b></ol>
      <ol>{{ page.community_open_source }}</ol>
    </ul>
    <ul>
      <ol><b>Google Summer of Code Participation?</b></ol>
      <ol>{{ page.community_gsoc_participation }}</ol>
    </ul>
    <ul>
      <ol>{{ page.community_belief }}</ol>
    </ul>
    <a href="https://slack.meshery.io">
      <input type="button" value="Participate" class="participate-btn disappear" />
    </a>
</div>
  