<style>
    .sorting-options {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 600px;
    }

    #sort {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f9f9f9;
        appearance: none;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px"><path d="M7 10l5 5 5-5z"/></svg>');
        background-repeat: no-repeat;
        background-position: right 10px top 50%;
        margin-right: 10px;
    }

    #search-container {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 500px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-right: 10px;
        overflow: hidden;
    }

    #search {
        flex-grow: 1;
        height: 40px;
        padding: 10px 40px 10px 10px;
        border: none;
        font-size: 16px;
        box-sizing: border-box;
        outline: none;
    }

    #search-btn {
        width: 80px;
        height: 40px;
        background-color: green;
        border: none;
        color: #fff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        margin-left: 10px;
    }

    #search-btn svg {
        fill: #fff;
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    #integContainer {
        column-gap: max(2vh, 2vw); 
        row-gap: 1.5rem; 
        display: flex; 
        flex-wrap: wrap; 
        padding-bottom: 3.5rem;
    }

    @media (max-width: 506px) {
        .sorting-options {
            text-align: center;
            flex-direction: column;
        }

        #sort, #search-container, #search-btn {
            margin: 5px 0;
        }

        #search-container {
            max-width: 100%;
        }
    }
</style>

<div class="integrations-heading">
    <div class="parallel-left"></div>
    <div class="parallel-right"></div>
    <h1 id="integration-heading"></h1>
    <h2>for your Cloud Native Infrastructure and Apps</h2>
    <p>
        Meshery seamlessly integrates with every CNCF project, your existing tools, multiple Clouds and Kubernetes clusters.
    </p>

    <div class="sorting-options">
        <select id="sort">
            <option disabled selected value>Sort by</option>
            <option value="asc">Alphabetically (A-Z)</option>
            <option value="desc">Alphabetically (Z-A)</option>
        </select>

        <div id="search-container">
            <input type="text" id="search" placeholder="Search..." />
        </div>

        <button class="highlight" aria-label="Search">Next</button>
    </div>

    <div id="integContainer" class="integrations-container container"></div>

    <div class="integrations-3d-link">
        <div class="button-container">
            <a class="highlight show-all-button toggle-text">Show More Integrations</a>
            <a class="highlight show-all-button" href="/integrations">View Integrations in 3D</a>
        </div>
    </div>

    <script type="module">
        // integrations.js
        import data from '../../integrations/data.js';

        const integHeading = document.getElementById("integration-heading");
        const roundedIntegNumber = Math.floor(data.length / 10) * 10;
        integHeading.textContent = `${roundedIntegNumber}+ Built-In Integrations`;

        const integContainer = document.getElementById("integContainer");

        let allDataShown = false;

        function renderIntegrationCards(data, showAll) {
            const cardsToShow = showAll ? data.length : 40;
            return data.slice(0, cardsToShow).map(item => {
                const iconURL = item.color.split('/').slice(1).join('/');

                return `
                    <a href="${item.permalink}" class="integrations-card">
                    <div class="integrations-card-inner">
                    <div class="card-front">
                    <img src="${iconURL}" loading="lazy" id="logo-dark-light"
                    data-logo-for-dark="${iconURL}"
                    data-logo-for-light="${iconURL}" />
                    </div>
                    <div class="card-back">
                    <p> ${item.name} </p>
                    </div>
                    </div>
                    </a>`;
            }).join('');
        }

        const scrollOptions = { behavior: "smooth" };

        integContainer.innerHTML = renderIntegrationCards(data, allDataShown);

        document.querySelector(".show-all-button").addEventListener("click", () => {
            allDataShown = !allDataShown;

            const button = document.querySelector(".toggle-text");

            if (allDataShown) {
                button.textContent = "See Less Integrations";
            } else {
                button.textContent = "Show More Integrations";
            }

            integContainer.innerHTML = renderIntegrationCards(data, allDataShown);

            if (!allDataShown) {
                const h2Tag = document.querySelector("h2");
                h2Tag.scrollIntoView(scrollOptions);
            }
        });

        document.getElementById("sort").addEventListener("change", function () {
            var sortValue = this.value;
            var sortedData = [...data];

            if (sortValue === "asc") {
                sortedData.sort((a, b) => a.name.localeCompare(b.name));
            } else if (sortValue === "desc") {
                sortedData.sort((a, b) => b.name.localeCompare(a.name));
            }

            integContainer.innerHTML = renderIntegrationCards(sortedData, allDataShown);
        });

        document.getElementById("search").addEventListener("input", function () {
            var searchValue = this.value.toLowerCase();
            var filteredData = data.filter((item) =>
                item.name.toLowerCase().includes(searchValue)
            );

            integContainer.innerHTML = renderIntegrationCards(filteredData, allDataShown);
        });
    </script>
</div>
