{% assign pattern = page %}
<div class="single-page">
  <div class="modal-image-container">

    <h4>{{page.collection | slice: 0, 9 | capitalize }} Details</h4>
      <!-- {% for category in include.pattern.type %}
        <div>
        <span class="pattern-type">
          
          {% if category == "wasm filter" %}
          <a style="text-decoration: none; color: #333;" href="{{ site.baseurl }}/catalog/webassembly">{{ category }}</a>
          {% else %}
          <a style="text-decoration: none; color: #333;" href="{{ site.baseurl }}/catalog/{{ category | slugify }}">{{ category }}</a>
          {% endif %}
        </span>
        </div>
      {% endfor %} -->
      <div style="display:flex; flex-direction: flex-start;">
        <ul style="list-style: none; padding:0rem; margin:0rem;" class="catalog-item-detail">

          <li><p>CATEGORY</p>
            <div>{{pattern.type}}</div>
          </li>

          <li><p>UUID</p>
            <div>{{pattern.patternId}}</div>
          </li>

          <li><p>CREATED BY</p>
            <div><a href="https://cloud.meshery.io/user/{{include.pattern.userId}}">{{include.pattern.userName}}</a></div>
          </li>
      
          <li><p>UPDATED AT</p>
            <div>{{ include.pattern.date | date: "%B %d, %Y" }}</div>
          </li>
    
          <li><p>VERSION</p>
            <div>{{pattern.publishedVersion}}</div>
          </li>
          <li>
            <p>MODELS</p>
            <div>
              {% for item in pattern.compatibility %}
              {% assign item_slug = item | slugify %}
              <a href="{{ '/catalog/models/' | append: item_slug | relative_url }}">
                {{ item | capitalize }}
              </a>
              {% unless forloop.last %}, {% endunless %}
              {% endfor %}
            </div>
          </li>
      </ul>
    </div>

    <div class="modal-image-single">
      <h4>Design Snapshot</h4>
      <img class="pattern-snapshot"
      src="https://raw.githubusercontent.com/meshery-extensions/meshery-extensions-packages/master/action-assets/design-assets/{{pattern.patternId}}-light.png" 
      onerror="this.src='{{ '/assets/images/logos/service-mesh-pattern.svg' | relative_url }}'" loading="lazy" onclick="toggleFullScreenImage('{{ pattern.patternId }}-light')"/>

      <h4 class="related-patterns">Related Designs</h4>
      <!-- MINICARD-START -->
      {% include related-patterns.html %}

    </div>
  </div>
  <!-- MINICARD-END -->

  {% assign info = pattern.patternInfo | default: pattern.filterInfo %}
  {% assign caveats = pattern.patternCaveats | default: pattern.filterCaveats %}
  {% assign info_blank = info == '""' or info | strip == '' %}
  {% assign caveats_blank = caveats == '""' or caveats | strip == '' %}
  <div>
    <h3>{% if pattern.filterInfo %}What This Filter Does:{% else %}What This Design Does:{% endif %}</h3>
    {% unless info_blank %}
      <p class="pre-white-space">{{info | url_decode}}</p>
    {% else %}
      <p class="pre-white-space"><em>No description available.</em></p>
    {% endunless %}
    <h3>Caveats and Consideration:</h3>
    {% unless caveats_blank %}
      <p class="pre-white-space">{{caveats | url_decode}}</p>
    {% else %}
      <p class="pre-white-space"><em>No description available.</em></p>
    {% endunless %}
    <h3>Compatibility:</h3>
      <br />
      {% include partials/compatibility.html%}
      <br />
      {% include copy-and-download.html %}
    </div>
    
  </div>
  {%if false %}
  {% include related-discussion.html tag="meshery" %}
  {% endif %}
</div>

<script>
  document.title = "{{pattern.name}} | Meshery Catalog";
</script>
<script src="{{ site.baseurl }}/assets/js/thumbnail-clickable.js"></script>
`
