{% assign pattern = page %}
<div class="modal-image-container"><div class="modal-image" ><img src="{{pattern.image}}" /> <h4 class="related-patterns">Related Patterns</h4>
<!-- MINICARD-START -->
{% include related-patterns.html %}


</div>
</div>
<!-- MINICARD-END -->

{%if pattern.patternInfo%}
  <h4>What this pattern does:</h4><p>{{pattern.patternInfo}}</p>
  <h4>Caveats and Consideration: </h4><p>{{pattern.patternCaveats}}</p></p>
{%else%}
  <h4>What this pattern does:</h4><p>{{pattern.filterInfo}}</p>
  <h4>Caveats and Consideration: </h4><p>{{pattern.filterCaveats}}</p></p>
{%endif%}
<h4>Compatibilty:</h4>

{% include partials/compatibility.html%}
{% include copy-and-download.html %}


