<div class="contributor flex"> 
    <div class="container {% if page.full_width %}max-container{% endif %}">
        <h2>MeshMate Members</h2>
        <p>A warm and welcoming collection of open sourcers.</p>
        <a href="https://slack.meshery.io/" style="text-decoration: none !important;">
          <h4 style="text-align:center;color:aliceblue;">
            <input style="padding-bottom:30px;padding-top:10px;width:250px; margin-left: auto; margin-right: auto;" type="submit" value="Join the Community">
          </h4>
        </a>

        {% include partials/filter-members.html %}

        <ul class="contributor">  
        <!-- List all Contributors -->
            {% for page in site.contributors %}
                {% if page.layout != 'archive' %}
                {% if page.MeshMate %}
                <li>
                    <div class="square-image">
                        <a href="{{ page.url }}">
                        <img {% if page.status == "Active" %} class="b-active" {% else %} class="b-inactive" {% endif %} src="{% include relative-src.html src=page.image_path %}" alt="{{ page.name }}"/>        
                        </a>
                    </div>
                    <div class="names">{{ page.name }}</a></div>

                    {% if page.twitter %}

                        <div class="twitter"><img src="{% include relative-src.html src='../assets/images/social/twitter.png'%}"> 
                            <a target="_blank" href="https://twitter.com/{{ page.twitter }}">{{ page.twitter }}</a></div>

                    {% endif %}
                    {% if page.github %}
                        
                        <div class="github"><img src="{% include relative-src.html src='../assets/images/social/github.png'%}"> 
                            <a target="_blank" href="https://github.com/{{ page.github }}">{{ page.github }}</a></div>

                    {% endif %}
                    
                </li>
                {% endif %}
                {% endif %}
            {% endfor %}

            <!-- List a specific contributor -->
        </ul>
    </div>	
</div>
