{% if pttrn.Status == "ComingSoon" %}
    <!-- {% include partials/mini-coming-soon.html %} -->
{% else %}
    <div class="modal-card">
        <div class="modal-chip">
            <small class="modal-pattern-type">{{ pttrn.type }}</small>
        </div>
        <h5 class="modal-pattern-name">{{ pttrn.name }}</h5>
        <div class="pattern-image-container">
            <img class="modal-pattern-image" 
                 src="https://raw.githubusercontent.com/layer5labs/meshery-extensions-packages/master/action-assets/design-assets/{{ pttrn.patternId }}-light.png"
                 onerror="this.src='/assets/images/logos/service-mesh-pattern.svg'"
                 loading="lazy" />
        </div>
        <div>
        <h6 class="modal-pattern-id">
          <!-- <img class="modal-smp"
        src="{{site.baseurl}}/assets/images/logos/service-mesh-pattern.svg"
        loading="lazy" />  -->
        {% assign bigPatId = pttrn.patternId%}
        {% assign patId = bigPatId | split: "-" %}

        {% if patId[2] %}
          MESHERY{{patId[2]}}
        {%else%}
          {{pttrn.patternId}}
        {% endif %}</h6>
        </div>
    </div>
{% endif %}
