{% if pttrn.Status == "ComingSoon" %}
    <!-- {% include partials/mini-coming-soon.html %} -->
{% else %}
    <div class= "modal-card">
        <div class="modal-chip">
            <small class="modal-pattern-type"> {{pttrn.filters.type}}</small>
        </div>
        <h5 class="modal-pattern-name">{{pttrn.name}}</h5>
        <img class= "modal-pattern-image" src="{{pttrn.image}}"/>
        <div>
        <h6 class="modal-pattern-id">
        <img class="modal-smp"
        src="{{site.baseurl}}/images/logos/service-mesh-pattern.svg"
        loading="lazy" />{{pttrn.patternId}}</h6>
        </div>
    </div>
{% endif %}
