<div class="container flex"> 
    <div class="text ">
        <div style="display: flex;">
<img src="{{ site.baseurl }}/images/logos/service-mesh-pattern.svg"
        alt="Service Mesh Patterns with Open Application Model"
        style="max-width:35%; text-align: center;margin-bottom:30px;"
     />
    <img src="{{ site.baseurl }}/images/logos/oam.svg"
        alt="Service Mesh Patterns with Open Application Model"
        style="max-width:60%; text-align: center;margin-top:10px;"
     />
        </div>
          
    <span>    
    <h2>Access the full catalog of <strong>Service Mesh Patterns</strong></h2>
    <p>Describe all of your cloud native infrastructure and manage as a pattern.
    <!-- <div align="center">
        See <a href="https://layer5.io/learn/service-mesh-books/service-mesh-patterns">Service Mesh Patterns</a>.
        https://github.com/service-mesh-patterns
    </div> -->
    </p>
    </span>
    </div>
    <div class="image flex" style="flex-flow: row wrap;">
        <!-- <a href="{{ site.baseurl }}/images/patterns/pattern-circuit-break.svg"
            data-caption="Circuit Breaker Service Mesh Patterns with Open Application Model"> -->
            <img src="{{ site.baseurl }}/images/patterns/pattern-circuit-break.svg"
                alt="Circuit Breaker Service Mesh Patterns with Open Application Model" />
        <!-- </a> -->
        <br />
        <div style="text-align: center;
        font-style: italic;">
        SMP087: Circuit breaker pattern 
        <!-- <a href="https://layer5.io/learn/service-mesh-books/service-mesh-patterns">Service Mesh Patterns</a>. -->
        <!-- https://github.com/service-mesh-patterns -->
    </div>
    </div>
</div>
      
