<div class="dropdown">
  <button class="dropbtn"><img
    src="../../images/filter-line.svg"
    alt="filter-icon"
    class="filter-icon"
/>Filter</button>
  <div class="dropdown-content">
    <a href="/service-mesh-catalog"><img class="dropdown-icon-all" src="{{site.baseurl}}/images/select-all.svg"/>All</a>
    <a href="#" class="disabled-option"><b class="disabled-text">TYPES</b></a>
    <a href="/service-mesh-catalog/deployment"><img class="dropdown-icon" src="{{site.baseurl}}/images/patterns/service-mesh.svg" />Deployment</a>
    <a href="/service-mesh-catalog/trafficManagement"><img class="dropdown-icon" src="{{site.baseurl}}/images/patterns/service-mesh.svg" />Traffic Management</a>
    <a href="#" class="disabled-option"><b class="disabled-text">COMPATIBILITY</b></a>
    <a href="/service-mesh-catalog/istio"><img class="dropdown-icon-mesh" src="{{site.baseurl}}/images/istio.svg" />Istio</a>
    <a href="/service-mesh-catalog/Linkerd"><img class="dropdown-icon-mesh" src="{{site.baseurl}}/images/linkerd.svg" />Linkerd</a>
  </div>
</div>
