<div class="container flex"> 
    <div class="text ">
        <div style="display: flex;">
            <img src="{{ site.baseurl }}/images/logos/service-mesh-pattern.svg"
                alt="Service Mesh Patterns with Open Application Model"
                style="max-width:35%; text-align: center;margin-right:5px;"
            />          
            <span>    
            <h2>Access the full catalog of <strong>Service Mesh Patterns</strong></h2>
            </span>
            </div>
            <p>Describe all of your cloud native infrastructure and manage as a pattern. Design your service mesh configuration and workload deployments. Apply intelligent canary strategies and performance profiles with service mesh <a href="https://docs.meshery.io/functionality/pattern-management">pattern management</a>. 
                <img src="{{ site.baseurl }}/images/logos/oam.svg"
                alt="Service Mesh Patterns with Open Application Model"
                style="max-width: 15%; margin: 0px; text-align: center;" />
            </p>    
        </div>
        <div class="image flex" style="flex-flow: row wrap;">
                <img src="{{ site.baseurl }}/images/patterns/pattern-circuit-break.svg"
                    alt="Circuit Breaker Service Mesh Patterns with Open Application Model" />
            <br />
            <div style="text-align: center;
            font-style: italic;">
                SMP087: Circuit breaker pattern 
        </div>
    </div>
</div>
      
