<div class="container flex"> 
    <div class="text ">
        <div style="display: flex;">
            <img src="{{ site.baseurl }}/images/patterns/service-mesh-patterns-side.svg"
                alt="Service Mesh Patterns with Open Application Model"
                style="max-width:90%; text-align: center;"
                loading="lazy"
            />          
            <span></div> 
            <h2>Access the full catalog of <strong>Service Mesh Patterns</strong></h2>
            </span>
            
            <p>Describe all of your cloud native infrastructure and manage as a pattern. Design your service mesh configuration and workload deployments. Apply intelligent canary strategies and performance profiles with service mesh <a href="https://docs.meshery.io/functionality/pattern-management">pattern management</a>.
                <!-- <img src="{{ site.baseurl }}/images/logos/oam.svg"
                alt="Service Mesh Patterns with Open Application Model"
                style="max-width: 15%; margin: 0px; text-align: center;" loading="lazy"/> -->
            </p>
            <div align="center" class="button-para" style="margin-top: 3rem;">
                <a class="link recording-link">See service mesh patterns in-action</a>
                <p style="font-size: 1rem;color:#666;font-style: italic;">(video excerpt)</p>
            </div>
            <div id="open-modal" class="modal-window">
                <div class ="modal-content">
                  <button class = "modal-close close">&times;</button>
                  <h1>Service Mesh Patterns</h1>
                  <div>
                      <video controls="controls" src="/images/patterns/service-mesh-patterns-clip.mov"
                      width="450" height="300">
                      Sorry, your browser doesn't support embedded videos,
but don't worry, you can <a href="/images/patterns/service-mesh-patterns-clip.mov">download it</a>
and watch it with your favorite video player      
                      </video>
                  </div>
                </div>
            </div>
        </div>
        <div class="image flex" style="flex-flow: row wrap;">
                <img src="{{ site.baseurl }}/images/patterns/pattern-circuit-break.svg"
                    alt="Circuit Breaker Service Mesh Patterns with Open Application Model" loading="lazy" />
            <br />
            <div style="text-align: center;
            font-style: italic;
            font-weight: bold;
            padding: 75px;">
                SMP087: Circuit breaker pattern 
        </div>
    </div>
</div>

      
