<figure class="tabcontent hierarchical" id="hierarchical" style="margin:0;" data-fancybox="images" data-caption="Hierarchical - Inventory: Namespace and ConfigMap" href="https://docs.meshery.io/assets/img/meshmodel/relationships/hierarchical_inventory_relationship.svg"><br>
    <img alt="Hierarchical - Inventory: Namespace and ConfigMap" src="https://docs.meshery.io/assets/img/meshmodel/relationships/hierarchical_inventory_relationship.svg" style="display:block;width:100%;background:none;padding-bottom: 20px;margin-left:auto;margin-right: auto;">
    <figcaption style="text-align: center;padding-top:.2em;color:var(--color-secondary-dark);margin-top: -2.4em">Hierarchical - Inventory: Namespace and ConfigMap</figcaption>
</figure>

<figure class="tabcontent hierarchical" id="hierarchical" style="margin:0;" data-fancybox="images" data-caption=" Hierarchical - Parent: Namespace (Parent) and ConfigMap (child), Role (Child)" href="https://docs.meshery.io/assets/img/meshmodel/relationships/hierarchical_parent_relationship.svg"><br>
    <img alt=" Hierarchical - Parent: Namespace (Parent) and ConfigMap (child), Role (Child)" src="https://docs.meshery.io/assets/img/meshmodel/relationships/hierarchical_parent_relationship.svg" style="display:block;width:100%;background:none;padding-bottom: 20px;margin-left:auto;margin-right: auto;">
    <figcaption style="text-align: center;padding-top:.2em;color:var(--color-secondary-dark);margin-top: -2.4em"> Hierarchical - Parent: Namespace (Parent) and ConfigMap (child), Role (Child) </figcaption>
</figure>

<figure class="tabcontent edge" id="edge" style="margin:0;display: none;" data-fancybox="images" data-caption="Edge - Mount: Pod and Persistent volume via Persistent volume claim" href="https://docs.meshery.io/assets/img/meshmodel/relationships/edge_mount_relationship_pod_persistent_volume.svg"><br>
    <img alt="Edge - Mount: Pod and Persistent volume via Persistent volume claim" src="https://docs.meshery.io/assets/img/meshmodel/relationships/edge_mount_relationship_pod_persistent_volume.svg" style="display:block;width:100%;background:none;padding-bottom: 20px;margin-left:auto;margin-right: auto;">
    <figcaption style="text-align: center;padding-top:.2em;color:var(--color-secondary-dark);margin-top: -2.4em">Edge - Mount: Pod and Persistent volume via Persistent volume claim</figcaption>
</figure>

<figure class="tabcontent edge" id="edge" style="margin:0;display: none;" data-fancybox="images" data-caption=" Edge - Network: Ingress to Service" href="https://docs.meshery.io/assets/img/meshmodel/relationships/edge_network_ingress_to_service_relationship.svg"><br>
    <img alt="Edge - Network: Ingress to Service" src="https://docs.meshery.io/assets/img/meshmodel/relationships/edge_network_ingress_to_service_relationship.svg" style="display:block;width:100%;background:none;padding-bottom: 20px;margin-left:auto;margin-right: auto;">
    <figcaption style="text-align: center;padding-top:.2em;color:var(--color-secondary-dark);margin-top: -2.4em"> Edge - Network: Ingress to Service</figcaption>
</figure>

<figure class="tabcontent edge" id="edge" style="margin:0;display: none;" data-fancybox="images" data-caption="Edge - Permission: Cluster Role to Service Account" href="https://docs.meshery.io/assets/img/meshmodel/relationships/edge_permission_relationship_cluster_role_service_account.svg"><br>
    <img alt="Edge - Permission: Cluster Role to Service Account" src="https://docs.meshery.io/assets/img/meshmodel/relationships/edge_permission_relationship_cluster_role_service_account.svg" style="display:block;width:100%;background:none;padding-bottom: 20px;margin-left:auto;margin-right: auto;">
    <figcaption style="text-align: center;padding-top:.2em;color:var(--color-secondary-dark);margin-top: -2.4em"> Edge - Permission: Cluster Role to Service Account</figcaption>
</figure>

 <figure class="tabcontent sibling" id="sibling" style="margin:0;display: none;width: 60%;" data-fancybox="images" data-caption="Hierarchical - Sibling: Matching Label Selectors" href="https://docs.meshery.io/assets/img/meshmodel/relationships/sibling_relationship.png"><br>
        <img  alt="Hierarchical - Sibling: Matching Label Selectors" src="https://docs.meshery.io/assets/img/meshmodel/relationships/sibling_relationship.png" style="display:block;width:100%;height:100%;background:none;padding-bottom: 20px;margin-left:auto;margin-right: auto;object-fit: cover;">
        <figcaption style="text-align: center;padding-top:.2em;color:var(--color-secondary-dark);">Hierarchical - Sibling: Matching Label Selectors</figcaption>
</figure>



