<figure class="tabcontent hierarchical" id="hierarchical" data-fancybox="images" data-caption="Example: Kubernetes Deployment with ConfigMap applied" href="https://docs.meshery.io/assets/img/meshmodel/relationships/hierarchical_inventory_relationship.svg"><br>
    <img alt="Example: Kubernetes Deployment with ConfigMap applied" src="{{ site.baseurl }}/assets/images/features/relationships/hierarchical_inventory_relationship.svg">
    <figcaption>Example: Kubernetes Deployment with ConfigMap applied</figcaption>
</figure>

<figure class="tabcontent hierarchical" id="hierarchical" data-fancybox="images" data-caption=" Hierarchical - Parent: Namespace (Parent) and ConfigMap (child), Role (Child)" href="https://docs.meshery.io/assets/img/meshmodel/relationships/hierarchical_parent_relationship.svg"><br>
    <img alt=" Hierarchical - Parent: Namespace (Parent) and ConfigMap (child), Role (Child)" src="{{ site.baseurl }}/assets/images/features/relationships/hierarchical_parent_relationship.svg">
    <figcaption> Hierarchical - Parent: Namespace (Parent) and ConfigMap (child), Role (Child) </figcaption>
</figure>

<figure class="tabcontent edge" id="edge" data-fancybox="images" data-caption="Kubernetes Pod with Persistent Volume mounted via Persistent Volume Claim" href="https://docs.meshery.io/assets/img/meshmodel/relationships/edge_mount_relationship_pod_persistent_volume.svg"><br>
    <img alt="Kubernetes Pod with Persistent Volume mounted via Persistent Volume Claim" src="{{ site.baseurl }}/assets/images/features/relationships/edge_mount_relationship_pod_persistent_volume.svg" style="display:block;">
    <figcaption>Example: Kubernetes Pod with Persistent Volume mounted via Persistent Volume Claim</figcaption>
</figure>

<figure class="tabcontent edge" id="edge" data-fancybox="images" data-caption="Kubernetes Ingress mapped a Service" href="https://docs.meshery.io/assets/img/meshmodel/relationships/edge_network_ingress_to_service_relationship.svg"><br>
    <img alt="Kubernetes Ingress mapped a Service" src="{{ site.baseurl }}/assets/images/features/relationships/edge_network_ingress_to_service_relationship.svg">
    <figcaption>Example: Kubernetes Ingress mapped a Service</figcaption>
</figure>

<figure class="tabcontent edge" id="edge" data-fancybox="images" data-caption="Kubernetes Cluster Role assigned to a Service Account" href="https://docs.meshery.io/assets/img/meshmodel/relationships/edge_permission_relationship_cluster_role_service_account.svg"><br>
    <img alt="Kubernetes Cluster Role assigned to a Service Account" src="{{ site.baseurl }}/assets/images/features/relationships/edge_permission_relationship_cluster_role_service_account.svg">
    <figcaption>Example: Kubernetes Cluster Role assigned to a Service Account</figcaption>
</figure>

 <figure class="tabcontent sibling" id="sibling" data-fancybox="images" data-caption="Kubernetes Service and Deployment with matching label selectors" href="https://docs.meshery.io/assets/img/meshmodel/relationships/sibling_relationship.svg"><br>
        <img  alt="Kubernetes Service and Deployment with matching label selectors" src="{{ site.baseurl }}/assets/images/features/relationships/sibling_relationship.svg">
        <figcaption>Example: Kubernetes Service and Deployment with matching label selectors</figcaption>
</figure>



<style>
    .hierarchical,
    .edge,
    .sibling {
        margin: 0;
    }

    .hierarchical figcaption,
    .edge figcaption,
    .sibling figcaption {
        text-align: center;
        padding-top: .2em;
        color: var(--color-secondary-dark);
    }

    .hierarchical img,
    .edge img,
    .sibling img {
        display: block;
        width: 100%;
        background: none;
        padding-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;
    }

    .edge,
    .sibling {
        display: none;
    }
</style>