---
title: Blog
description: Keep up with the latest news.
paginate:
  collection: posts
  paginate: 2
  permalink: /page/:num/
---

<div class="text-container">
  <div class="section-bar"><h1>Blog</h1></div>
  <ul class="blog-posts">
    {% include list-posts.html posts=paginator.posts %}
  </ul>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    <div class="previous-btn">
      {% if paginator.previous_page %}
        <a href="{% include relative-src.html src=paginator.previous_page_path %}">&larr; Newer posts</a>
      {% endif %}
    </div>
    
    <span class="page_number">{{ paginator.page }} of {{ paginator.total_pages }}</span>
    
    <div class="next-btn">
      {% if paginator.next_page %}
        <a href="{% include relative-src.html src=paginator.next_page_path %}">Older posts &rarr;</a>
      {% endif %}
    </div>
  </div>
  
  {% endif %}
</div>

