---
title: Blog
description: Keep up with the latest news.
paginate:
  collection: posts
  paginate: 3
  permalink: /page/:num/
---

<div class="text-container">
  <div class="section-bar"><a href="/blog"><h1>Blog</h1></a></div>
  <ul class="blog-posts">
    {% include list-posts.html posts=paginator.posts %}
  </ul>

  {% if paginator.total_pages > 1 %}
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
    <a
      href="{% include relative-src.html src=paginator.previous_page_path %}"
      class="previous btn"
      >&larr; Newer posts</a
    >
    {% endif %}

    <span class="page_number"
      >{{ paginator.page }} of {{ paginator.total_pages }}</span
    >

    {% if paginator.next_page %}
    <a
      href="{% include relative-src.html src=paginator.next_page_path %}"
      class="next btn"
      >Older posts &rarr;</a
    >
    {% endif %}
  </div>
  {% endif %}
</div>
