<section>
    <div class="container flex">
        <div class="text ">
                <!-- <img src="{{ site.baseurl }}/assets/images/opa-logo.svg"
                    style="max-width:30%;position:relative;float:left;
                    margin-right:20px;margin-bottom: 10px;"
                    alt="Unified policy engine" loading="lazy"/> -->
            <h2>Platform Engineering with Meshery's<span class="special-text">Extension Points</span></h2>
            <p>Meshery includes both REST APIs and GraphQL APIs, pluggable adapters via gRPCs, hot-loadable ReactJS and hot-loadable Golang binaries. The great number of <a style="width: auto;" href="https://docs.meshery.io/extensibility">extension points</a> in Meshery make it ideal as the foundation of your internal deleloper platform.
                <!-- <br>
            <div align="center" class="button-para" style="margin-top: 2rem;">
            <a href="https://github.com/layer5io/image-hub" class="link">See Image Hub</a>
            </div> -->
            </p>
        </div>
        <div class="image flex">
            <a style="width: auto;" href="https://docs.meshery.io/extensibility" data-fancybox="images"
                data-caption="Webassembly based Envoy Filters">
                <img src="{{ site.baseurl }}assets/images/features/meshery-platform-engineering.webp" style="max-width:100%"
                    alt="Meshery the Internal Developer Platform" loading="lazy"/>
            </a>
        </div>
    </div>
</section>