{% for entry in pattern.filters.compatibility %}
{% if entry == "Istio" %}
<img class="service-mesh-image" src="{{site.baseurl}}/images/istio.svg" />
{% endif %}
{% if entry == "Linkerd" %}
<img class="service-mesh-image" src="{{site.baseurl}}/images/linkerd.svg" />
{% endif %}
{% if entry == "Consul" %}
<img class="service-mesh-image" src="{{site.baseurl}}/images/consul.svg" />
{% endif %}
{% if entry == "Traefik" %}
<img class="service-mesh-image" src="{{site.baseurl}}/images/traefik-mesh.svg" />
{% endif %}
{% if entry == "OSM" %}
<img class="service-mesh-image" src="{{site.baseurl}}/images/osm.svg" />
{% endif %}
{% if entry == "App Mesh" %}
<img class="service-mesh-image" src="{{site.baseurl}}/images/aws-app-mesh.svg" />
{% endif %}
{% if entry == "Kuma" %}
<img class="service-mesh-image" src="{{site.baseurl}}/images/Kuma.svg" />
{% endif %}
{% if entry == "Nginx" %}
<img class="service-mesh-image" src="{{site.baseurl}}/images/nginx-sm.svg" />
{% endif %}
{% if entry == "NSM" %}
<img class="service-mesh-image" src="{{site.baseurl}}/images/nsm.svg" />
{% endif %}
{% endfor %}
