---
layout: page
---

<div class="sub-heading">
  <div style="position:relative ;">
    <img class="patterns-coming-soon" src="{{site.baseurl}}/images/patterns-coming-soon.png" />
    <h3>What are Service Mesh Patterns?</h3>
    <p>Service Mesh Patterns help you confidently wield a service mesh by extracting best practices of service mesh use and harnessing the core value service meshes offer, irrespective of which service mesh you’re using.</p>
    </div>
    <h3>Pattern Management</h3>
    <p>You may bring your own patterns or find them available through your chosen provider. Each service mesh pattern carries a unique identifier for reference. The patterns in this repository serve in an educational capacity, facilitating learning, and also serve in an operational capacity, facilitating implementation and validation of your service mesh deployment’s adherence to a pattern.</p>
  </div>
  {% include partials/feature.html type="pattern" %}

{% include patterns-filter.html %}
<div class="catalog">
    {{ content }}
</div>
  {% include card-modal.html %}  
<!-- CARD-END -->