name: Release Drafter

on:
  push:
    # our release branch
    branches:
      - master

jobs:
  update_release_draft:
    runs-on: ubuntu-24.04
    steps:
      # Drafts your next Release notes as Pull Requests are merged into "master"
      - uses: release-drafter/release-drafter@v5
        with:
          config-name: release-drafter.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}